{# Display and edit account configuration. #}

{% extends "../base.html" %}

{% block head_title %}Account configuration{% end %}
{% block body_title %}Account configuration{% end %}

{% block action_content %}
{% module CancelButton(reverse_url('home')) %}
{% end %} {# block action_content #}

{% block main_content %}
<form action="{{ reverse_url('admin_account') }}" method="POST" role="form">
  {% module xsrf_form_html() %}

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="registration_open">
        Account registration open</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="registration_open" name="registration_open"
                 value="yes"
                 {{ settings['ACCOUNT_REGISTRATION_OPEN'] and 'checked' or '' }}>
          Yes, account registration is open to the general public.
          <br>
          If not, then only admin and staff can register new accounts.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="pi_info">PI info</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="pi_info" name="pi_info"
                 value="yes"
                 {{ settings['ACCOUNT_PI_INFO'] and 'checked' or '' }}>
          Yes, the input fields relevant for a Principal Investigator
          (PI) will be shown when registering an account.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="orcid_info">ORCID info</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="orcid_info" name="orcid_info"
                 value="yes"
                 {{ settings['ACCOUNT_ORCID_INFO'] and 'checked' or '' }}>
          Yes, the input field to provide the ORCID for the new account will be shown.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="postal_info">Postal address info</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="postal_info" name="postal_info"
                 value="yes"
                 {{ settings['ACCOUNT_POSTAL_INFO'] and 'checked' or '' }}>
          Yes, the input fields to provide the postal address will be shown.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="invoice_info">Invoice info</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="invoice_info" name="invoice_info"
                 value="yes"
                 {{ settings['ACCOUNT_INVOICE_INFO'] and 'checked' or '' }}>
          Yes, the input fields for invoicing will be shown.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="invoice_ref_required">
        Invoice reference required</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="invoice_ref_required" name="invoice_ref_required"
                 value="yes"
                 {{ settings['ACCOUNT_INVOICE_REF_REQUIRED'] and 'checked' or '' }}>
          Yes, the input field for the invoice reference must be
          filled in. This is relevant only if the input fields for
          invoicing are shown (see above).
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="funder_info_gender">Gender info</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="funder_info_gender" name="funder_info_gender"
                 value="yes"
                 {{ settings['ACCOUNT_FUNDER_INFO_GENDER'] and 'checked' or '' }}>
          Yes, the input field for gender is shown. This may be
          required by certain funders.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="funder_info_group_size">Group size info</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="funder_info_group_size" name="funder_info_group_size"
                 value="yes"
                 {{ settings['ACCOUNT_FUNDER_INFO_GROUP_SIZE'] and 'checked' or '' }}>
          Yes, the input field for group size is shown. This may be
          required by certain funders.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label class="control-label" for="funder_info_subject">Subject info</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="funder_info_subject" name="funder_info_subject"
                 value="yes"
                 {{ settings['ACCOUNT_FUNDER_INFO_SUBJECT'] and 'checked' or '' }}>
          Yes, the input field for subject is shown. This may be
          required by certain funders.
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-8">
      <label class="control-label" for="default_country_code">Default country</label>
      <select class="form-control" name="default_country_code" id="default_country_code">
        {% set country = settings['ACCOUNT_DEFAULT_COUNTRY_CODE'] %}
        {% for code, name in constants.COUNTRIES.items() %}
        <option value="{{ code }}" {{ country == code and 'selected' or '' }}>{{ name }}</option>
        {% end %}
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}
