{# Account message edit page. #}

{% extends "../base.html" %}

{% block head_title %}Edit account message '{{ text['name'] }}'{% end %}
{% block body_title %}Edit account message '{{ text['name'] }}'{% end %}

{% block main_content %}
<form action="{{ reverse_url('admin_account_message_edit', text['name']) }}"
      method="POST" role="form">
  {% module xsrf_form_html() %}

  <h4>{{ text.get('description') or '-' }}</h4>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
        <label for="subject">Subject line</label>
        <input type="text" id="subject" name="subject"
               class="form-control" value="{{ text.get('subject') or '' }}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
        <label for="recipients">Recipients</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="recipients" name="recipients"
                   value="{{ constants.ADMIN }}"
                   {{ constants.ADMIN in text['recipients'] and 'checked' or '' }}>
            {{ constants.ADMIN }}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="recipients"
                   value="{{ constants.STAFF }}"
                   {{ constants.STAFF in text['recipients'] and 'checked' or '' }}>
            {{ constants.STAFF }}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="recipients"
                   value="{{ constants.USER }}" 
                   {{ constants.USER in text['recipients'] and 'checked' or '' }}>
            {{ constants.USER }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
        <label for="text">Text content</label>
        <textarea id="text" name="text" rows="16" class="form-control"
                  >{{ text.get('text') or '' }}</textarea>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success btn-block">
          <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
      </div>
    </div>
  </div>

</form>

{% end %} {# block main_content #}

{% block action_content %}
<a href="{{ reverse_url('admin_account_messages') }}"
   role="button" class="btn btn-default btn-block">
  <span class="glyphicon glyphicon-remove"></span> Cancel
</a>
{% end %} {# block action_content #}
