{# Admin order message edit page. #}

{% extends "../base.html" %}

{% block head_title %}
Edit {{ terminology('order') }} message '{{ status['identifier'] }}'
{% end %}

{% block body_title %}
Edit {{ terminology('order') }} message '{{ status['identifier'] }}'
{% end %}

{% block action_content %}
{% module CancelButton(reverse_url('admin_order_messages')) %}
{% end %} {# block action_content #}

{% block main_content %}
<form action="{{ reverse_url('admin_order_message_edit', status['identifier']) }}"
      class="form-horizontal" method="POST" role="form">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label class="control-label col-md-2" for="recipients_admin">Recipients</label>
    <div class="col-md-10">
      {% for recipient in constants.ORDER_MESSAGE_RECIPIENTS %}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="recipients" id="recipients_{{ recipient }}"
                 value="{{ recipient }}"
                 {{ recipient in status['message']['recipients'] and 'checked' or '' }}>
          {{ recipient }}
        </label>
      </div>
      {% end %}
      <span class="help-block">
        <strong>admin</strong>: All administrators will receive the message.
        <br>
        <strong>staff</strong>: All staff accounts will receive the message.
        <br>
        <strong>owner</strong>: The owner of the
        {{ terminology('order') }} will receive the message.
        <br>
        <strong>group</strong>: The members of the group(s) of which
          the owner of the {{ terminology('order') }} is a member will
          receive the message.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="subject">Subject</label>
    <div class="col-md-10">
      <input type="text" id="subject" name="subject"
             class="form-control" value="{{ status['message']['subject'] }}">
      <span class="help-block">
        Subject line for the message. <strong>Required!</strong> If no
        subject line is provided, no message will be sent.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="text">Text</label>
    <div class="col-md-10">
      <textarea id="text" name="text" class="form-control" rows="16"
                >{{ status['message']['text'] }}</textarea>
      <span class="help-block">
        Text body of the message. <strong>Required!</strong> If no
        text body is provided, no message will be sent.
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
  </div>

</form>

{% include 'order_message_variables.html' %}

{% end %} {# block main_content #}
