{# Display and edit order configuration. #}

{% extends "../base.html" %}

{% block head_title %}{{ terminology('Order') }} configuration{% end %}
{% block body_title %}{{ terminology('Order') }} configuration{% end %}

{% block action_content %}
{% module CancelButton(reverse_url('home')) %}
{% end %} {# block action_content #}

{% block main_content %}
<form action="{{ reverse_url('admin_order') }}" method="POST" role="form"
      class="form-horizontal">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label class="control-label col-md-2" for="create_user">
      User create {{ terminology('orders') }}</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="create_user" name="create_user" value="yes"
                 {{ settings['ORDER_CREATE_USER'] and 'checked' or '' }}>
          Yes, ordinary users can create {{ terminology('orders') }}.
          <br>
          If not, then only admin and staff can create {{ terminology('orders') }}.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="tags">
      {{ terminology('Order') }} {{ terminology('tags') }}</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="tags" name="tags" value="yes"
                 {{ settings['ORDER_TAGS'] and 'checked' or '' }}>
          Yes, {{ terminology('orders') }} can be assigned {{ terminology('tags') }}.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="user_tags">
      User {{ terminology('order') }} {{ terminology('tags') }}</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="user_tags" name="user_tags" value="yes"
                 {{ settings['ORDER_USER_TAGS'] and 'checked' or '' }}>
          Yes, the users can see and edit the {{ terminology('tags') }}
          assigned to the {{ terminology('orders') }}.
          <br>
          However, staff may assign {{ terminology('tags') }} having a
          namespace prefix, e.g. <code>project_id:P12345</code>; these
          cannot be edited by the user.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="links">
      {{ terminology('Order') }} links</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="links" name="links" value="yes"
                 {{ settings['ORDER_LINKS'] and 'checked' or '' }}>
          Yes, {{ terminology('orders') }} can be assigned links.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="reports">
      {{ terminology('Order') }} reports</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="reports" name="reports" value="yes"
                 {{ settings['ORDER_REPORTS'] and 'checked' or '' }}>
          Yes, {{ terminology('orders') }} can have reports attached to them.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="display_max_recent">
      Max number of {{ terminology('orders') }} displayed
    </label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <input type="number" name="display_max_recent" id="display_max_recent"
                 class="form-control" min="1"
                 value="{{ settings['DISPLAY_MAX_RECENT_ORDERS'] or '10' }}">
        </div>
      </div>
      <span class="help-block">
        <p>
          For admin and staff, the maximum number of recently
          submitted orders displayed on the home page of the system.
        </p>
        <p>
          For users, the maximum number of the user's recent orders
          that are displayed on the home page of the system.
        </p>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="autopopulate">
      Autopopulate {{ terminology('order') }}
    </label>
    <div class="col-md-10">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{ terminology('Order') }} field name</th>
            <th>Account field name</th>
          </tr>
        </thead>
        <tbody>
          {% set autopopulate = settings['ORDER_AUTOPOPULATE'] %}
          {% for source in constants.ORDER_AUTOPOPULATE_SOURCES %}
          <tr>
            <td>
              <input type="text" name="{{ source }}" id="{{ source }}"
                     class="form-control"
                     value="{{ autopopulate.get(source) or  '' }}">
            </td>
            <td>
              <p class="form-control-static">{{ source }}</p>
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
      <span class="help-block">
        The named order fields will be filled in by the values of the
        specified account fields. There is no effect if the order does
        not contain the specified field name.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="terminology">Terminology</label>
    <div class="col-md-10">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Built-in term</th>
            <th>Term to use</th>
          </tr>
        </thead>
        <tbody>
          {% for term in constants.TERMINOLOGY_TERMS %}
          <tr>
            <td>
              <p class="form-control-static">{{ term }}</p>
            </td>
            <td>
              <input type="text" name="terminology_{{ term }}" id="terminology_{{ term }}"
                     class="form-control"
                     value="{{ terminology(term) }}">
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
      <span class="help-block">
        Certain terms used in the web interface can be changed. Give
        the terms to use. Character case does not matter.
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}
