{# Order messages admin page. #}

{% extends "../base.html" %}

{% block head_title %}{{ terminology('Order') }} messages{% end %}
{% block body_title %}{{ terminology('Order') }} messages{% end %}

{% block content %}
<h4>Templates for email messages about order status changes.</h4>

{% include 'order_message_variables.html' %}

<table class="table">
  <tr>
    <th>Status</th>
    <th>Recipients</th>
    <th>Subject</th>
    <th>Text</th>
    <th></th>
  </tr>
  {% for status in settings['ORDER_STATUSES_LOOKUP'].values() %}
  {% set msg = settings['ORDER_MESSAGES'].get(status['identifier'], dict()) %}
  <tr>
    <td>{% module Status(status['identifier']) %}</td>
    <td>{{ ', '.join(msg.get('recipients', [])) or '-' }}</td>
    <td>{{ msg.get('subject') or '-' }}</td>
    <td class="pre">{{ msg.get('text') or '-' }}</td>
    <td>
      <a href="{{ reverse_url('admin_order_message_edit', status['identifier']) }}"
         class="btn btn-sm btn-primary btn-block" role="button">Edit</a>
    </td>
  </tr>
  {% end %}
</table>
{% end %} {# block content #}
