{# Admin order statuses page. #}

{% extends "../base.html" %}

{% block head_title %}{{ terminology('Order') }} statuses{% end %}
{% block body_title %}{{ terminology('Order') }} statuses{% end %}

{% block content %}
{% if settings.get("ORDER_STATUSES_FILE") or settings.get("ORDER_TRANSITIONS_FILE") %}
<div class="well">
  <strong>NOTE!</strong> The site files named by settings ORDER_STATUSES_FILE and
  ORDER_TRANSITIONS_FILE are no longer used. Remove these from the 'settings.yaml'
  file and also the files themselves to avoid confusion.
</div>
{% end %}

<h4>Setup of order statuses and transitions.</h4>

<table class="table">
  <tr>
    <th>Status</th>
    <th>Description</th>
    <th>From</th>
    <th>To</th>
    <th>May edit {{ terminology('order') }}</th>
    <th>May attach to {{ terminology('order') }}</th>
    <th># orders</th>
    <th></th>
  </tr>
  {% for status in enabled %}
  <tr>
    <th>{% module Status(status['identifier']) %}</th>
    <td>{{ status['description'] }}</td>
    <td>
      {% if status.get('initial') %}
      <strong>[initial status]</strong><br>
      {% end %}
      {% for source, transition in targets.get(status["identifier"], {}).items() %}
      <strong>{{ source }}</strong>
      {% if transition.get('require_valid') %}<i>require valid</i>{% end %}
      ({{', '.join(transition['permission']) }})
      <br>
      {% end %}
    </td>
    <td>
      {% for target, transition in sources.get(status["identifier"], {}).items() %}
      <strong>{{ target }}</strong>
      {% if transition.get('require_valid') %}<i>require valid</i>{% end %}
      ({{', '.join(transition['permission']) }})
      <br>
      {% end %}
      {% if status['identifier'] != constants.PREPARATION %}
      <a href="{{ reverse_url('admin_order_transitions_edit', status['identifier']) }}",
         class="btn btn-sm btn-primary btn-block" role="button">
        <span class="glyphicon glyphicon-edit"></span> Edit transitions
      </a>
      {% end %}
    </td>
    <td>{{ ', '.join(sorted(set(['admin'] + status.get('edit', [])))) or '-' }}</td>
    <td>{{ ', '.join(sorted(set(['admin'] + status.get('attach', [])))) or '-' }}</td>
    <td>
      <a href="{{ reverse_url('orders', status=status['identifier']) }}" class="badge">
        {{ counts.get(status['identifier'], 0) }}
      </a>
    </td>
    <td>
      <a href="{{ reverse_url('admin_order_status_edit', status['identifier']) }}",
         class="btn btn-sm btn-primary btn-block" role="button">
        <span class="glyphicon glyphicon-edit"></span> Edit status
      </a>
    </td>
  </tr>
  {% end %} {# for status in enabled #}

  {% for status in not_enabled %}
  <tr>
    <th>{% module Status(status['identifier']) %}</th>
    <td colspan="6">
      <i>Not enabled</i>
    </td>
    <td>
      <form action="{{ reverse_url('order_status_enable', status['identifier']) }}"
            method="POST" role="form">
        {% module xsrf_form_html() %}
        <button type="submit" class="btn btn-default btn-block"
                onclick="return confirm('Cannot be undone! Really enable?');">
          Set to {% module Icon('enabled') %} Enabled
        </button>
      </form>
    </td>
  </tr>
  {% end %} {# for status in not_enabled #}
</table>
{% end %} {# block content #}
