{# Display and edit orders list configuration. #}

{% extends "../base.html" %}

{% block head_title %}{{ terminology('Orders') }} list configuration{% end %}
{% block body_title %}{{ terminology('Orders') }} list configuration{% end %}

{% block action_content %}
{% module CancelButton(reverse_url('home')) %}
{% end %} {# block action_content #}

{% block main_content %}
<form action="{{ reverse_url('admin_orders_list') }}" method="POST" role="form"
      class="form-horizontal">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label class="control-label col-md-2" for="owner_university">
      {{ terminology('Order') }} owner university</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="owner_university" name="owner_university"
                 value="yes"
                 {{ settings['ORDERS_LIST_OWNER_UNIVERSITY'] and 'checked' or '' }}>
          Yes, display the university of the {{ terminology('order') }} owner
          in the {{ terminology('orders') }} list.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="owner_department">
      {{ terminology('Order') }} owner department</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="owner_department" name="owner_department"
                 value="yes"
                 {{ settings['ORDERS_LIST_OWNER_DEPARTMENT'] and 'checked' or '' }}>
          Yes, display the department of the {{ terminology('order') }} owner
          in the {{ terminology('orders') }} list.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="owner_gender">
        {{ terminology('Order') }} owner gender</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="owner_gender" name="owner_gender" value="yes"
                 {{ settings['ORDERS_LIST_OWNER_GENDER'] and 'checked' or '' }}>
          Yes, display the gender of the {{ terminology('order') }} owner
          in the {{ terminology('orders') }} list.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="tags">
      {{ terminology('Orders') }} list {{ terminology('tags') }}</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="tags" name="tags" value="yes"
                 {{ settings['ORDERS_LIST_TAGS'] and 'checked' or '' }}>
          Yes, display the {{ terminology('tags') }} for an
          {{ terminology('order') }} in the {{ terminology('orders') }} list.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="statuses">
      {{ terminology('Orders') }} list statuses</label>
    <div class="col-md-10">
      {% for status in settings['ORDER_STATUSES_LOOKUP'] %}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="statuses" value="{{ status }}"
                 {{ status in settings['ORDERS_LIST_STATUSES'] and 'checked' or '' }}>
          {% module Status(status) %}
        </label>
      </div>
      {% end %}
      <span class="help-block">
        For each checked status, a column will be displayed in the
        {{ terminology('orders') }} list showing the date of the
        transition into the status.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="fields">
      {{ terminology('Orders') }} list fields</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5">
          <textarea id="fields" name="fields" class="form-control" rows="4"
                    >{{ '\n'.join(settings['ORDERS_LIST_FIELDS']) }}</textarea>
        </div>
      </div>
      <span class="help-block">
        Display a column for each {{ terminology('order') }} field
        given by its identifier. The field does not have to exist in
        every {{ terminology('order') }}.
        <br>
        Give one field identifier per line.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="orders_filter_field_remove">
      Remove {{ terminology('orders') }} filter field(s)</label>
    <div class="col-md-10">
      {% for f in settings['ORDERS_FILTER_FIELDS'] %}
      <div class="checkbox">
        <label>
          <input type="checkbox" id="orders_filter_field_remove"
                 name="orders_filter_field_remove" value="{{ f['identifier'] }}">
          {{ f.get('label') or f['identifier'] }}
        </label>
      </div>
      {% end %}
      <span class="help-block">
        Check the current orders filters to remove.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="orders_filter_field">
      Add {{ terminology('orders') }} filter field</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <textarea id="orders_filter_field" name="orders_filter_field"
                    class="form-control" rows="6"></textarea>
        </div>
      </div>
      <span class="help-block">
        <p>
          Add a new order filter for the orders list by giving a
          specification for an order field to use. YAML format must be
          used to specify a dictionary, where 'identifier' (a string)
          and 'values' (a list of strings" are required. 'label' is
          optional.
        </p>
        <p>
          An example:
          <pre>
identifier: assigned_node
label: Assigned node
values:
  - Stockholm
  - "Uppsala SNP&amp;SEQ"
  - Uppsala UGC
  - Not assigned
</pre>
        </p>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="orders_most_recent">
      Max most recent</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4">
          <input type="number" id="orders_most_recent" name="orders_most_recent"
                 class="form-control" min="10"
                 value="{{ settings['DISPLAY_ORDERS_MOST_RECENT'] }}">
        </div>
      </div>
      <span class="help-block">
        The maximum number of most recently modified
        {{ terminology('orders') }} fetched by default for the
        {{ terminology('orders') }} list.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="display">
      Default column to sort {{ terminology('orders') }} list by</label>
    <div class="col-md-10">
      <div class="radio">
        <label>
          <input type="radio" name="default_order_column" value="identifier"
                 {{ settings['DEFAULT_ORDER_COLUMN'] == 'identifier' and 'checked' }}>
          Identifier
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="default_order_column" value="modified"
                 {{ settings['DEFAULT_ORDER_COLUMN'] == 'modified' and 'checked' }}>
          Modified
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="display">
      Default {{ terminology('orders') }} list sort direction</label>
    <div class="col-md-10">
      <div class="radio">
        <label>
          <input type="radio" name="default_order_sort" value="desc"
                 {{ settings['DEFAULT_ORDER_SORT'] == 'desc' and 'checked' }}>
          Descending
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="default_order_sort" value="asc"
                 {{ settings['DEFAULT_ORDER_SORT'] == 'asc' and 'checked' }}>
          Ascending
        </label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-offset-2 col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}
