{# Settings display page. #}

{% extends "../base.html" %}

{% block head_title %}Settings{% end %}
{% block body_title %}Settings{% end %}

{% block content %}
<h4>Site-specific values for some configuration variables.</h4>

<div class="well">
  <p>
    Settings are read on startup of the server process. If a value for
    a setting is changed, the server process must be restarted.
  </p>
  <p>
    The settings values are determined in the following way:
    <ol>
      <li>
        Initial values are defined in the DEFAULT_SETTINGS dictionary in the
        source code file <code>OrderPortal/orderportal/config.py</code>.
      </li>
      <li>
        The values found in a YAML settings file, if any, updates the settings.
        <ol>
          <li>
            Read the YAML file given by environment variable
            <code>ORDERPORTAL_SETTINGS_FILEPATH</code>, if defined.
          </li>
          <li>
            Otherwise, read the file <code>OrderPortal/site/settings.yaml</code>,
            if it exists.
          </li>
        </ol>
      </li>
      <li>      
        The value given by an environment variable will be used, if it is defined.
      </li>
      <ol>
        <li>
          Enviroment variables may be defined for the process in the normal way.
        </li>
        <li>
          Environment variables may also be defined in in the file
          <code>OrderPortal/orderportal/.env</code>, if it exists. This
          does <strong>not</strong> overwrite any already existing
          environment variables. This uses the Python third-party
          package <a href="https://pypi.org/project/python-dotenv/">python-dotenv</a>.
        </li>
      </ol>
    </ol>
  </p>
</div>

<table class="table">
  {% for key in sorted(safe_settings) %}
  <tr>
    <th>{{ key }}</th>
    <td>{% raw safe_settings.get(key) %}</td>
  </tr>
  {% end %}
</table>
{% end %} {# block content #}
