{# Information page. #}

{% extends "../base.html" %}

{% block head_title %}{{ info.get('title') or info['name'] }}{% end %}
{% block body_title %}{{ info.get('title') or info['name'] }}{% end %}

{% block main_content %}
{% module Markdown(info.get('text'), safe=True) %}
{% end %} 

{% block action_content %}
{% if am_admin %}
<p>
  <a href="{{ reverse_url('info_edit', info['name']) }}"
     class="btn btn-primary btn-block" role="button">
    <span class="glyphicon glyphicon-edit"></span> Edit
  </a>
</p>
<p>
  <form action="{{ reverse_url('info', info['name']) }}"
        method="POST" role="form" style="margin-top: 20px;">
    {% module xsrf_form_html() %}
    <input type="hidden" name="_http_method" value="delete">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Cannot be undone! Really delete?');">
      <span class="glyphicon glyphicon-trash"></span> Delete</button>
  </form>
</p>
{% end %} {# if am_admin #}

<p>
  <div>
    {% for name, info_title in infos %}
    <li>
      <a href="{{ reverse_url('info', name) }}">{{ info_title or name }}</a>
    </li>
    {% end %}
  </div>
</p>
{% end %} {# action_block content #}
