{# Information pages list page. #}

{% extends "../base.html" %}

{% block head_title %}Information pages{% end %}
{% block body_title %}Information pages{% end %}

{% block container %}
<div class="container-fluid">
{% end %}

{% block content %}
{% if am_admin %}
<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <a href="{{ reverse_url('info_create') }}"
       class="btn btn-primary btn-block" role="form">
      <span class="glyphicon glyphicon-plus"></span> Create
    </a>
  </div>
</div>
<br>
{% end %} {# if am_admin #}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Menu</th>
          <th>Modified</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for info in all_infos %}
        <tr>
          <td>{{ info['name'] }}</td>
          <td>{{ info.get('title') or '-' }}</td>
          <td>{{ info.get('menu') or '-' }}</td>
          <td><span  class="localtime">{{ info['modified'] }}</span></td>
          <td>
            <a href="{{ reverse_url('info_edit', info['name']) }}"
               class="btn btn-primary btn-xs" role="button">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
          </td>
          <td>
            <form action="{{ reverse_url('info', info['name']) }}"
                  method="POST" role="form">
              {% module xsrf_form_html() %}
              <input type="hidden" name="_http_method" value="delete">
              <button type="submit" class="btn btn-danger btn-xs"
                      onclick="return confirm('Cannot be undone! Really delete?');">
                <span class="glyphicon glyphicon-trash"></span> Delete</button>
            </form>
          </td>
          <td>{% module LogsLink(info) %}</td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}{# block content #}
