{# Order edit fields recursive display. #}

{% for field in fields %}

{# Check if field may not be read or edited. #}
{% if (field['restrict_read'] or field['restrict_write']) and not am_staff %}
{% continue %}
{% end %}

{# Update hidden fields set; remaining will be output by order/edit.html. #}
{% set garbage = hidden_fields.discard(field['identifier']) %}

{% set label = field.get('label') or field['identifier'].capitalize().replace('_', ' ') %}

{# Is there a visibility condition? #}
{% set visible_if_field = field.get('visible_if_field') %}

{% if visible_if_field %}
<div class="row visible-if"
     data-if-id="{{ visible_if_field }}"
     data-if-val="{% module NoneStr(field.get('visible_if_value')) %}">
{% else %}
<div class="row">
{% end %} {# if visible_if_field #}

{% if field['type'] == constants.GROUP %}

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        {{ label }}
        {% if field['restrict_read'] %}
        &nbsp;
        <span class="glyphicon glyphicon-eye-open" title="Readable by staff only.">
        </span>
        {% end %}
        {% if field['restrict_write'] %}
        &nbsp;
        <span class="glyphicon glyphicon-pencil" title="Writeable by admin only.">
        </span>
        {% end %}
        <div style="margin-right: 2em;" class="pull-right">
          {% if field['identifier'] in order['invalid'] %}
          <span class="text-danger">
            <span class="glyphicon glyphicon-remove"></span>
            {{ order['invalid'][field['identifier']] }}
          </span>
          {% else %}
          <span class="text-success">
            <span class="glyphicon glyphicon-ok"></span> OK</span>
          {% end %}
        </div>
      </h4>
      <div>
        {% module Markdown(field.get('description')) %}
      </div>
    </div>
    <div class="panel-body">
      {# Recursion: 'include' cannot be used! #}
      {% module Template('order/fields_edit.html', order=order, fields=field['fields'], am_staff=am_staff, hidden_fields=hidden_fields) %}
    </div>
  </div>
</div>

{% else %} {# if field['type'] == constants.GROUP #}

<div class="col-md-12">
  <div class="form-group has-feedback">

    {% set value = order['fields'].get(field['identifier']) %}
    <label class="control-label" for="{{ field['identifier'] }}">
      {{ label }}
      {% if field['restrict_read'] %}
      &nbsp;
      <span class="glyphicon glyphicon-eye-open" title="Readable by staff only."></span>
      {% end %}
      {% if field['restrict_write'] %}
      &nbsp;
      <span class="glyphicon glyphicon-pencil" title="Writeable by admin only."></span>
      {% end %}
      <span style="margin-right: 6em;" class="form-control-feedback nobr">
        {% if field['identifier'] in order['invalid'] %}
        <span class="text-danger">
          <span class="glyphicon glyphicon-remove"></span>
          {{ order['invalid'][field['identifier']] }}
        </span>
        {% elif value in (None, '') %}
        <span class="text-warning">
          <span class="glyphicon glyphicon-question-sign"></span> No value is OK</span>
        {% else %}
        <span class="text-success">
          <span class="glyphicon glyphicon-ok"></span> OK</span>
        {% end %}
      </span>
    </label>

    {% if field['type'] == constants.BOOLEAN %}
    {% if field.get('checkbox') %}
    <div class="checkbox">
      <label>
        <input type="checkbox" class="visible-if-source"
               name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
               {{ value == True and 'checked' or '' }} value="true">
        Check box if "{{ field.get('selection') == 'yes_no' and 'yes' or 'true' }}".
      </label>
    </div>
    {% else %}
    <div class="visible-if-source" id="{{ field['identifier'] }}">
      <label class="radio-inline">
        <input type="radio" name="{{ field['identifier'] }}"
               {{ value == True and 'checked' or '' }} value="true"
               > {{ field.get('selection') == 'yes_no' and 'Yes' or 'True' }}
      </label>
      <label class="radio-inline">
        <input type="radio" name="{{ field['identifier'] }}"
               {{ value == False and 'checked' or '' }} value="false"
               > {{ field.get('selection') == 'yes_no' and 'No' or 'False' }}
      </label>
    </div>
    {% end %} {# if field.get('checkbox') #}

    {% elif field['type'] == constants.SELECT %}

    {% if field.get('display') == 'radio' %}
    <div>
      {% for v in field['select'] %}
      <label class="radio-inline">
        <input type="radio" class="visible-if-source"
               {# XXX This is not proper HTML. But it works... #}
               name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
               value="{{ v }}" {{ v == value and 'checked' or '' }}>{{ v }}
      </label>
      {% end %}
    </div>
        
    {% elif field.get('display') == 'radio-newline' %}
    {% for v in field['select'] %}
    <div class="radio">
      <label>
        <input type="radio" class="visible-if-source"
               {# XXX This is not proper HTML. But it works... #}
               name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
               value="{{ v }}" {{ v == value and 'checked' or '' }}>{{ v }}
      </label>
    </div>
    {% end %}
        
    {% else %} {# default 'menu' #}
    <select class="form-control visible-if-source"
            name="{{ field['identifier'] }}" id="{{ field['identifier'] }}">
      {% if value is None %}
      <option selected value="">[none]</option>
      {% else %}
      <option value="">[none]</option>
      {% end %}
      {% set in_optgroup = False %}
      {% for v in field['select'] %}
      {% if v == value %}
      <option selected>{{ v }}</option>
      {% elif v.startswith('-') %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      <optgroup label="{{ v.lstrip('-').lstrip() }}">
      {% else %}
      <option>{{ v }}</option>
      {% end %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      {% end %}
    </select>
    {% end %} {# if field.get('display') == 'radio' #}

    {% elif field['type'] == constants.MULTISELECT %}
    <select class="form-control visible-if-source"
            name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
            multiple size="{{ min(8, len(field['multiselect']) + 1) }}">
      {% set in_optgroup = False %}
      {% set value = value or [] %}
      {% for v in field['multiselect'] %}
      {% if v in value %}
      <option selected>{{ v }}</option>
      {% elif v.startswith('-') %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      <optgroup label="{{ v.lstrip('-').lstrip() }}">
      {% else %}
      <option>{{ v }}</option>
      {% end %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      {% end %}
    </select>

    {% elif field['type'] == constants.TEXT %}
    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control"
                  name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
                  {% if field.get('maxlength') %}
                  maxlength="{{ field['maxlength'] }}"
                  {% end %}
                  >{{ value or '' }}</textarea>
        {% if field['type'] == constants.TEXT %}
        <small>
          {% if field.get('maxlength') %}
          Max {{ field['maxlength'] }} characters.
          {% end %}
          {% if settings['DISPLAY_TEXT_MARKDOWN_NOTATION_INFO'] %}
          <a href="{{ constants.MARKDOWN_INFO_URL }}" target="_blank">
            Markdown</a> notation may optionally be used to format the text.
          {% end %}
          </small>
        {% end %}
      </div>
    </div>

    {% elif field['type'] == constants.DATE %}
    {# This requires jQuery datepicker! Loaded in the HTML template calling this. #}
    <div class="row">
      <div class="col-md-3">
        <input type="text"
               name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
               class="form-control datepicker visible-if-source"
               value="{{ value or '' }}">
      </div>
      <div class="col-md-4 help-block">
        Date format: yyyy-mm-dd
      </div>
    </div>

    {% elif field['type'] == constants.TABLE %}
    <div class="row">
      <div class="col-md-12">
        {% module TableFieldEdit(field, value) %}
        <small>
          To delete a row, remove the contents of its first field, or
          set it to the value "[no value]".
          <br>
          To add more rows, click "Save and continue edit" below, and resume editing.
          </small>
      </div>
    </div>

    {% elif field['type'] == constants.FILE %}
    <input type="file"
           name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
           class="form-control">
    {% if value %}
    <div class="checkbox">
      <label>
        <input type="checkbox"
               id="{{ field['identifier'] }}__remove__"
               name="{{ field['identifier'] }}__remove__"
               {{ value == True and 'checked' or '' }} value="true">
        Remove current file <b>{{ value }}</b>
      </label>
    </div>
    {% end %}

    {% elif field['type'] == constants.FLOAT %}
    <div class="row">
      <div class="col-md-4">
        <input type="number" step="{{ constants.FLOAT_STEP }}"
               name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
               class="form-control visible-if-source"
               value="{{ '' if value is None else value }}"> {# Value 0.0 must be shown! #}
      </div>
    </div>

    {% elif field['type'] == constants.INT %}
    <div class="row">
      <div class="col-md-3">
        <input type="{{ constants.TYPE_HTML.get(field['type'], 'text') }}"
               name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
               class="form-control visible-if-source"
               value="{{ '' if value is None else value }}"> {# Value 0 must be shown! #}
      </div>
    </div>

    {% else %} {# All other field types: STRING, EMAIL, URL #}
    <input type="{{ constants.TYPE_HTML.get(field['type'], 'text') }}"
           name="{{ field['identifier'] }}" id="{{ field['identifier'] }}"
           class="form-control visible-if-source"
           value="{{ value or '' }}">
    {% end %} {# elif field['type'] == #}
    
    {% if field['required'] %}
    {% if field.get('display') == 'menu' %} {# field type SELECT #}
    <span style="color:red; margin-right: 2em;"
          class="glyphicon glyphicon-star form-control-feedback"
          aria-hidden="true">
    </span>
    {% else %}
    <span style="color:red; margin-right: 1em;"
          class="glyphicon glyphicon-star form-control-feedback"
          aria-hidden="true">
    </span>
    {% end %}
    {% end %} {# if field['required'] #}

    <div class="row">
      <div class="col-md-12 help-block">
        {% module Markdown(field.get('description')) %}
      </div>
    </div>

  </div>
</div>

{% end %} {# if field['type'] == constants.GROUP #}

</div> {# if visible_if_field #}

{% end %} {# for field in fields #}
