{# Order report page. #}

{% extends "../base.html" %}

{% block head_title %}
Report for {{ terminology('order') }} '{{ order['title'] }}'
{% end %}

{% block body_title %}
Report for {{ terminology('order') }} '{{ order['title'] }}'
{% end %}

{% block main_content %}
<h2>{{ terminology('Order') }} identifier: {% module OrderLink(order) %}</h2>

{% if content_type == constants.TEXT_MIMETYPE %}
<pre>{{ content }}</pre>
{% else %}
  {% raw content %}
{% end %}

<p>
  <i>Uploaded
    <span class="localtime">{{ order['report']['timestamp'] }}</span>
  </i>
</p>

{% end %} {# block main_content #}
