{# Account edit page. #}

{% extends "../base.html" %}

{% block head_title %}Edit account {{ account['email'] }}{% end %}

{% block body_title %}Edit account {{ account['email'] }}{% end %}

{% block action_content %}
{% module CancelButton(reverse_url('account', account['email'])) %}
{% end %} {# block action_content #}

{% block main_content %}
<p>
The email address of your account cannot be changed, since it is the
unique identifier for the account. If your email address has changed,
then you must create a new account with the new email address. The
administrator of the site can then change the ownership of your
{{ terminology('orders') }} to the new account.
</p>

<form action="{{ reverse_url('account_edit', account['email']) }}"
      class="form-horizontal" method="POST" role="form">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="first_name">First name</label>
    <div class="col-md-10">
      <input type="text" name="first_name" id="first_name"
             class="form-control" aria-describedby="first_nameHelp"
             value="{{ account.get('first_name') or '' }}">
      <span style="color:red; margin-right: 1em;"
            class="glyphicon glyphicon-star form-control-feedback"
            aria-hidden="true"></span>
      <span id="first_nameHelp" class="help-block">
        <strong>NOTE: Required!</strong><br>
      </span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="last_name">Last name</label>
    <div class="col-md-10">
      <input type="text" name="last_name" id="last_name"
             class="form-control" aria-describedby="last_nameHelp"
             value="{{ account.get('last_name') or '' }}">
      <span style="color:red; margin-right: 1em;"
            class="glyphicon glyphicon-star form-control-feedback"
            aria-hidden="true"></span>
      <span id="last_nameHelp" class="help-block">
        <strong>NOTE: Required!</strong><br>
      </span>
    </div>
  </div>

  {% if am_admin %}
  <div class="form-group">
    <label class="control-label col-md-2" for="role">Role</label>
    <div class="col-md-10">
      <select class="form-control" name="role" id="role">
        {% for role in constants.ACCOUNT_ROLES %}
        {% set selected = role == account['role'] and 'selected' or '' %}
        <option {{ selected }}>{{ role }}</option>
        {% end %}
      </select>
    </div>
  </div>
  {% end %}

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="university">University</label>
    <div class="col-md-10">
      <div class="row">
        {% if settings['UNIVERSITIES'] %}
        <div class="col-md-6">
          <select name="university" id="university"
                  class="form-control" aria-describedby="universityHelp">
            {% set other = True %}
            {% for abbrev, data in settings['UNIVERSITIES'].items() %}
            {% if account.get('university') == abbrev %}
            {% set other = False %}
            {% set selected = 'selected' %}
            {% else %}
            {% set selected = '' %}
            {% end %}
            <option {{selected}} value="{{ abbrev }}">
              {{ abbrev }}
              {% if data.get('name') %} ({{ data.get('name') }}) {% end %}
            </option>
            {% end %}
            {% if other %}
            <option selected value="">[not available in list]</option>
            {% else %}
            <option value="">[not available in list]</option>
            {% end %}
          </select>
          <span style="color:red; margin-right: 2em;"
                class="glyphicon glyphicon-star form-control-feedback"
                aria-hidden="true"></span>
        </div>
        <div class="col-md-6">
          <input type="text" name="university_other" id="university_other"
                 class="form-control" aria-describedby="universityHelp"
                 placeholder="Provide full name if not available in the list."
                 value="{{ other and account.get('university') or '' }}">
        </div>
        {% else %}
        <div class="col-md-12">
          <input type="text" name="university" id="university"
                 class="form-control" aria-describedby="universityHelp"
                 value="{{ account.get('university') or '' }}">
          <span style="color:red; margin-right: 1em;"
                class="glyphicon glyphicon-star form-control-feedback"
                aria-hidden="true"></span>
        </div>
        {% end %} {# if settings['UNIVERSITIES'] #}
      </div>
      <div class="row">
        <div class="col-md-12">
          <span id="universityHelp" class="help-block">
            <strong>NOTE: Required!</strong><br>
            Main affiliation: University, college, company, organization, or similar.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="department">Department</label>
    <div class="col-md-10">
      <input type="text" name="department" id="department"
             class="form-control" aria-describedby="departmentHelp"
             value="{{ account.get('department') or '' }}">
      <span id="departmentHelp" class="help-block">
        University department, company section, group, or similar.
      </span>
    </div>
  </div>

  {% if settings['ACCOUNT_PI_INFO'] %}
  <div class="form-group">
    <label class="control-label col-md-2" for="pi">Principal Investigator</label>
    <div class="col-md-10">
      <div  class="form-control">
        <input type="checkbox" name="pi" id="pi" value="true"
               {{ account.get('pi') and 'checked' or '' }}> Yes
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_PI_INFO'] #}

  {% if settings['ACCOUNT_ORCID_INFO'] %}
  <div class="form-group">
    <label class="control-label col-md-2" for="orcid">ORCID</label>
    <div class="col-md-10">
      <input type="text" name="orcid" id="orcid"
             class="form-control" aria-describedby="orcidHelp"
             value="{{ account.get('orcid') or '' }}">
      {% if settings['ACCOUNT_ORCID_REQUIRED'] %}
      <span style="color:red; margin-right: 1em;"
            class="glyphicon glyphicon-star form-control-feedback"
            aria-hidden="true"></span>
      {% end %}
      <span id="orcidHelp" class="help-block">
        {% if settings['ACCOUNT_ORCID_REQUIRED'] %}
        <strong>NOTE: Required!</strong><br>
        {% end %}
        Persistent digital identifier for researchers.
        See the <a href="https://orcid.org/" target="_blank">ORCID website</a>.
      </span>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_ORCID_INFO'] #}

  {% if settings['ACCOUNT_FUNDER_INFO_GENDER'] or settings['ACCOUNT_FUNDER_INFO_GROUP_SIZE'] or settings['ACCOUNT_FUNDER_INFO_SUBJECT'] %}
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Information required by our funders for reporting purposes.
        </div>
        <div class="panel-body">

          {% if settings.get('ACCOUNT_FUNDER_INFO_GENDER') %}
          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="gender">Gender</label>
            <div class="col-md-10">
              <div>
                {% for gender in ['male', 'female', 'other'] %}
                <label class="radio-inline">
                  <input type="radio" name="gender"
                         {{ gender == account.get('gender') and 'checked' or '' }}
                         value="{{ gender }}"> {{ gender.capitalize() }}
                </label>
                {% end %}
              </div>
            </div>
          </div>
          {% end %} {# if settings.get('ACCOUNT_FUNDER_INFO_GENDER') #}

          {% if settings.get('ACCOUNT_FUNDER_INFO_GROUP_SIZE') %}
          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="gender">Group size</label>
            <div class="col-md-10">
              <input type="number" name="group_size" id="group_size"
                     class="form-control" aria-describedby="group_sizeHelp"
                     value="{{ account.get('group_size') or '' }}">
              <span id="group_sizeHelp" class="help-block">
                If you are a Principal Investigator (PI), specify the
                approximate number of members in your group.
              </span>
            </div>
          </div>
          {% end %} {# if settings.get('ACCOUNT_FUNDER_INFO_GROUP_SIZE') #}

          {% if settings.get('ACCOUNT_FUNDER_INFO_SUBJECT') and settings['SUBJECT_TERMS'] %}
          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="subject">Subject</label>
            <div class="col-md-10">
              <select name="subject" id="subject"
                      class="form-control" aria-describedby="subjectHelp">
                {% for subject in settings['SUBJECT_TERMS'] %}
                <option value="{{ subject['code'] }}"
                        {{ subject['code'] == account.get('subject') and 'selected' or '' }}>
                  {{ '- ' * subject['level'] + subject['term'] }}
                </option>
                {% end %}
              </select>
              <span id="subjectHelp" class="help-block">
                Select the subject term that best characterizes your field.
              </span>
            </div>
          </div>
          {% end %} {# if settings.get('ACCOUNT_FUNDER_INFO_SUBJECT') and settings['SUBJECT_TERMS'] #}

        </div>
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_FUNDER'...] #}

  {% if settings['ACCOUNT_POSTAL_INFO'] %}
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Postal address; for delivery of paper documents, returned samples, etc.
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_university">University</label>
            <div class="col-md-10">
              <input type="text" name="postal_university" id="postal_university"
                     class="form-control" aria-describedby="postal_universityHelp"
                     value="{{ account['address'].get('university') or ''}}">
              <span id="postal_universityHelp" class="help-block">
                University, college, company, organization, or similar.
                If empty, the value from the university field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_department">Department</label>
            <div class="col-md-10">
              <input type="text" name="postal_department" id="postal_department"
                     class="form-control" aria-describedby="postal_departmentHelp"
                     value="{{ account['address'].get('department') or ''}}">
              <span id="postal_departmentHelp" class="help-block">
                University department, company section, group, or similar.
                If empty, the value from the department field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_address">Address</label>
            <div class="col-md-10">
              <textarea name="postal_address" id="postal_address" rows="2"
                        class="form-control" aria-describedby="postal_addressHelp"
                        >{{ account['address'].get('address') or '' }}</textarea>
              <span id="postal_addressHelp" class="help-block">
                Institution, building, street, number, post box, etc.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_zip">Zip code</label>
            <div class="col-md-10">
              <input type="text" name="postal_zip" id="postal_zip"
                     class="form-control" aria-describedby="postal_zipHelp"
                     value="{{ account['address'].get('zip') or '' }}">
              <span id="postal_zipHelp" class="help-block">
                Postal code.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_city">City</label>
            <div class="col-md-10">
              <input type="text" name="postal_city" id="postal_city"
                     class="form-control"
                     value="{{ account['address'].get('city') or '' }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_country">Country</label>
            <div class="col-md-10">
              <select class="form-control" name="postal_country" id="postal_country">
                <option value="">[none]</option>
                {% set country = account['address'].get('country') %}
                {% for code, name in constants.COUNTRIES.items() %}
                <option value="{{ code }}" {{ country == code and 'selected' or '' }}>{{ name }}</option>
                {% end %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_POSTAL_INFO'] #}

  {% if settings['ACCOUNT_INVOICE_INFO'] %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Invoice reference and address.
        </div>
        <div class="panel-body">

          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="invoice_ref">Invoice reference</label>
            <div class="col-md-10">
              <input type="text" name="invoice_ref" id="invoice_ref"
                     class="form-control" aria-describedby="invoice_refHelp"
                     value="{{ account.get('invoice_ref') or '' }}">
              {% if settings['ACCOUNT_INVOICE_REF_REQUIRED'] %}
              <span style="color:red; margin-right: 1em;"
                    class="glyphicon glyphicon-star form-control-feedback"
                    aria-hidden="true"></span>
              {% end %} {# if settings['ACCOUNT_INVOICE_REF_REQUIRED'] #}
              <span id="invoice_refHelp" class="help-block">
                {% if settings['ACCOUNT_INVOICE_REF_REQUIRED'] %}
                <strong>NOTE: Required!</strong>
                {% end %} {# if settings['ACCOUNT_INVOICE_REF_REQUIRED'] #}
                Invoice reference code required on your invoices for your accounting.
                Some services may be free of charge.
              </span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="invoice_ref">Invoice VAT number</label>
            <div class="col-md-10">
              <input type="text" name="invoice_vat" id="invoice_vat"
                     class="form-control" aria-describedby="invoice_vatHelp"
                     value="{{ account.get('invoice_vat') or '' }}">
              <span id="invoice_vatHelp" class="help-block">
                Invoice VAT number for your university/company/organization.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_university">University</label>
            <div class="col-md-10">
              <input type="text" name="invoice_university" id="invoice_university"
                     class="form-control" aria-describedby="invoice_universityHelp"
                     value="{{ account['invoice_address'].get('university') or ''}}">
              <span id="invoice_universityHelp" class="help-block">
                University, college, company, organization, or similar.
                <br>
                If empty, the value from the university field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_department">Department</label>
            <div class="col-md-10">
              <input type="text" name="invoice_department" id="invoice_department"
                     class="form-control" aria-describedby="invoice_departmentHelp"
                     value="{{ account['invoice_address'].get('department') or ''}}">
              <span id="invoice_departmentHelp" class="help-block">
                University department, company section, group, or similar.
                If empty, the value from the department field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_address">Address</label>
            <div class="col-md-10">
              <textarea name="invoice_address" id="invoice_address" rows="2"
                        class="form-control" aria-describedby="invoice_addressHelp"
                        >{{ account['invoice_address'].get('address') or '' }}</textarea>
              <span id="invoice_addressHelp" class="help-block">
                Street, number, post box, building, etc.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_zip">Zip code</label>
            <div class="col-md-10">
              <input type="text" name="invoice_zip" id="invoice_zip"
                     class="form-control" aria-describedby="invoice_zipHelp"
                     value="{{ account['invoice_address'].get('zip') or '' }}">
              <span id="invoice_zipHelp" class="help-block">
                Postal code.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_city">City</label>
            <div class="col-md-10">
              <input type="text" name="invoice_city" id="invoice_city"
                     class="form-control"
                     value="{{ account['invoice_address'].get('city') or '' }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_country">Country</label>
            <div class="col-md-10">
              <select name="invoice_country" id="invoice_country" class="form-control">
                <option value="">[none]</option>
                {% set country = account['invoice_address'].get('country') %}
                {% for code, name in constants.COUNTRIES.items() %}
                <option value="{{ code }}"  {{ country == code and 'selected' or '' }}>{{ name }}</option>
                {% end %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_INVOICE_INFO'] #}

  <div class="form-group">
    <label class="control-label col-md-2" for="phone">Phone</label>
    <div class="col-md-10">
      <textarea name="phone" id="phone" rows="2"
                class="form-control" aria-describedby="phoneHelp"
                >{{ account.get('phone') or '' }}</textarea>
      <span id="phoneHelp" class="help-block">
        One or more telephone numbers, one per line.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="other_data">Other data</label>
    <div class="col-md-10">
      <textarea name="other_data" id="other_data" rows="3"
                class="form-control" aria-describedby="other_dataHelp"
                  >{{ account.get('other_data') or '' }}</textarea>
      <span id="other_dataHelp" class="help-block">
        Miscellaneous user data from other sources.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="api_key">API key</label>
    <div class="col-md-10">
      <div  class="form-control">
        <input type="checkbox" name="api_key" id="api_key" value="true">
        Set new API key
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block javascript_autofocus %}
<script>
  $(function(){ $("#first_name").focus(); });
</script>
{% end %}
