{# Login page. #}

{% extends "../base.html" %}

{% block head_title %}Login{% end %}
{% block body_title %}Login{% end %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <form action="{{ reverse_url('login') }}" method="POST" role="form">
      {% module xsrf_form_html() %}
      {% if next %}
      <input type="hidden" name="next" id="name" value="{{ next }}">
      {% end %}
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email"
               placeholder="Email address of your account">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group"> 
        <button type="submit" class="btn btn-info btn-block">
          <span class="glyphicon glyphicon-log-in"></span>
          Login
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
  </div>
</div>

{% end %}
