{# Messages page for a recipient. #}

{% extends "../base.html" %}

{% block head_title %}Messages to {{ account['email'] }}{% end %}

{% block body_title %}Messages to {% module AccountLink(account) %}{% end %}

{% block content %}
<table id="messages" class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th width="80%">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for msg in messages %}
    <tr>
      <td class="localtime">{{ msg['modified'] }}</td>
      <td>
        <table>
          <tr>
            <td>
              <button type="button" class="btn btn-default btn-xs"
                      data-toggle="collapse" data-target="#{{ msg['_id'] }}">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              {{ msg['subject'] }}
            </td>
          </tr>
          <tr id="{{ msg['_id'] }}" class="collapse">
            <td>
              <div class="panel panel-default">
                <div class="panel-heading">
                  Email sent to {{ ', '.join(msg['recipients']) }}
                </div>
                <div class="panel-body pre">
                  {{ msg['text'] }}
                </div>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %} {# block content #}

{% block javascript_code %}
<script>
  $(function() { 
    $("#messages").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
      "order": [[0, "desc"]],
    });
  });
</script>
{% end %}
