{# Register new account page. #}

{% extends "../base.html" %}

{% block head_title %}Register new account{% end %}
{% block body_title %}Register new account{% end %}

{% block main_content %}
{% if settings['ACCOUNT_REGISTRATION_OPEN'] or am_staff %}
<div class="well">
  {% module Text('register', origin=reverse_url('register')) %}
</div>

<form action="{{ reverse_url('register') }}" class="form-horizontal"
      method="POST" role="form">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="email">Email</label>
    <div class="col-md-10">
      <input type="email" name="email" id="email"
             class="form-control" aria-describedby="emailHelp"
             value="{{ values.get('email') or '' }}">
      <span style="color:red; margin-right: 1em;"
            class="glyphicon glyphicon-star form-control-feedback"
            aria-hidden="true"></span>
      <span id="emailHelp" class="help-block">
        <strong>NOTE: Required!</strong><br>
        Your email address is your account name in this portal. It cannot
        be changed once set.
        <strong>Use your institutional email address</strong>,
        rather than your personal Google, Yahoo or similar address.
      </span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="first_name">First name</label>
    <div class="col-md-10">
      <input type="text" name="first_name" id="first_name"
             class="form-control" aria-describedby="first_nameHelp"
             value="{{ values.get('first_name') or '' }}">
      <span style="color:red; margin-right: 1em;"
            class="glyphicon glyphicon-star form-control-feedback"
            aria-hidden="true"></span>
      <span id="first_nameHelp" class="help-block">
        <strong>NOTE: Required!</strong><br>
      </span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="last_name">Last name</label>
    <div class="col-md-10">
      <input type="text" name="last_name" id="last_name"
             class="form-control" aria-describedby="last_nameHelp"
             value="{{ values.get('last_name') or '' }}">
      <span style="color:red; margin-right: 1em;"
            class="glyphicon glyphicon-star form-control-feedback"
            aria-hidden="true"></span>
      <span id="last_nameHelp" class="help-block">
        <strong>NOTE: Required!</strong><br>
      </span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="university">University</label>
    <div class="col-md-10">
      <div class="row">
        {% if settings['UNIVERSITIES'] %}
        <div class="col-md-6">
          <select name="university" id="university"
                  class="form-control" aria-describedby="universityHelp">
            {% set other = True %}
            <option value="">[select from the list below]</option>
            {% for abbrev, data in settings['UNIVERSITIES'].items() %}
            {% if abbrev == values.get('university') %}
            {% set selected = 'selected' %}
            {% set other = False %}
            {% else %}
            {% set selected = '' %}
            {% end %}
            <option {{ selected }} value="{{ abbrev }}">
              {{ abbrev }}
              {% if data.get('name') %} ({{ data.get('name') }}) {% end %}
            </option>
            {% end %}
          </select>
          <span style="color:red; margin-right: 2em;"
                class="glyphicon glyphicon-star form-control-feedback"
                aria-hidden="true"></span>
        </div>
        <div class="col-md-6">
          <input type="text" name="university_other" id="university_other"
                 class="form-control" aria-describedby="universityHelp"
                 value="{{ other and values.get('university') or ''}}"
                 placeholder="Provide full name of university if not in list.">
        </div>
        {% else %}
        <div class="col-md-12">
          <input type="text" name="university" id="university"
                 class="form-control" aria-describedby="universityHelp"
                 value="{{ values.get('university') or ''}}">
          <span style="color:red; margin-right: 1em;"
                class="glyphicon glyphicon-star form-control-feedback"
                aria-hidden="true"></span>
        </div>
        {% end %} {# if settings['UNIVERSITIES'] #}
      </div>
      <div class="row">
        <div class="col-md-12">
          <span id="universityHelp" class="help-block">
            <strong>NOTE: Required!</strong><br>
            Main affiliation: University, college, company, organization, or similar.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="department">Department</label>
    <div class="col-md-10">
      <input type="text" name="department" id="department"
             class="form-control" aria-describedby="departmentHelp"
             value="{{ values.get('department') or '' }}">
      <span id="departmentHelp" class="help-block">
        University department, company section, group, or similar.
      </span>
    </div>
  </div>

  {% if settings['ACCOUNT_PI_INFO'] %}
  <div class="form-group">
    <label class="control-label col-md-2" for="pi">Principal Investigator</label>
    <div class="col-md-10">
      <div class="form-control">
        <input type="checkbox" name="pi" id="pi" value="true"
               {{ values.get('pi') and 'checked' or '' }}> Yes
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_PI_INFO'] #}

  {% if settings['ACCOUNT_ORCID_INFO'] %}
  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="orcid">ORCID</label>
    <div class="col-md-10">
      <input type="text" name="orcid" id="orcid"
             class="form-control" aria-describedby="orcidHelp"
             value="{{ values.get('orcid') or '' }}">
      {% if settings['ACCOUNT_ORCID_REQUIRED'] %}
      <span style="color:red; margin-right: 1em;"
            class="glyphicon glyphicon-star form-control-feedback"
            aria-hidden="true"></span>
      {% end %}
      <span id"orcidHelp" class="help-block">
        {% if settings['ACCOUNT_ORCID_REQUIRED'] %}
        <strong>NOTE: Required!</strong><br>
        {% end %}
        Persistent digital identifier for researchers.
        See the <a href="https://orcid.org/" target="_blank">ORCID website</a>.
      </span>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_ORCID_INFO'] #}

  {% if settings['ACCOUNT_FUNDER_INFO_GENDER'] or settings['ACCOUNT_FUNDER_INFO_GROUP_SIZE'] or settings['ACCOUNT_FUNDER_INFO_SUBJECT'] %}
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Information required by our funders for reporting purposes.
        </div>
        <div class="panel-body">

          {% if settings['ACCOUNT_FUNDER_INFO_GENDER'] %}
          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="gender">Gender</label>
            <div class="col-md-10">
              <div>
                {% for gender in ['male', 'female', 'other'] %}
                <label class="radio-inline">
                  <input type="radio" name="gender"
                         {{ gender == values.get('gender') and 'checked' or '' }}
                         value="{{ gender }}"> {{ gender.capitalize() }}
                </label>
                {% end %}
              </div>
            </div>
          </div>
          {% end %} {# if settings['ACCOUNT_FUNDER_INFO_GENDER'] #}

          {% if settings['ACCOUNT_FUNDER_INFO_GROUP_SIZE'] %}
          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="gender">Group size</label>
            <div class="col-md-3">
              <input type="number" name="group_size" id="group_size"
                     class="form-control" aria-describedby="group_sizeHelp"
                     value="{{ values.get('group_size') or '0' }}">
            </div>
            <span id="group_sizeHelp" class="help-block">
              If you are a Principal Investigator (PI), specify the
              approximate number of members in your group.
            </span>
          </div>
          {% end %} {# if settings['ACCOUNT_FUNDER_INFO_GROUP_SIZE'] #}

          {% if settings['ACCOUNT_FUNDER_INFO_SUBJECT'] and settings['SUBJECT_TERMS'] %}
          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="subject">Subject</label>
            <div class="col-md-10">
              <select class="form-control" name="subject" id="subject">
                {% for subject in settings['SUBJECT_TERMS'] %}
                <option value="{{ subject['code'] }}"
                        {{ str(subject['code']) == values.get('subject') and 'selected' or ''}}>
                  {{ '- ' * subject['level'] + subject['term'] }}
                </option>
                {% end %}
              </select>
            </div>
          </div>
          {% end %} {# if settings['ACCOUNT_FUNDER_INFO_SUBJECT'] and settings['SUBJECT_TERMS'] #}

        </div>
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_FUNDER'...] #}

  {% if settings['ACCOUNT_POSTAL_INFO'] %}
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Postal address for delivery of paper documents, returned samples, etc.
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_university">University</label>
            <div class="col-md-10">
              <input type="text" name="postal_university" id="postal_university"
                     class="form-control" aria-describedby="postal_universityHelp"
                     value="{{ values.get('postal_university') or ''}}">
              <span id="postal_universityHelp" class="help-block">
                University, college, company, organization, or similar.
                If empty, the value from the university field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_department">Department</label>
            <div class="col-md-10">
              <input type="text"  name="postal_department"id="postal_department"
                     class="form-control" aria-describedby="postal_departmentHelp"
                     value="{{ values.get('postal_department') or ''}}">
              <span id="postal_departmentHelp" class="help-block">
                University department, company section, group, or similar.
                If empty, the value from the department field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_address">Address</label>
            <div class="col-md-10">
              <textarea name="postal_address" id="postal_address" rows="2" 
                        class="form-control" aria-describedby="postal_addressHelp"
                        >{{ values.get('address') or '' }}</textarea>
              <span id="postal_addressHelp" class="help-block">
                Street, number, post box, building, etc.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_zip">Zip code</label>
            <div class="col-md-10">
              <input type="text" name="postal_zip" id="postal_zip"
                     class="form-control" aria-describedby="postal_zipHelp"
                     value="{{ values.get('zip') or ''}}">
              <span id="postal_zipHelp" class="help-block">
                Postal code.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_city">City</label>
            <div class="col-md-10">
              <input type="text" name="postal_city" id="postal_city"
                     class="form-control"
                     value="{{ values.get('city') or '' }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="postal_country">Country</label>
            <div class="col-md-10">
              <select name="postal_country" id="postal_country" class="form-control">
                {% set country = values.get('country') or settings['ACCOUNT_DEFAULT_COUNTRY_CODE'] %}
                {% for code, name in constants.COUNTRIES.items() %}
                <option value="{{ code }}" {{ country == code and 'selected' or '' }}>{{ name }}</option>
                {% end %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_POSTAL_INFO'] #}
  
  {% if settings['ACCOUNT_INVOICE_INFO'] %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Invoice reference and address.
        </div>
        <div class="panel-body">

          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="invoice_ref">Invoice reference</label>
            <div class="col-md-10">
              <input type="text" name="invoice_ref" id="invoice_ref"
                     class="form-control" aria-describedby="invoice_refHelp"
                     value="{{ values.get('invoice_ref') or '' }}">
              {% if settings['ACCOUNT_INVOICE_REF_REQUIRED'] %}
              <span style="color:red; margin-right: 1em;"
                    class="glyphicon glyphicon-star form-control-feedback"
                    aria-hidden="true"></span>
              {% end %}
              <span id="invoice_refHelp"> class="help-block">
                {% if settings['ACCOUNT_INVOICE_REF_REQUIRED'] %}
                <strong>NOTE: Required!</strong><br>
                {% end %}
                Invoice reference code required on your invoices for your accounting.
                Some services may be free of charge.
              </span>
            </div>
          </div>
  
          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="invoice_vat">Invoice VAT number</label>
            <div class="col-md-10">
              <input type="text" name="invoice_vat" id="invoice_vat"
                     class="form-control" aria-describedby="invoice_vatHelp"
                     value="{{ values.get('invoice_vat') or '' }}">
              <span id="invoice_vatHelp" class="help-block">
                Invoice VAT number for your university/company/organization.
              </span>
            </div>
          </div>
  
          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_university">University</label>
            <div class="col-md-10">
              <input type="text" name="invoice_university" id="invoice_university"
                     class="form-control" aria-describedby="invoice_universityHelp"
                     value="{{ values.get('invoice_university') or ''}}">
              <span id="invoice_universityHelp" class="help-block">
                University, college, company, organization, or similar.
                If empty, the value from the university field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_department">Department</label>
            <div class="col-md-10">
              <input type="text" name="invoice_department" id="invoice_department"
                     class="form-control" aria-describedby="invoice_departmentHelp"
                     value="{{ values.get('invoice_department') or ''}}">
              <span id="invoice_departmentHelp" class="help-block">
                University department, company section, group, or similar.
                If empty, the value from the department field above will be used.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_address">Address</label>
            <div class="col-md-10">
              <textarea name="invoice_address" id="invoice_address" rows="2
                        class="form-control"" aria-describedby="invoice_addressHelp"
                        >{{ values.get('invoice_address') or '' }}</textarea>
              <span id="invoice_addressHelp" class="help-block">
                Street, number, post box, building, etc.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_zip">Zip code</label>
            <div class="col-md-10">
              <input type="text" name="invoice_zip" id="invoice_zip"
                     class="form-control" aria-describedby="invoice_zipHelp"
                     value="{{ values.get('invoice_zip') or ''}}">
              <span id="invoice_zipHelp" class="help-block">
                Postal code.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_city">City</label>
            <div class="col-md-10">
              <input type="text" name="invoice_city" id="invoice_city"
                     class="form-control"
                     value="{{ values.get('invoice_city') or '' }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="invoice_country">Country</label>
            <div class="col-md-10">
              <select name="invoice_country" id="invoice_country" class="form-control">
                {% set country = values.get('invoice_country') or settings['ACCOUNT_DEFAULT_COUNTRY_CODE'] %}
                {% for code, name in constants.COUNTRIES.items() %}
                <option value="{{ code }}" {{ country == code and 'selected' or '' }}>{{ name }}</option>
                {% end %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% end %} {# if settings['ACCOUNT_INVOICE_INFO'] #}
  
  <div class="form-group">
    <label class="control-label col-md-2" for="phone">Phone</label>
    <div class="col-md-10">
      <textarea name="phone" id="phone" rows="2"
                class="form-control" aria-describedby="phoneHelp"
                >{{ values.get('phone') or ''}}</textarea>
      <span id="phoneHelp" class="help-block">
        One or more telephone numbers, one per line.
      </span>
    </div>
  </div>
  
  {% if am_staff %}
  <div class="form-group">
    <label class="control-label col-md-2" for="send_email">Send email</label>
    <div class="col-md-10">
      <div  class="form-control">
        <input type="checkbox" name="send_email" id="send_email" value="true">
        Send email to the user informing about this registration.
      </div>
    </div>
  </div>
  {% end %} {# if am_staff #}
  
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Register
      </button>
    </div>
  </div>

</form>

<div class="well">
  {% module Text('privacy_policy', origin=reverse_url('register')) %}
</div>

{% else %} {# if settings['ACCOUNT_REGISTRATION_OPEN'] or am_staff #}
<div class="lead alert alert-warning">
  User registration has been switched off. Contact the admin of the site.
</div>
{% end %} {# if settings['ACCOUNT_REGISTRATION_OPEN'] or am_staff #}
{% end %} {# block main_content #}

{% block action_content %}
{% module CancelButton(reverse_url('home')) %}
{% end %} {# block action_content #}
