{# Order status admin page. #}

{% extends "base.html" %}

{% block head_title %}{{ terminology('Order') }} statuses{% end %}

{% block body_title %}{{ terminology('Order') }} statuses{% end %}

{% block main_content %}

<div class="well">
  <p>
    All {{ terminology('orders') }} have one and only one status at
    all times.  The status value is one of those defined in the YAML
    file
    <code>{{ settings.get('ORDER_STATUSES_FILE') }}</code>
    in <strong>SITE_DIR</strong> which is read on startup of the
    OrderPortal server.
  </p>
  <p>
    To change the set of allowed status values, the YAML file must be
    edited and the OrderPortal server restarted. Only the sysadmin for
    the server machine can do this. A status can be added, <b>but must
    never be removed</b>, since orders with that deleted status would
    become invalid.
  </p>
  <p>
    The allowed transitions between statuses are defined in the YAML file 
    <code>{{ settings.get('ORDER_TRANSITIONS_FILE') }}</code> 
    in <strong>SITE_DIR</strong> which is read on startup of the
    OrderPortal server.
  </p>
  <p>
    To change the allowed transitions, the YAML file must be edited and
    the OrderPortal server restarted. Only the sysadmin for the server
    machine can do this. There are no hard restrictions on changing
    transitions.
  </p>
</div>

<table class="table table-condensed">
  <tr>
    <th>Status</th>
    <th>Description</th>
    <th>From</th>
    <th>To</th>
    <th>May edit {{ terminology('order') }}</th>
    <th>May attach to {{ terminology('order') }}</th>
    <th># orders</th>
  </tr>
  {% for status in settings['ORDER_STATUSES'] %}
  <tr>
    <th>{% module Icon(status['identifier'], label=True) %}</th>
    <td>
      {{ status['description'] }}
      {% if status.get('initial') %}
      <br><strong>Initial status.</strong>
      {% end %}
    </td>
    <td>
      {% set none = '[none]' %}
      {% set first = True %}
      {% for trans in settings['ORDER_TRANSITIONS'] %}
      {% if status['identifier'] in trans['targets'] %}
      {% if first %}
      {% set first = False %}
      {% else %}
      <br>
      {% end %}
      {% set none = '' %}
      <strong>{{ trans['source'] }}</strong>
      ({{', '.join(trans['permission']) }})
      {% end %}
      {% end %}
      {{ none }}
    </td>
    <td>
      {% set none = '[none]' %}
      {% set first = True %}
      {% for trans in settings['ORDER_TRANSITIONS'] %}
      {% if status['identifier'] == trans['source'] %}
      {% for target in trans['targets'] %}
      {% if first %}
      {% set first = False %}
      {% else %}
      <br>
      {% end %}
      {% set none = '' %}
      <strong>{{ target }}</strong>
      ({{', '.join(trans['permission']) }})
      {% end %}
      {% end %}
      {% end %}
      {{ none }}
    </td>
    <td>
      {{ ', '.join(sorted(set(['admin'] + status.get('edit', [])))) or '-' }}
    </td>
    <td>
      {{ ', '.join(sorted(set(['admin'] + status.get('attach', [])))) or '-' }}
    </td>
    <td class="text-right">
      <a href="{{ reverse_url('orders', status=status['identifier']) }}"
         class="badge">
        {{ counts.get(status['identifier'], 0) }}
      </a>
    </td>
  </tr>
  {% end %}
</table>
{% end %} {# block main_content #}
