{# Admin orders list edit page. #}

{% extends "base.html" %}

{% block head_title %}Edit {{ terminology('Orders') }} list parameters{% end %}

{% block body_title %}Edit {{ terminology('Orders') }} list parameters{% end %}

{% block main_content %}
<form action="{{ reverse_url('admin_orders_list') }}"
      method="POST" role="form">
<div class="row">
  <div class="col-md-3">
    <b>Order tags</b>
  </div>
  <div class="col-md-3">
    Display the tags for an order in the orders list.
  </div>
  <div class="col-md-6">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       id=""
                       name="checkbox"
                   value="yes"
                   {{ field.get('checkbox') and 'checked' or '' }}>
            Display the field as a checkbox: Otherwise as a selection.
          </label>
        </div>
            
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
  </div>
</div>  
</form>
{% end %} {# block main_content #}
