{# Order status admin page. #}

{% extends "base.html" %}

{% block head_title %}{{ terminology('Order') }} statuses{% end %}

{% block body_title %}{{ terminology('Order') }} statuses{% end %}

{% block main_content %}

<div class="well">
  <p>
    All {{ terminology('orders') }} have one and only one status at
    all times.
  </p>
  {% if settings.get("ORDER_STATUSES_FILE") or settings.get("ORDER_TRANSITIONS_FILE") %}
  <p>
    <strong>NOTE!</strong> The site files named by settings ORDER_STATUSES_FILE and
    ORDER_TRANSITIONS_FILE are no longer used. Remove these settings and files to
    avoid confusion.
  </p>
  {% end %}
</div>

<table class="table table-condensed">
  <tr>
    <th>Status</th>
    <th>Description</th>
    <th>From</th>
    <th>To</th>
    <th>May edit {{ terminology('order') }}</th>
    <th>May attach to {{ terminology('order') }}</th>
    <th># orders</th>
  </tr>
  {% for status in settings['ORDER_STATUSES'] %}
  {% if status.get("enabled") %}
  <tr>
    <th>{% module Icon(status['identifier'], label=True) %}</th>
    <td>
      {{ status['description'] }}
      {% if status.get('initial') %}
      <br><strong>Initial status.</strong>
      {% end %}
    </td>
    <td>
      {% set none = '[none]' %}
      {% set first = True %}
      {% for trans in settings['ORDER_TRANSITIONS'] %}
      {% if status['identifier'] in trans['targets'] %}
      {% if first %}
      {% set first = False %}
      {% else %}
      <br>
      {% end %}
      {% set none = '' %}
      <strong>{{ trans['source'] }}</strong>
      ({{', '.join(trans['permission']) }})
      {% end %}
      {% end %}
      {{ none }}
    </td>
    <td>
      {% set none = '[none]' %}
      {% set first = True %}
      {% for trans in settings['ORDER_TRANSITIONS'] %}
      {% if status['identifier'] == trans['source'] %}
      {% for target in trans['targets'] %}
      {% if first %}
      {% set first = False %}
      {% else %}
      <br>
      {% end %}
      {% set none = '' %}
      <strong>{{ target }}</strong>
      ({{', '.join(trans['permission']) }})
      {% end %}
      {% end %}
      {% end %}
      {{ none }}
    </td>
    <td>
      {{ ', '.join(sorted(set(['admin'] + status.get('edit', [])))) or '-' }}
    </td>
    <td>
      {{ ', '.join(sorted(set(['admin'] + status.get('attach', [])))) or '-' }}
    </td>
    <td class="text-right">
      <a href="{{ reverse_url('orders', status=status['identifier']) }}"
         class="badge">
        {{ counts.get(status['identifier'], 0) }}
      </a>
    </td>
  </tr>
  {% end %} {# if status.get("enabled") #}
  {% end %} {# for status in settings['ORDER_STATUSES'] #}

  {% for status in settings['ORDER_STATUSES'] %}
  {% if not status.get("enabled") %}
  <tr>
    <th>{% module Icon(status['identifier'], label=True) %}</th>
    <td colspan="6">
      <i>Not enabled</i>
    </td>
  </tr>
  {% end %} {# if status.get("enabled") #}
  {% end %} {# for status in settings['ORDER_STATUSES'] #}
</table>
{% end %} {# block main_content #}
