{# Table of descriptions of variables to use in account messages. #}
<div class="well">
<table class="table">
  <caption>
    Variables available for use in the subject and text content of account messages.
  </caption>
  <tr>
    <th>Variable</th>
    <th>Value</th>
  </tr>
  <tr>
    <td><code>{site}</code></td>
    <td>The name of the OrderPortal site.</td>
  </tr>
  <tr>
    <td><code>{support}</code></td>
    <td>The contact email for the OrderPortal site.</td>
  </tr>
  <tr>
    <td><code>{account}</code></td>
    <td>The email of the user account.</td>
  </tr>
  <tr>
    <td><code>{url}</code></td>
    <td>The URL of the used account.</td>
  </tr>
  <tr>
    <td><code>{password_url}</code></td>
    <td>The URL for the password setting page, if relevant.</td>
  </tr>
  <tr>
    <td><code>{password_code_url}</code></td>
    <td>
      The URL for the password setting page, including code and user
      account email, if relevant.
    </td>
  </tr>
  <tr>
    <td><code>{code}</code></td>
    <td>The password setting code, if relevent.</td>
  </tr>
</table>
</div>
