{# Admin order transitions edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit {{ terminology('order') }} transitions from '{{ status['identifier'] }}'
{% end %}

{% block body_title %}
Edit {{ terminology('order') }} transitions from '{{ status['identifier'] }}'
{% end %}

{% block main_content %}
<table class="table">
  <tr>
    <th>To status</th>
    <th>Permission</th>
    <th>Require valid</th>
    <th></th>
  </tr>
  {% for target, value in targets.items() %}
  <tr>
    <th>{{ target }}</th>
    <td>{{ ', '.join(value['permission']) }}</td>
    <td>{{ value.get('require_valid') and 'yes' or 'no' }}</td>
    <td>
      <form action="{{ reverse_url('admin_order_transitions_edit', status['identifier']) }}"
            method="POST" role="button">
        {% module xsrf_form_html() %}
        <input type="hidden" name="_http_method" value="delete">
        <button type="submit" name="target"
                class="btn btn-danger"
                value="{{ target }}">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
      </form>
    </td>
  </tr>
  {% end %}
</table>

<form action="{{ reverse_url('admin_order_transitions_edit', status['identifier']) }}"
      method="POST" role="form">
  {% module xsrf_form_html() %}
  <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-save"></span> Save
  </button>
</form>

{% end %} {# block main_content #}

{% block action_content %}
<form action="{{ reverse_url('admin_order_statuses') }}"
      method="GET" role="form">
    <button type="submit" class="btn btn-default btn-block">
      <span class="glyphicon glyphicon-remove"></span> Cancel
    </button>
</form>
{% end %} {# block action_content #}
