{# Texts list page. #}

{% extends "base.html" %}

{% block head_title %}Texts{% end %}
{% block body_title %}Texts{% end %}

{% block content %}
<h4>Short texts displayed in various pages.</h4>

<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Type</th>
      <th>Description</th>
      <th width="10%"></th>
    </tr>
  </thead>
  <tbody>
    {% for text in texts %}
    <tr>
      <td>{{ text['name'] }}</td>
      <td>{{ text['type'] }}</td>
      <td>{{ text['description'] }}</td>
      <td>
        <a href="{{ reverse_url('text_edit', text['name']) }}"
           class="btn btn-primary btn-sm btn-block" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %} {# block content #}
