{# Settings display page. #}

{% extends "base.html" %}

{% block head_title %}Settings{% end %}
{% block body_title %}Settings{% end %}

{% block content %}
<h4>Site-specific values for some configuration variables.</h4>

<div class="well">
  <p>
    The settings are defined in the YAML settings file given by
    <strong>SETTINGS_FILE</strong> (see below), which is read on
    startup of the OrderPortal server.
  </p>
  {% if obsolete %}
  <p class="text-danger">
    Some obsolete settings variables are set; see below. Remove them to avoid confusion.
  </p>
  {% end %}
  <p>
    To change the settings, the YAML file must be edited and the
    OrderPortal server restarted. Only the sysadmin for the server
    machine can do this.
  </p>
  <p>
    The full list of configuration variables is in the dictionary 'settings'
    in the <code>OrderPortal/orderportal/__init__.py</code> file.
  </p>
</div>

<table class="table">
  {% for key in sorted(settings) %}
  <tr>
    <th>{{ key }}</th>
    <td>{% raw settings.get(key) %}</td>
  </tr>
  {% end %}
</table>
{% end %} {# block content #}
