{# Account messages admin page. #}

{% extends "base.html" %}

{% block head_title %}Account messages{% end %}
{% block body_title %}Account messages{% end %}

{% block content %}
<h4>Templates for email messages about account status changes.</h4>

<div class="well">
  <p>
    The account messages are defined in the YAML file
    <code>{{ settings.get('ACCOUNT_MESSAGES_FILE') }}</code>
    in <strong>SITE_DIR</strong> which is read on startup of the
    OrderPortal server.
  </p>
  <p>
    To change the messages, the YAML file must be edited and the
    OrderPortal server restarted. Only the sysadmin for the server
    machine can do this.
  </p>
  <table class="table">
    <tr>
      <th>Variable</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><code>{site}</code></td>
      <td>The name of the OrderPortal site.</td>
    </tr>
    <tr>
      <td><code>{support}</code></td>
      <td>The contact email for the OrderPortal site.</td>
    </tr>
    <tr>
      <td><code>{account}</code></td>
      <td>The email of the account.</td>
    </tr>
    <tr>
      <td><code>{url}</code></td>
      <td>The URL of the account.</td>
    </tr>
    <tr>
      <td><code>{password_url}</code></td>
      <td>The URL for the password setting page.</td>
    </tr>
    <tr>
      <td><code>{password_code_url}</code></td>
      <td>The URL for the password setting page, including code and account email..</td>
    </tr>
    <tr>
      <td><code>{code}</code></td>
      <td>The password setting code.</td>
    </tr>
  </table>
</div>

<table class="table">
  <tr>
    <th>Status</th>
    <th>Recipients</th>
    <th>Subject</th>
    <th>Text</th>
  </tr>
  {% set statuses = constants.ACCOUNT_STATUSES + [constants.RESET] %}
  {% for status in  statuses %}
  {% set msg = settings['ACCOUNT_MESSAGES'].get(status, dict()) %}
  <tr>
    <td>{% module Icon(status, label=True) %}</td>
    <td>{{ ', '.join(msg.get('recipients', [])) or '-' }}</td>
    <td>{{ msg.get('subject') or '-' }}</td>
    <td class="pre">{{ msg.get('text') or '-' }}</td>
  </tr>
  {% end %}
</table>
{% end %} {# block content #}
