<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{{ settings['SITE_NAME'] }}{% end %}</title>
    <link rel="shortcut icon"
          href="{{ reverse_url('site', settings['SITE_FAVICON']) }}">
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">       {% block css_page %}
    {% end %}
    <link rel="stylesheet" href="{{ static_url('mods.css') }}">
    {% if settings['SITE_CSS_FILE'] %}
 <link rel="stylesheet" href="{{ reverse_url('site', settings['SITE_CSS_FILE']) }}">
    {% end %}
  </head>

  <body>
    <nav class="navbar navbar-static-top {{ settings['DISPLAY_MENU_LIGHT'] and 'navbar-default' or 'navbar-inverse' }}">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if settings['SITE_NAVBAR_ICON'] %}
          <a class="navbar-brand" href="{{ reverse_url('home') }}">
            <img src="{{ reverse_url('site', settings['SITE_NAVBAR_ICON']) }}"
                 title="{{ settings['SITE_NAME'] }}"
                 alt="{{ settings['SITE_NAME'] }}">
          </a>
          {% end %}
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
              <a id="home" href="{{ reverse_url('home') }}">
                <span class="glyphicon glyphicon-home"></span>
              </a>
            </li>
            {% if current_user %}
            {% if am_staff %}
            <li>
              <a href="{{ reverse_url('orders') }}">
                {{ terminology('Orders') }}</a>
            </li>
            {% else %}
            <li>
              <a href="{{ reverse_url('account_orders', current_user['email']) }}">
                My {{ terminology('orders') }}
              </a>
            </li>
            {% end %} {# if am_staff #}
            {% end %} {# if current_user #}

            {% if am_admin %}
            <li><a href="{{ reverse_url('forms') }}">Forms</a></li>
            {% end %} {# if am_admin #}

            {% if am_staff %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Accounts <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ reverse_url('accounts') }}">All accounts</a>
                </li>
                <li>
                  <a href="{{ reverse_url('accounts', status='pending') }}">
                    Pending accounts</a>
                </li>
                <li>
                  <a href="{{ reverse_url('accounts', role='admin') }}">
                    Admin accounts</a>
                </li>
                <li>
                  <a href="{{ reverse_url('groups') }}">All groups</a>
                </li>
                {% if am_staff %}
                <li>
                  <a href="{{ reverse_url('register') }}">
                    Register new account</a>
                </li>
                <li>
                  <a href="{{ reverse_url('reset') }}">Reset password</a>
                </li>
                <li>
                  <a href="{{ reverse_url('password') }}">Set password</a>
                </li>
                {% end %} {# if am_staff #}
              </ul>
            </li>
            {% end %} {# if am_staff #}

            {% if settings['DISPLAY_MENU_INFORMATION'] %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Information <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if am_admin %}
                <li>
                  <a href="{{ reverse_url('infos') }}">All info pages</a>
                </li>
                {% end %} {# if am_admin #}
                {% for name, info_title in infos %}
                <li>
                  <a href="{{ reverse_url('info', name) }}">
                    {{ info_title or name }}</a>
                </li>
                {% end %}
              </ul>
            </li>
            {% end %}

            {% if settings['DISPLAY_MENU_DOCUMENTS'] %}
            <li>
              <a href="{{ reverse_url('files') }}">Documents</a>
            </li>
            {% end %}

            {% if am_admin %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ reverse_url('files') }}">Documents</a>
                </li>
                <li>
                  <a href="{{ reverse_url('texts') }}">Texts</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_order') }}">
                    {{ terminology('Order') }} configuration</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_order_statuses') }}">
                    {{ terminology('Order') }} status configuration</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_orders_list') }}">
                    {{ terminology('Orders') }} list configuration</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_order_messages') }}">
                    {{ terminology('Order') }} messages configuration</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_account') }}">
                    Account configuration</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_account_messages') }}">
                    Account messages configuration</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_database') }}">Database</a>
                </li>
                <li>
                  <a href="{{ reverse_url('admin_settings') }}">Settings</a>
                </li>
                <li>
                  <a href="{{ reverse_url('software') }}">Software</a>
                </li>
              </ul>
            </li>
            {% end %} {# if am_admin #}

            {% if settings['DISPLAY_MENU_CONTACT'] %}
            <li>
              <a href="{{ reverse_url('contact') }}">Contact</a>
            </li>
            {% end %}
            {% if settings['DISPLAY_MENU_ABOUT_US'] %}
            <li>
              <a href="{{ reverse_url('about') }}">About us</a>
            </li>
            {% end %}
            {% if settings['DISPLAY_MENU_ITEM_URL'] %}
            <li>
              <a href="{{ settings['DISPLAY_MENU_ITEM_URL'] }}">
                {{ settings.get('DISPLAY_MENU_ITEM_TEXT') or 'Back to website' }}
              </a>
            </li>
            {% end %}

          </ul>

          <div>
            <ul class="nav navbar-nav navbar-right">
              {% if current_user %}
              <li id="logged-in">
                {% module Entity(current_user, icon=False) %}
              </li>
              {% end %} {# if current_user #}
              {% block search_field %}
              {% if current_user %}
              <li>
                <form action="{{ reverse_url('search') }}"
                      method="GET" role="form" class="navbar-form form-inline">
                  <div class="form-group has-feedback">
                    <input type="search" id="term" name="term"
                           class="form-control"
                           placeholder="Search {{ terminology('orders') }}">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </li>
              {% end %} {# if current_user #}
              {% end %} {# block search_field #}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% block container %} {# default max-width container for body content #}
    <div class="container">
    {% end %}

      {% if alert %}
      <div class="row">
        <div class="col-md-12">
          <div class="lead alert alert-danger" style="margin: 4px;" role="alert">
            {% if am_admin %}
            <a href="{{ reverse_url('text_edit', 'alert', origin=reverse_url('home')) }}"
               class="btn btn-primary btn-xs pull-right" role="button">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
            {% end %} {# if am_admin #}
            {% raw alert %}
          </div>
        </div>
      </div>
      {% end %} {# if alert #}

      {% block body_header %}
      <div class="row">
        <div class="col-md-10">
          <h1>{% block body_title %}OrderPortal{% end %}</h1>
        </div>
        <div class="col-md-2 hidden-print" style="margin-top: 20px">
          {% block body_header_alt_format %}
          {% end %}
        </div>
      </div>
      {% end %} {# block body_header #}

      {% if error %}
      <div class="row">
        <div class="col-md-12 lead alert alert-danger">
          <strong>Error:</strong> {{ error }}
        </div>
      </div>
      {% end %} {# if error #}

      {% if message %}
      <div class="row">
        <div class="col-md-12 lead alert alert-warning">
          {# Allow links in message #}
          <strong>Message:</strong> {% raw message %}
        </div>
      </div>
      {% end %} {# if message #}

      {% block content %}
      <div class="row">
        <div class="col-md-10">
          {% block main_content %}
          {% end %} {# block main_content #}
        </div>
        <div class="col-md-2 hidden-print">
          {% block action_content %}
          {% end %} {# block action_content #}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% block sub_main_content %}
          {% end %} {# block sub_main_content #}
        </div>
      </div>
      {% end %} {# block content #}

    </div> {# end of container for body content #}

    <div class="container-fluid">
      <hr>
      <div class="row">
        <div class="col-md-3">
          {% if settings['SITE_HOST_URL'] %}
          <a href="{{ settings['SITE_HOST_URL'] or '#' }}" target="_blank">
            {% if settings['SITE_HOST_ICON'] %}
            <img src="{{ reverse_url('site', settings['SITE_HOST_ICON']) }}"
                 title="Site host {{ settings['SITE_HOST_TITLE'] or '' }}">
            &nbsp; 
            {% end %}
            {{ settings['SITE_HOST_TITLE'] or 'Site host' }}
          </a>
          {% end %}
        </div>
        <div class="col-md-6 text-center">
          {% if current_user %}
          A session cookie is used solely to handle your login status.
          {% else %}
          No session cookie is used for anonymous users.
          {% end %}
        </div>
        <div class="col-md-3">
          <div  class="pull-right">
            <a href="{{ reverse_url('software') }}">OrderPortal</a>
            <span id="version">{{ constants.VERSION }}</span>
          </div>
        </div>
      </div>
    </div>

    {# NOTE: jQuery JS has to be loaded before bootstrap JS! #}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="{{ static_url('jquery.localtime-0.9.1.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script>
      $.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
      $(function(){ $(".datepicker").datepicker(); });
    </script>

    {% block javascript_autofocus %}
    <script>
      $(function(){ $("#term").focus(); });
    </script>
    {% end %}

    {% block javascript_code %}
    {% end %}
  </body>
</html>
