An input field must have a data type, which determines what values are
considered valid for the field. The types are:

<li> <b>string</b>: A string of characters. Intended for
  one-line text input.</li>
<li> <b>email</b>: A string that looks like a valid email address.</li>
<li> <b>int</b>: A valid integer value, e.g. 12, -39 or
  1098009.</li>
<li> <b>float</b>: A valid floating point value, e.g. 1.0,
  3.141 or 9.1e10.</li>
<li> <b>boolean</b>: A logical value of either "true" or
  "false". Shown as a dropdown menu.</li>
<li> <b>url</b>: A string that looks like a URL; no check is
  made that it actually is reachable.</li>
<li> <b>select</b>: Choose one of a set of predefined string
  values. The values are specificed in the field edit page.</li>
<li> <b>multiselect</b>: Choose one or more of a set of
  predefined string values. The values are specificed in the
  field edit page.</li>
<li> <b>text</b>: Text spanning more than one line.</li>
<li> <b>date</b>: A valid date. Shown as a date selection widget.</li>
<li> <b>table</b>: A table of values containing a specified
  number of columns and any number of rows.</li>
<li> <b>file</b>: An attached file.</li>
<li> <b>group</b>: A group of fields. Does not contain any
  value of its own.</li>
