{# File create page. #}

{% extends "base.html" %}

{% block head_title %}Create file{% end %}
{% block body_title %}Create {% module Icon('file', label=True) %}{% end %}

{% block main_content %}

<form action="{{ reverse_url('file_create') }}"
      role="form"
      enctype="multipart/form-data"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label for="name">Name</label>
	<input type="text" class="form-control"
	       id="name" name="name">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <span class="help-block">
      Name of the file, which determines its URL. Must be
      unique. Cannot be changed once set. If not provided, then the
      filename of the uploaded file is used.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label for="title">Title</label>
	<input type="text" class="form-control" id="title" name="title">
      </div>
    </div>
    <span class="help-block">
      Title to display for the file. The file name will be used if not defined.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="hidden">Hidden</label>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="yes" id="hidden" name="hidden">
	    Do not show the file as a document in the list viewed by users.
	    The file is still accessible to all users using an explicit link,
	    meaning that it can be referenced from other pages.
	  </label>
	</div>
      </div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-8">
	<label for="text">File upload</label>
	<input type="file" name="file" class="form-control">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
	<span class="help-block">
	  The file to upload.
	</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="description">Description</label>
    <textarea class="form-control" rows="4" name="description" id="description">
    </textarea>
    <span class="help-block">
      (Optional: 
      <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>
      notation may be used to format the text.)
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Save
    </button>
  </div>
</form>

<br>
<form action="{{ reverse_url('files') }}"
      role="form"
      method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}

{% block javascript_autofocus %}
<script>
  $(function(){ $("#name").focus(); });
</script>
{% end %}
