{# Information page. #}

{% extends "base.html" %}

{% block head_title %}{{ info.get('title') or info['name'] }}{% end %}
{% block body_title %}{{ info.get('title') or info['name'] }}{% end %}

{% block content %}
<div class="row">

  <div class="col-md-8">
    {% module Markdown(info.get('text'), safe=True) %}
  </div>

  <div class="col-md-3 col-md-offset-1">
    {% if is_admin %}
    <div class="pull-right">
      <form action="{{ reverse_url('info_edit', info['name']) }}"
	    role="form"
	    method="GET">
	<button type="submit" class="btn btn-primary">
	  <span class="glyphicon glyphicon-edit"></span>
	  Edit
	</button>
      </form>

      <br>
      <form action="{{ reverse_url('info', info['name']) }}"
	    role="form"
	    method="POST">
	{% module xsrf_form_html() %}
	<input type="hidden" name="_http_method" value="delete">
	<button type="submit" class="btn btn-danger"
		onclick="return confirm('Cannot be undone! Really delete?');">
	  <span class="glyphicon glyphicon-trash"></span>
	  Delete
	</button>
      </form>
    </div>
    {% end %} {# if is_admin #}
    <div>
      {% for n, t in infos %}
      <li>
	<a href="{{ reverse_url('info', n) }}">
	  {{ t or n }}
	</a>
      </li>
      {% end %}
    </div>
  </div>

</div>
{% end %} {# block content #}
