{# Listing of all news items. #}

{% if news_items %}
<table class="table table-condensed">
  {% for news in news_items %}
  <tr>
    <td>
      <strong>{{ news.get('title') or '[no title]' }}</strong>
      ({{ news['modified'].split('T')[0] }})
      {% module Markdown(news.get('text')) %}
    </td>
    {% if is_admin %}
    <td class="text-right" width="10%">
      <button type="button" class="btn btn-primary btn-xs btn-block"
              data-toggle="modal" data-target="#{{ news['_id'] }}">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      </button>
      <p></p>
      <form action="{{ reverse_url('news_edit', news['_id']) }}"
            method="POST" role="form">
        {% module xsrf_form_html() %}
        <input type="hidden" name="_http_method" value="delete">
        <button type="submit" class="btn btn-danger btn-xs btn-block"
                onclick="return confirm('Cannot be undone! Really delete?');">
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        </button>
      </form>
    </td>
    {% end %}{# if is_admin #}
  </tr>
  {% end %} {# for news in news_items #}
</table>
{% else %}
<i>Currently none. Check again later.</i>
{% end %} {# if news_items #}

{% if is_admin %}

{# Modals for editing news items. #}
{% for pos, news in enumerate(news_items) %}
<div id="{{ news['_id'] }}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit news item</h4>
      </div>
      <div class="modal-body">
        <form action="{{ reverse_url('news_edit', news['_id']) }}"
              method="POST" role="form">
          {% module xsrf_form_html() %}
          <div class="form-group has-feedback">
            <div class="row">
              <div class="col-md-8">
                <label class="control-label"
                       for="news_title_edit_{{ pos }}">Title</label>
                <input type="text" class="form-control"
                       name="title" id="news_title_edit_{{ pos }}"
                       value="{{ news.get('title') or '' }}">
                <span style="color:red; margin-right: 1em;"
                      class="glyphicon glyphicon-star form-control-feedback"
                      aria-hidden="true"></span>
              </div>
            </div>
            <span class="help-block">
              Title for the news item.
            </span>
          </div>

          <div class="form-group">
            <label for="news_text_edit_{{ pos }}">Text</label>
            <textarea class="form-control" rows="4"
                      name="text" id="news_text_edit_{{ pos }}"
                      >{{ news.get('text') or '' }}</textarea>
            <span class="help-block">
              Text for the news item, which will be formatted using
              <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>.
            </span>
          </div>
          
          <div class="form-group">
            <label class="control-label"></label>
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
{% end %}{# for news in news_items #}

{# Modal for creating a news item. #}
<div id="news_create" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create a news item</h4>
      </div>
      <div class="modal-body">
        <form action="{{ reverse_url('news_create') }}"
              method="POST" role="form">
          {% module xsrf_form_html() %}
          <div class="form-group has-feedback">
            <div class="row">
              <div class="col-md-8">
                <label class="control-label"
                       for="news_title_create">Title</label>
                <input type="text" class="form-control"
                       name="title" id="news_title_create">
                <span style="color:red; margin-right: 1em;"
                      class="glyphicon glyphicon-star form-control-feedback"
                      aria-hidden="true"></span>
              </div>
            </div>
            <span class="help-block">
              Title for the news item.
            </span>
          </div>

          <div class="form-group">
            <label for="news_text_create">Text</label>
            <textarea class="form-control" rows="4"
                      name="text" id="news_text_create"></textarea>
            <span class="help-block">
              Text for the news item, which will be formatted using
              <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>.
            </span>
          </div>
          
          <div class="form-group">
            <label class="control-label"></label>
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
{% end %} {# if is_admin #}
