{# List of all news. #}

{% extends "base.html" %}

{% block head_title %}News{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-info-sign"></span> News
{% end %}

{% block action_content %}
{% if is_admin %}
<button type="button" class="btn btn-success btn-block"
        data-toggle="modal" data-target="#news_create">
  <span class="glyphicon glyphicon-plus"></span> Create</button>
{% end %} {# if is_admin #}
{% end %}

{% block main_content %}
{% include 'news_list.html' %}
{% end %}
