{# Reset password page. #}

{% extends "base.html" %}

{% block head_title %}Reset password{% end %}
{% block body_title %}Reset password{% end %}

{% block main_content %}

<div class="well">
  {% module Text('reset') %}
  {% if is_admin %}
  <form action="{{ reverse_url('text', 'reset') }}"
	class="pull-right"
	role="form"
	method="GET">
    <input type="hidden" name="origin" value="{{ reverse_url('reset') }}">
    <button type="submit" class="btn btn-primary btn-xs">
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    </button>
  </form>
  {% end %}
</div>

<form action="{{ reverse_url('reset') }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="email">Email</label>
	<input type="email" class="form-control"
	       name="email" id="email"
	       value="{{ email or ''}}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <span class="help-block">
      Your email address is your account name in this portal.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-warning">
      <span class="glyphicon glyphicon-step-backward"></span>
      Reset
    </button>
  </div>

</form>

<br>
<form action="{{ reverse_url('home') }}"
      role="form"
      method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}
