{# Universities list display page. #}

{% extends "base.html" %}

{% block head_title %}Universities{% end %}

{% block body_title %}
Universities
<small>Values for university names and abbreviations.</small>
{% end %}

{% block main_content %}

<div class="well">
  <p>
    The settings are defined in the YAML file 
    <code>{{ settings.get('UNIVERSITIES_FILEPATH') }}</code>.
  </p>
  <p>
    To change the values, the YAML file must be edited and the
    OrderPortal server restarted.  Only the sysadmin for the server
    machine can do this.
  </p>
</div>

<table class="table">
  <tr>
    <th>Abbreviation</th>
    <th>Name</th>
    <th>Rank</th>
    <th>Autopopulate {{ terminology('order') }} fields</th>
  </tr>
  {% for key, value in sorted(settings['UNIVERSITIES'].items()) %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ value.get('name') }}</td>
    <td>{{ value.get('rank') }}</td>
    <td>
      <table class="table table-condensed table-striped table-noborder">
	{% for k, v in sorted(value.get('fields', {}).items()) %}
	<tr>
	  <td width="40%">{{ k }}</td>
	  <td class="pre">{{ v }}</td>
	</tr>
	{% end %}
      </table>
    </td>
  </tr>
  {% end %}
</table>
{% end %} {# block main_content #}
