{# List of all events. #}

{% extends "../base.html" %}

{% block head_title %}Events{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-calendar"></span> Events
{% end %}

{% block action_content %}
{% if is_admin %}
<button type="button" class="btn btn-success btn-block"
        data-toggle="modal" data-target="#event_create">
  <span class="glyphicon glyphicon-plus"></span> Create</button>
{% end %} {# if is_admin #}
{% end %}

{% block main_content %}
{% include 'events_list.html' %}
{% end %}
