/* OrderPortal base CSS */

/*
* {border: 1px solid gray; }
*/

* {font-family: Arial, Helvetica, sans-serif;
   font-size: small;
  }

h1 {float: left;
    font-size: x-large;
    padding: 0.75em;
    margin: 0 1em;
   }
h2 {font-size: large; }
h3 {font-size: medium; }

header {width:100%; }

section {margin-bottom: 1em;
	}

footer {clear: both;
	padding-top: 0.5em;
	border-style: solid;
	border-color: lightgray;
	border-width: 2px 0 0 0;
       }

a {text-decoration: none;
   font-weight: bold; }

form { padding-top: 0.5em;}
input {background: lightgrey; }

textarea {width: 40em;
	  height: 6em;
	  background: lightgrey; 
	 }

textarea.thin {width: 20em; }
textarea.small {height: 3em; }
textarea.large {height: 16em; }

.subheader {font-size: medium; }
.subheader a {font-size: medium; }
p.subheader {margin-left: 50px; }
ol.subheader li {font-size: medium;
		 padding-top: 0.5em;
		}
ul.subheader li {font-size: medium;
		 padding-top: 0.5em;
		}

.clear {clear: both; }
.nobr {white-space: nowrap; }
.pre  {white-space: pre; }
.bold {font-weight: bold; }
.tech {font-family: Courier, monospace; }
.border {border-style: solid;
	 border-width: 1px; }
.text {font-family: Courier, monospace; 
       white-space: pre; 
       padding: 0.2em;
       border-style: inset;
      }

.number {font-family: Courier, monospace;
	 text-align: right;
	}
.error {color: red;
	margin-left: 1em;
       }
.description {font-style: italic; }
.message {font-weight: bold; }

.top {vertical-align: top; }
.bottom {vertical-align: bottom; }

.left {float: left; }
.right {float: right; }

.menu {float: left;
       padding: 1em 1em 0.5em 0.5em;
      }
.menu1 {margin-left: 1em; }

.aside {vertical-align: top;
	float: right;
	padding: 0.5em;
       }

div.login {white-space: nowrap; }

ol.airy li {margin-bottom: 1em; }

img.icon {vertical-align: middle; }
span.icon {vertical-align: middle; }

h1 span.icon {font-size: x-large;
	      vertical-align: bottom;
	     }

img.right {float: right;
	   margin-right: 2em;
	  }

div.vertical_space {height: 1em; }

aside button {width: 100%;
              text-align: left;
	     }

button:disabled img {opacity:0.4;
		     filter:alpha(opacity=40);
		    }

table.content {width:100%; }

tr.vertical_spacer {height: 1em; }

table.fields tr th {text-align: right;
		    vertical-align: top;
		    padding-right: 1em;
		   }

table.fields tr td {text-align: left;
		    vertical-align: top;
		   }

table.fields tr td.description {
		    min-width: 100px;
		    max-width: 400px;
		    }
table.fields tr td a {vertical-align: top; }

table.fields tr td.spacer {padding-right: 3em; }

table.listing tr th {text-align: left;
		     padding-right: 0.5em;
		     border-bottom-style: solid;
		     border-bottom-color: lightgray;
		     border-bottom-width: 2px;
		    }

table.listing tr td {padding-right: 1em; }

table.formfields tr th {text-align: left;
			padding-right: 0.5em;
			border-bottom-style: solid;
			border-bottom-color: lightgray;
			border-bottom-width: 2px;
		       }

table.formfields tr td {text-align: left;
			padding-right: 0.5em;
		       }

table.order tr th {text-align: right; }
table.order tr th.depth0 {padding-left: 1em;
			  text-align: left;
			  font-size: large; }
table.order tr th.depth1 {padding-left: 1em;
			  text-align: left;
			  font-size: medium; }

table.actions tr td {padding: 0 0 1em 2em;}

div.log {padding-top: 1em;
	 clear: both; }

table.log th {text-align: left;
	     border-bottom-style: solid;
	     border-bottom-color: lightgray;
	     border-bottom-width: 2px;
	     }

table.log td {vertical-align: top; }

table.log th.key {font-style: italic;
		  text-align: right;
		  vertical-align: top;
		  border-bottom-style: none;
