/* OrderPortal minor modifications to the standard bootstrap CSS. */

/* The icon image padding must be adjusted for the navbar */
.navbar-brand {padding: 9px; }

/* Reduce empty space below navbar. */
.navbar {margin-bottom: 0; }

/* Remove border from panel. */
.panel-noborder {border: 0; }

/* Table variants. */
.table-fields tr th {text-align: right;
		     vertical-align: top;
		    }
.table-fields tr td {vertical-align: top; }

.table-noborder > tbody + tbody   {border-width: 0px; }
.table-noborder > tbody > tr > th {border-width: 0px; }
.table-noborder > tbody > tr > td {border-width: 0px; }

.table-hierarchy { margin-bottom: 0px; }

/* Pre-formatted text variants. */
.pre {white-space: pre; }
.nobr { white-space:nowrap; }

/* Mark input field as required with a red star. */
.form-required label:after { color: red;
			     content: ' *';
			     display: inline;
			   }
