{# List of all orders for a given form. #}

{% extends "../base.html" %}

{% block head_title %}
{{ terminology('Orders') }} for form {{ form['title'] or form['_id'] }}
{% end %}

{% block body_title %}
{{ terminology('Orders') }} for form {% module FormLink(form) %}
{% end %}

{% block container %}
<div class="container-fluid">
{% end %}

{% block content %}
<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <a href="{{ reverse_url('form_aggregate', form['_id']) }}"
       class="btn btn-info btn-block" role="button">
      <span class="glyphicon glyphicon-th"></span> Aggregate
    </a>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <table id="orders" class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>{{ terminology('Order') }}</th>
          <th width="45%">Title</th>
          <th>Account</th>
          <th>Status</th>
          <th>Modified</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{% module OrderLink(order) %}</td>
          <td>{{ order.get('title') or '[no title]' }}</td>
          <td>{% module AccountLink(email=order['owner'], name=True) %}</td>
          <td>{% module Status(order['status']) %}</td>
          <td class="localtime nobr">{{ order['modified'] }}</td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %} {# block content #}

{% block javascript_code %}
<script>
$(function() {
  $("#orders").DataTable( {
    "pagingType": "full_numbers",
    "pageLength": {{ settings['DISPLAY_DEFAULT_PAGE_SIZE'] }},
    "order": [[4, "desc"]],
  });
});
</script>
{% end %}
