{# About us information. #}

{% extends "base.html" %}

{% block head_title %}About us{% end %}

{% block body_title %}About us{% end %}

{% block main_content %}
{% module Text('about') %}
{% end %}

{% block meta_content %}
{% if is_admin %}
<form action="{{ reverse_url('text', 'about') }}"
      role="form"
      method="GET">
  <input type="hidden" name="origin" value="{{ reverse_url('about') }}">
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-edit"></span>
    Edit
  </button>
</form>
{% end %}
{% end %} {# block meta_content #}
