{# List of all orders for an account. #}

{% extends "base.html" %}

{% block head_title %}Orders {{ account['email'] }}{% end %}
{% block body_title %}
{% module Icon('order') %}
Orders
{% module Entity(account) %}
{% end %}

{% block content %}
{% import functools %}
<form action="{{ reverse_url('account_orders', account['email']) }}"
      id="refresh"
      role="form"
      class="form-inline"
      method="GET">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table width="100%">
	<tr>
	  <td>
	    <span class="glyphicon glyphicon-filter"></span>
	    <div class="form-group">
	      <label for="status">Filter by</label>
	      <select name="status" id="status" class="form-control refresh">
		<option value="">[any status]</option>
		{% for status in settings['ORDER_STATUSES'] %}
		{% set sid = status['identifier'] %}
		{% set sel = sid == params.get('status') and 'selected' or '' %}
		<option {{ sel }} value="{{ sid }}">{{ sid.capitalize() }}</option>
		{% end %}
	      </select>
	    </div>
	  </td>
	  <td>
	    {% if is_staff or account['email'] == current_user['email'] %}
	    <a href="{{ reverse_url('account_groups_orders', account['email']) }}">
	      {% module Icon('group') %}
	      All orders in account's groups
	    </a>
	    {% end %}
	  </td>
	</tr>
      </table>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</form>
<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% set url_func = functools.partial(reverse_url, 'account_orders', account['email'], **params) %}
    {% include 'paging.html' %}
  </div>
  <div class="col-md-1">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table width="100%" class="table table-striped">
      <tr>
	<th width="30%">Order</th>
	<th width="15%">Status</th>
	{% for st in settings['ORDERS_LIST_STATUSES'] %}
	<th>{% module Icon(st, label=True) %}</th>
	{% end %}
	<th width="10%">Modified</th>
      </tr>
      {% for order in orders %}
      <tr>
	<td>
	  <a href="{{ reverse_url('order', order['_id']) }}">{{ order.get('title', order['_id']) }}</a>
	</td>
	<td>{% module Icon(order['status'], label=True) %}</td>
	{% for st in settings['ORDERS_LIST_STATUSES'] %}
	<td>{{ order['history'].get(st) or '-' }}</td>
	{% end %}
	<td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
</div>
{% end %}

{% block javascript_code %}
<script>
$(document).ready(function() {
    $('.refresh').change(function () {
	$('#refresh').submit();
    });
});
</script>
{% end %}
