{# Account edit page. #}

{% extends "base.html" %}

{% block head_title %}Edit {{ account['email'] }}{% end %}
{% block body_title %}
Edit
{% module Icon('account') %}
{{ account['email'] }}
{% end %}

{% block main_content %}
<form action="{{ reverse_url('account_edit', account['email']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="first_name">First name</label>
	<input type="text" class="form-control"
	       name="first_name" id="first_name"
	       value="{{ account.get('first_name') or '' }}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="last_name">Last name</label>
	<input type="text" class="form-control"
	       name="last_name" id="last_name"
	       value="{{ account.get('last_name') or '' }}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
  </div>

  {% if is_admin %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
	<label class="control-label" for="role">Role</label>
	<select class="form-control" name="role" id="role">
	  {% for role in constants.ACCOUNT_ROLES %}
	  {% set selected = role == account['role'] and 'selected' or '' %}
	  <option {{ selected }} value="{{ role }}">
	    {{ role.capitalize() }}
	  </option>
	  {% end %}
	</select>
      </div>
    </div>
  </div>
  {% end %}

  <div class="form-group has-feedback">
    <label class="control-label" for="university">University</label>
    <div class="row">
      {% if settings['UNIVERSITIES'] %}
      {% set other = True %}
      <div class="col-md-6">
	<select class="form-control" name="university" id="university">
	  {# OrderedDict ! #}
	  {% for abbrev, data in settings['UNIVERSITIES'].items() %}
	  {% if account.get('university') == abbrev %}
	  {% set other = False %}
	  {% set selected = 'selected' %}
	  {% else %}
	  {% set selected = '' %}
	  {% end %}
	  <option {{selected}} value="{{ abbrev }}">{{ abbrev }}
	    {% if data.get('name') %}
	    ({{ data.get('name') }})
	    {% end %}
	  </option>
	  {% end %}
	  {% if other %}
	  <option selected value="">[not available in list]</option>
	  {% else %}
	  <option value="">[not available in list]</option>
	  {% end %}
	</select>
	<span style="color:red; margin-right: 2em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
      <div class="col-md-6">
	<input type="text" class="form-control"
	       name="university_other" id="university_other"
	       placeholder="Provide full name if not available in the list."
	       value="{{ other and account.get('university') or '' }}">
      </div>
      {% else %}
      <div class="col-md-6">
	<input type="text" class="form-control"
	       name="university" id="university"
	       value="{{ account.get('university') or '' }}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
      {% end %}
    </div>
    <span class="help-block">
      Main affiliation: University, college, company, organization, or
      similar.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="department">Department</label>
	<input type="text" class="form-control"
	       name="department" id="department"
	       value="{{ account.get('department') or '' }}">
      </div>
    </div>
    <span class="help-block">
      University department, company section, group, or similar.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="pi">Principal Investigator</label>
	<div  class="form-control">
	  <input type="checkbox" name="pi" id="pi" value="true"
		 {{ account.get('pi') and 'checked' or '' }}> Yes
	</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Information required by our funders for reporting purposes.
    </div>
    <div class="panel-body">

      <div class="form-group has-feedback">
	<div class="row">
	  <div class="col-md-3">
	    <label class="control-label" for="gender">Gender</label>
	    <select class="form-control" size="3" name="gender" id="gender">
	      {% set gender = account.get('gender') %}
	      <option {{ gender == 'male' and 'selected' or '' }}>Male</option>
	      <option {{ gender == 'female' and 'selected' or '' }}>Female</option>
	      <option {{ gender == 'other' and 'selected' or '' }}>Other</option>
	    </select>
	    <span style="color:red; margin-right: 2em;"
		  class="glyphicon glyphicon-star form-control-feedback"
		  aria-hidden="true"></span>
	  </div>
	</div>
      </div>

      {% if settings['subjects'] %}
      <div class="form-group">
	<div class="row">
	  <div class="col-md-6">
	    <label class="control-label" for="subject">Subject</label>
	    <select class="form-control" name="subject" id="subject">
	      {% for subject in settings['subjects'] %}
	      <option value="{{ subject['code'] }}"
		      {{ subject['code'] == account.get('subject') and 'selected' or '' }}>
		{{ '- ' * subject['level'] + subject['term'] }}
	      </option>
	      {% end %}
	    </select>
	  </div>
	</div>
	<span class="help-block">
	  Select the subject term that best characterizes your field.
	</span>
      </div>
      {% end %}

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Postal address; for delivery of paper documents, returned
      samples, etc.
    </div>

    <div class="panel-body">
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="address">Address</label>
	    <textarea class="form-control" rownum="2"
		      id="address" name="address"
		      >{{ account['address'].get('address') or '' }}</textarea>
	  </div>
	</div>
	<span class="help-block">
	  Institution, building, street, number, post box, etc.
	</span>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="zip">Zip code</label>
	    <input type="text" class="form-control" id="zip" name="zip"
		   value="{{ account['address'].get('zip') or '' }}">
	  </div>
	</div>
	<span class="help-block">
	  Postal code.
	</span>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="city">City</label>
	    <input type="text" class="form-control"
		   id="city" name="city"
		   value="{{ account['address'].get('city') or '' }}">
	  </div>
	</div>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="country">Country</label>
	    <select class="form-control" name="country" id="country">
	      {% for c in settings['countries'] %}
	      {% set sel = account['address'].get('country') == c['code'] and 'selected' or '' %}
	      <option {{ sel }} value="{{ c['code'] }}">{{ c['name'] }}</option>
	      {% end %}
	    </select>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="invoice_ref">Invoice reference</label>
	<input type="text" class="form-control"
	       name="invoice_ref" id="invoice_ref"
	       value="{{ account.get('invoice_ref') or '' }}">
      </div>
    </div>
    <span class="help-block">
      Invoice reference code that may be required on your invoices for
      your accounting.
    </span>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Invoice address.
    </div>
    <div class="panel-body">
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="invoice_address">Address</label>
	    <textarea class="form-control" rownum="2"
		      id="invoice_address" name="invoice_address"
		      >{{ account['invoice_address'].get('address') or '' }}</textarea>
	  </div>
	</div>
	<span class="help-block">
	  Institution, building, street, number, post box, etc.
	</span>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="invoice_zip">Zip code</label>
	    <input type="text" class="form-control"
		   id="invoice_zip" name="invoice_zip"
		   value="{{ account['invoice_address'].get('zip') or '' }}">
	  </div>
	</div>
	<span class="help-block">
	  Postal code.
	</span>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="invoice_city">City</label>
	    <input type="text" class="form-control"
		   id="invoice_city" name="invoice_city"
		   value="{{ account['invoice_address'].get('city') or '' }}">
	  </div>
	</div>
      </div>
      <div class="form-group">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="invoice_country">Country</label>
	    <select class="form-control"
		    name="invoice_country" id="invoice_country">
	      {% for c in settings['countries'] %}
	      {% set sel = account['invoice_address'].get('country') == c['code'] and 'selected' or '' %}
	      <option {{ sel }} value="{{ c['code'] }}">{{ c['name'] }}</option>
	      {% end %}
	    </select>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="phone">Phone</label>
	<textarea rows="3" class="form-control"
		  name="phone" id="phone"
		  >{{ account.get('phone') or '' }}</textarea>
      </div>
    </div>
    <span class="help-block">
      One or more telephone numbers, one per line.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="other_data">Other data</label>
	<textarea rows="3" class="form-control"
		  id="other_data" name="other_data"
		  >{{ account.get('other_data') or '' }}</textarea>
      </div>
    </div>
    <span class="help-block">
      Miscellaneous user data from other sources.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Save
    </button>
  </div>

</form>

<br>
<form action="{{ reverse_url('account', account['email']) }}"
      role="form"
      method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}
