{# Account page. #}

{% extends "base.html" %}

{% block head_title %}Account: {{ account['email'] }}{% end %}
{% block body_title %}
{% module Icon('account', label=True) %}:
{{ account['email'] }}
{% end %}

{% block meta_content %}

{% if current_user['email'] == account['email'] %}
<p>
  <form action="{{ reverse_url('logout') }}"
	role="form"
	class="form"
	method="POST">
    {% module xsrf_form_html() %}
    <button type="submit"
	    title="Logout"
	    class="btn btn-default">
      <span class="glyphicon glyphicon-log-out"></span>
      Logout
    </button>
  </form>
</p>
{% end %} {# if current_user['email'] == account['email'] #}

{% if is_admin or current_user['email'] == account['email'] %}
<p>
  <div>
    <a href="{{ reverse_url('account_edit', account['email']) }}"
       role="button"
       class="btn btn-primary">
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    </a>
  </div>
</p>
{% end %}

{% if current_user['email'] == account['email'] %}
<p>
  <div>
    <a href="{{ reverse_url('group_create') }}"
       role="button"
       class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>
      Create group
    </a>
  </div>
</p>
{% end %}{# if current_user['email'] == account['email'] #}

{% if is_admin or current_user['email'] == account['email'] %}
<p>
  <div>
    <a href="{{ reverse_url('reset', account=account['email']) }}"
       role="button"
       class="btn btn-warning">
      <span class="glyphicon glyphicon-step-backward"></span>
      Reset password
    </a>
  </div>
</p>
{% end %}

{% if is_admin and current_user['email'] != account['email'] %}

{% if account['status'] in (constants.PENDING, constants.DISABLED) %}
<p>
  <form action="{{ reverse_url('account_enable', account['email']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <div class="form-group">
      <button type="submit" class="btn btn-success">
	<span class="glyphicon glyphicon-ok"></span>
	Enable
      </button>
    </div>
  </form>
</p>
{% else %}
<p>
  <form action="{{ reverse_url('account_disable', account['email']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <div class="form-group">
      <button type="submit" class="btn btn-danger"
	      onclick="return confirm('Really disable?');">
	<span class="glyphicon glyphicon-ban-circle"></span>
	Disable
      </button>
    </div>
  </form>
</p>
{% end %} {# if account['status'] in (constants.PENDING, constants.DISABLED) #}

{% if is_deletable %}
<p>
  <form action="{{ reverse_url('account', account['email']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <div class="form-group">
      <input type="hidden" name="_http_method" value="delete">
      <button type="submit" class="btn btn-danger"
	      onclick="return confirm('Cannot be undone! Really delete?');">
	<span class="glyphicon glyphicon-trash"></span>
	Delete
      </button>
    </div>
  </form>
</p>
{% end %} {# if is_deletable #}
{% end %} {# if is_admin #}
{% end %} {# block meta_content #}

{% block main_content %}
<table class="table-condensed table-fields">
  <tr>
    <th>First name</th>
    <td>{{ account['first_name'] or '-' }}</td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>{{ account['last_name'] or '-' }}</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>{{ (account.get('gender') or '-').capitalize() }}</td>
  </tr>
  <tr>
    <th>Role</th>
    <td>{% module Icon(account['role'], label=True) %}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% module Icon(account['status'], label=True) %}</td>
  </tr>
  <tr>
    <th>Groups</th>
    <td>
      <table>
	{% for group in groups %}
	<tr>
	  <td>
	    {% module Entity(group) %}
            {% if group['owner'] == account['email'] %}
            (owner)
	    {% end %}
	  </td>
	  {% if current_user['email'] == account['email'] and account['email'] != group['owner'] %}
	  <td>
            <form action="{{ reverse_url('group_decline', group['_id']) }}"
		  role="form"
		  class="form-inline"
		  method="POST">
	      {% module xsrf_form_html() %}
	      <div class="form-group">
		&nbsp;
		<button type="submit" class="btn btn-danger btn-xs"
			onclick="return confirm('Cannot be undone! Really decline?');">
		  <span class="glyphicon glyphicon-remove"></span>
		  Decline
		</button>
	      </div>
	    </form>
	  </td>
	  {% end %}
	</tr>
	{% end %}
      </table>
    </td>
  </tr>
  <tr>
    <th>Group invitations</th>
    <td>
      <table>
      {% for group in invitations %}
        <tr>
	  <td>
	    {{ group['name'] }}
            (owner {% module Icon('account') %} {{ group['owner'] }})
	  </td>
	  {% if current_user['email'] == account['email'] %}
	  <td>
            <form action="{{ reverse_url('group_accept', group['_id']) }}"
		  role="form"
		  class="form-inline"
		  method="POST">
	      {% module xsrf_form_html() %}
	      <div class="form-group">
		&nbsp;
		<button type="submit" class="btn btn-success btn-xs"
			onclick="return confirm('All members of this group will be able to see all your orders. Really accept?');">
		  <span class="glyphicon glyphicon-ok"></span>
		  Accept
		</button>
	      </div>
	    </form>
	  </td>
	  <td>
            <form action="{{ reverse_url('group_decline', group['_id']) }}"
		  role="form"
		  class="form-inline"
		  method="POST">
	      {% module xsrf_form_html() %}
	      <div class="form-group">
		&nbsp;
		<button type="submit" class="btn btn-danger btn-xs">
		  <span class="glyphicon glyphicon-remove"></span>
		  Decline
		</button>
	      </div>
	    </form>
	  </td>
	  {% end %}
	</tr>
      {% end %}
      </table>
    </td>
  </tr>
  <tr>
    <th>Orders</th>
    <td>
      <a class="badge"
	 href="{{ reverse_url('account_orders', account['email']) }}">
	{{ account['order_count'] }}
      </a>
    </td>
  </tr>
  <tr>
    <th>University</th>
    <td>{{ account['university'] or '-' }}</td>
  </tr>
  <tr>
    <th>Department</th>
    <td>{{ account['department'] or '-' }}</td>
  </tr>
  <tr>
    <th>Principal Investigator</th>
    <td>{{ account.get('pi') and 'Yes' or 'No' }}</td>
  </tr>
  {% if settings['subjects_lookup'] %}
  <tr>
    <th>Subject</th>
    <td>{{ settings['subjects_lookup'].get(account.get('subject')) or '-' }}</td>
  </tr>
  {% end %}
  <tr>
    <th>Postal address</th>
    <td>
      {% set address = account.get('address') or dict() %}
      <table class="table table-condensed table-noborder">
	<tr>
	  <th>Address</th>
	  <td class="pre">{{ address.get('address') or '-' }}</td>
	</tr>
	<tr>
	  <th>Zip code</th>
	  <td>{{ address.get('zip') or '-' }}</td>
	</tr>
	<tr>
	  <th>City</th>
	  <td>{{ address.get('city') or '-' }}</td>
	</tr>
	<tr>
	  <th>Country</th>
	  <td>{{ settings['countries_lookup'].get(address.get('country')) or '-' }}</td>
	</tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>Invoice address</th>
    <td>
      {% set address = account.get('invoice_address') or dict() %}
      <table class="table table-condensed table-noborder">
	<tr>
	  <th>Invoice code</th>
	  <td>{{ address.get('code') or '-' }}</td>
	</tr>
	<tr>
	  <th>Address</th>
	  <td class="pre">{{ address.get('address') or '-' }}</td>
	</tr>
	<tr>
	  <th>Zip code</th>
	  <td>{{ address.get('zip') or '-' }}</td>
	</tr>
	<tr>
	  <th>City</th>
	  <td>{{ address.get('city') or '-' }}</td>
	</tr>
	<tr>
	  <th>Country</th>
	  <td>{{ settings['countries_lookup'].get(address.get('country')) or '-' }}</td>
	</tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{ account.get('phone') or '-' }}</td>
  </tr>
  <tr>
    <th>Other data</th>
    <td class="pre">{{ account.get('other_data') or '-' }}</td>
  </tr>
  <tr>
    <th>Latest activity</th>
    <td>
      <span class="localtime">{{ latest_activity }}</span>
    </td>
  </tr>
  <tr>
    <th>Latest login</th>
    <td>
      <span class="localtime">{{ account.get('login') or '-' }}</span>
    </td>
  </tr>
  <tr>
    <th>Messages</th>
    <td>
      <a href="{{ reverse_url('account_messages', account['email']) }}">
	{% module Icon('message', label=True, title='Messages') %}
      </a>
    </td>
  </tr>
  <tr>
    <th>Modified</th>
    <td>
      <span class="localtime">{{ account['modified'] }}</span>
      <a href="{{ reverse_url('account_logs', account['email']) }}">
	{% module Icon('logs', label=True) %}
      </a>
    </td>
  </tr>
  <tr>
    <th>Created</th>
    <td class="localtime">{{ account['created'] }}</td>
  </tr>
  <tr>
    <th>IUID</th>
    <td>{{ account['_id'] }}</td>
  </tr>
</table>
{% end %} {# block content #}
