{# Account page. #}

{% extends "base.html" %}

{% block head_title %}Account {{ account['email'] }}{% end %}
{% block body_title %}
{% module Icon('account', label=True) %}
{{ account['email'] }}
{% end %}

{% block meta_content %}

{% if current_user['email'] == account['email'] %}
<br>
<div>
  <a href="{{ reverse_url('group_create') }}"
     class="btn btn-success glyphicon glyphicon-plus" role="button">
    Create group
  </a>
</div>
{% end %}

{% if is_admin or current_user['email'] == account['email'] %}
<br>
<div>
  <a href="{{ reverse_url('account_edit', account['email']) }}"
     class="btn btn-primary glyphicon glyphicon-edit" role="button">
    Edit
  </a>
</div>

<br>
<div>
  <a href="{{ reverse_url('reset') }}"
     class="btn btn-warning glyphicon glyphicon-step-backward" role="button">
    Reset password
  </a>
</div>
{% end %} {# if is_admin #}

{% if is_admin and current_user['email'] != account['email'] %}

<br>
{% if account['status'] in (constants.PENDING, constants.DISABLED) %}
<form action="{{ reverse_url('account_enable', account['email']) }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <button type="submit"
	    class="btn btn-success glyphicon glyphicon-ok">
      Enable
    </button>
  </div>
</form>

{% else %}
<form action="{{ reverse_url('account_disable', account['email']) }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <button type="submit"
	    class="btn btn-danger glyphicon glyphicon-ban-circle">
      Disable
    </button>
  </div>
</form>
{% end %} {# if account['status'] #}

{% if deletable %}
<form action="{{ reverse_url('account', account['email']) }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <input type="hidden" name="_http_method" value="delete">
    <button type="submit"
	    class="btn btn-danger glyphicon glyphicon-trash"
	    onclick="return confirm('Cannot be undone! Really delete?');">
      Delete
    </button>
  </div>
</form>
{% end %} {# if account['status'] #}

{% end %} {# if is_admin #}

{% end %} {# block meta_content #}

{% block main_content %}
<table class="table-condensed table-fields">
  {% if is_staff %}
  <tr>
    <th>Orders</th>
    <td>
      <a class="badge"
	 href="{{ reverse_url('orders_account', account['email']) }}">
	{{ account['order_count'] }}
      </a>
    </td>
  </tr>
  {% end %}
  <tr>
    <th>Role</th>
    <td>{% module Icon(account['role'], label=True) %}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% module Icon(account['status'], label=True) %}</td>
  </tr>
  <tr>
    <th>Groups</th>
    <td>
      {% for group in groups %}
      <a href="{{ reverse_url('group', group['_id']) }}">
	{% module Entity(group) %}
      </a>
      {% if group['owner'] == account['email'] %}
      (owner)
      {% end %}
      <br>
      {% end %}
    </td>
  <tr>
    <th>First name</th>
    <td>{{ account.get('first_name') or '-' }}</td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>{{ account.get('last_name') or '-' }}</td>
  </tr>
  <tr>
    <th>University</th>
    <td>{{ account.get('university') or '-' }}</td>
  </tr>
  <tr>
    <th>Department</th>
    <td>{{ account.get('department') or '-' }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td class="pre">{{ account.get('address') or '-' }}</td>
  </tr>
  <tr>
    <th>Invoice address</th>
    <td class="pre">{{ account.get('invoice_address') or '-' }}</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{ account.get('phone') or '-' }}</td>
  </tr>
  <tr>
    <th>Page size</th>
    <td>{{ account.get('page_size') or '-' }}</td>
  </tr>
  <tr>
    <th>Other data</th>
    <td class="pre">{{ account.get('other_data') or '-' }}</td>
  </tr>
  <tr>
    <th>Modified</th>
    <td>
      <span class="localtime">{{ account['modified'] }}</span>
      <a href="{{ reverse_url('account_logs', account['email']) }}">
	{% module Icon('logs', label=True) %}
      </a>
    </td>
  </tr>
  <tr>
    <th>Created</th>
    <td class="localtime">{{ account['created'] }}</td>
  </tr>
</table>
{% end %} {# block content #}
