<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}OrderPortal{% end %}</title>
    <link rel="shortcut icon" type="image/png"
	  href="{{ static_url(settings['FACILITY_ICON_NAVBAR']) }}">
    <link rel="stylesheet"
	  href="{{ static_url('bootstrap-3.3.4/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('mods.css') }}">
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle"
		  data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
	  </button>
	  <a class="navbar-brand" href="{{ reverse_url('home') }}">
	    <img src="{{ static_url(settings['FACILITY_ICON_NAVBAR']) }}"
		 title="{{ settings['FACILITY_NAME'] }}"
		 alt="{{ settings['FACILITY_NAME'] }}">
	  </a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
	  <ul class="nav navbar-nav">
            <li><a href="{{ reverse_url('home') }}">Home</a></li>

	    {% if current_user %}
	    {% if is_staff %}
            <li><a href="{{ reverse_url('orders') }}">Orders</a></li>
	    {% else %}
            <li><a href="{{ reverse_url('orders_user', current_user['email']) }}">My orders</a></li>
	    {% end %} {# if is_staff #}
	    {% end %} {# if current_user #}

	    {% if is_admin %}
            <li><a href="{{ reverse_url('forms') }}">Forms</a></li>
	    {% end %} {# if is_admin #}

	    {% if is_staff %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		Users
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		<li><a href="{{ reverse_url('users') }}">All users</a></li>
		{% if is_admin %}
		<li>
		  <a href="{{ reverse_url('register') }}">Register new user</a>
		</li>
		<li>
		  <a href="{{ reverse_url('reset') }}">Reset password</a>
		</li>
		<li>
		  <a href="{{ reverse_url('password') }}">Set password</a>
		</li>
		{% end %} {# if is_staff #}
	      </ul>
	    </li>
	    {% end %} {# if is_staff #}

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		Information
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		{% for name, title in infos %}
		<li>
		  <a href="{{ reverse_url('info', name) }}">
		    {{ title or name }}
		  </a>
		</li>
		{% end %}
		{% if is_admin %}
		<li>
		  <a href="{{ reverse_url('infos') }}">[all infos]</a>
		</li>
		<li>
		  <a href="{{ reverse_url('info_create') }}">[create info]</a>
		</li>
		{% end %}
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		File
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		{% for name in files %}
		<li>
		  <a href="{{ reverse_url('file_meta', name) }}">{{ name }}</a>
		</li>
		{% end %}
		{% if is_admin %}
		<li>
		  <a href="{{ reverse_url('files') }}">[all files]</a>
		</li>
		<li>
		  <a href="{{ reverse_url('file_create') }}">[create file]</a>
		</li>
		{% end %}
              </ul>
            </li>

	    {% if is_admin %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		Text
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		{% for name in texts %}
		<li>
		  <a href="{{ reverse_url('text', name) }}">{{ name }}</a>
		</li>
		{% end %}
              </ul>
            </li>
	    {% end %}

	    {% if is_admin %}
            <li><a href="{{ reverse_url('debug') }}">Debug</a></li>
	    {% end %}
	  </ul>

	  <div>
	    <ul class="nav navbar-nav navbar-right">
	      {% if current_user %}
	      <li>
		<p class="navbar-text">
		  Logged in as
		  <a href="{{ reverse_url('user', current_user['email']) }}">
		    {% module Entity(current_user) %}
		  </a>
		</p>
	      </li>
	      <li>
		<form action="{{ reverse_url('logout') }}"
		      role="form" class="navbar-form" method="POST">
		  {% module xsrf_form_html() %}
		  <button type="submit"
			  class="btn btn-default btn-sm glyphicon glyphicon-log-out">
		    Logout
		  </button>
		</form>
	      </li>
	      {% end %} {# if current_user #}
	    </ul>
	  </div>
	</div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row">
	<div class="col-md-11 col-md-offset-1">
	  <h1>{% block body_title %}OrderPortal{% end %}</h1>
	</div>
      </div>

      {% block error %}
      {% try %}
      {% if error %}
      <div class="row">
	<div class="col-md-8 col-md-offset-2">
	  <div class="panel panel-danger">
	    <div class="panel-heading">Error</div>
	    <div class="panel-body">{{ error }}</div>
	  </div>
	</div>
	<div class="col-md-2"></div>
      </div>
      {% end %} {# if error #}
      {% except NameError %}
      {% end %} {# try #}
      {% end %} {# block error #}

      {% block content %}
      <div class="row">
	{% block outer_main_content %}
	<div class="col-md-9 col-md-offset-1">
	  {% block main_content %}
	  {% end %} {# block main_content #}
	</div>
	{% end %} {# block outer_main_content #}
	<div class="col-md-2">
	  {% block meta_content %}
	  {% end %} {# block meta_content #}
	</div>
      </div>
      {% end %} {# block content #}

    </div>

    {% block javascript_standard %}
    <script src="{{ static_url('jquery-1.11.3.min.js') }}"></script>
    <script src="{{ static_url('bootstrap-3.3.4/js/bootstrap.min.js') }}">
    </script>
    <script src="{{ static_url('jquery.localtime-0.9.1.min.js') }}"></script>
    {% end %} {# block javascript_standard #}

    {% block javascript_code %}
    {% end %}
  </body>
</html>
