{# Configuration display page. #}

{% extends "base.html" %}

{% block head_title %}Configuration{% end %}
{% block body_title %}Configuration{% end %}

{% block main_content %}

<div class="row">
  <div class="col-md-8 well">
    <p>
      The values of various configuration settings. Mainly for
      debugging purposes when setting up a portal. The default values
      are set in the <code>__init__.py</code> file, and then changed
      by the site-dependent YAML configuration file.
    </p>
    <p>
      To change any value here, one needs to modify the configuration
      and restart the OrderPortal server. Only the IT responsible for
      the system is allowed to do this.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <table class="table">
      {% for key, value in params %}
      <tr>
	<th>{{ key }}</th>
	<td>{{ value }}</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <caption>Order messages</caption>
      <tr>
	<th>Event</th>
	<th>Recipients</th>
	<th>Subject</th>
	<th>Text</th>
      </tr>
      {% for key, value in settings['ORDER_MESSAGES'].iteritems() %}
      <tr>
	<td>{{ key }}</td>
	<td>{{ ', '.join(value['recipients']) }}</td>
	<td>{{ value['subject'] }}</td>
	<td class="pre">{{ value['text'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>
{% end %} {# block main_content #}
