{# Form field edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit {{ field['type'] }} field '{{ field['identifier'] }}' in '{{ form['title'] }}'
{% end %}

{% block body_title %}
Edit {{ field['type'] }} field '{{ field['identifier'] }}' in '{{ form['title'] }}'
{% end %}

{% block main_content %}
<form action="{{ reverse_url('field_edit', form['_id'], field['identifier']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label for="type">Parent group field</label>
	<select class="form-control" name="parent" id="parent">
	  <option value="">[no change]</option>
	  {% for parent in alt_parents %}
	  {% if parent is None %}
	  <option>[top level]</option>
	  {% else %}
	  <option>{{ parent['identifier'] }}</option>
	  {% end %}
	  {% end %}
	</select>
      </div>
    </div>
    <span class="help-block">
      Change parent group for this field. If this field is a group,
      all its fields will follow along.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label for="type">Position within group</label>
	<select class="form-control" name="position" id="position">
	  {% if siblings and field['identifier'] == siblings[0]['identifier'] %}
	    <option selected value="__first__">[first]</option>
	    {% set selected = True %}
	  {% else %}
	    <option value="__first__">[first]</option>
	    {% set selected = False %}
	  {% end %}
	  {% for pos, sib in enumerate(siblings) %}
	  {% if field['identifier'] != sib['identifier'] %}
	    {% if selected %}
	      <option>{{ sib['identifier'] }}</option>
	    {% elif field['identifier'] == siblings[pos+1]['identifier'] %}
	      <option selected>{{ sib['identifier'] }}</option>
	      {% set selected = True %}
	    {% else  %}
	      <option>{{ sib['identifier'] }}</option>
	    {% end %} {# if selected #}
	  {% end %} {# if field['identifier'] != sib['identifier'] #}
	  {% end %} {# for sib in siblings #}
	</select>
      </div>
    </div>
    <span class="help-block">
      Specify the position of this field within its group. Select the
      field immediately before this field. If the group is changed
      (option above) this option will be overridden.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label for="label">Label</label>
	<input type="text" class="form-control"
	       id="label" name="label"
	       value="{{ field.get('label') or ''}}">
      </div>
    </div>
    <span class="help-block">
      Label to display for the field in the order form. The identifier
      will be used if no label is provided.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label for="visible_if_field">Visible if: Field identifier</label>
	<select class="form-control"
		name="visible_if_field" id="visible_if_field">
	  <option value="">[none]</option>
	  {% for other in fields %}
	    {% if other is not field and other['depth'] <= field['depth'] %}
	      {% set sel = field.get('visible_if_field') == other['identifier'] and 'selected' or '' %}
	      <option {{ sel }}>{{ other['identifier'] }}</option>
	    {% end %}
	  {% end %}
	</select>
      </div>
    </div>
    <span class="help-block">
      Field is visible if another field with the given identifier has
      a specific value.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label for="visible_if_value">Visible if: Field value</label>
	<input type="text" class="form-control"
	       name="visible_if_value" id="visible_if_value"
	       value="{{ field.get('visible_if_value') or '' }}">
	</input>
      </div>
    </div>
    <span class="help-block">
      Field is visible if the other field (defined above) has the
      given value.  Multiple values are given by using the vertical
      bar '|' as delimiter. If the other field is a checkbox, then
      only the values "true" and "false" are allowed. Any other value
      is ignored.
    </span>
  </div>

  {% if field['type'] == constants.SELECT %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
	<label class="control-label" for="select">Select values</label>
	<textarea class="form-control" name="select" rows="4"
		  >{{ '\n'.join(field.get('select') or []) }}</textarea>
      </div>
    </div>
    <span class="help-block">
      One value per line. A label for a group of options is denoted
      by a leading dash '-'; this is just a group label, and not an
      option in itself.
    </span>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
	<label class="control-label" for="display">Display</label>
	<div>
	  <label class="radio-inline">
	    {% set checked = field.get('display', 'menu') == 'menu' and 'checked' %}
	    <input type="radio" name="display" value="menu" {{ checked }}>Menu</label>
	  <label class="radio-inline">
	    {% set checked = field.get('display') == 'radio' and 'checked' %}
	    <input type="radio" name="display" value="radio" {{ checked }}>Radio buttons</label>
	</div>
      </div>
    </div>
    <span class="help-block">
      Display element to use for the field.
    </span>
  </div>

  {% elif field['type'] == constants.MULTISELECT %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
	<label class="control-label" for="multiselect">Multiselect values</label>
	<textarea class="form-control" name="multiselect" rows="4"
		  >{{ '\n'.join(field.get('multiselect') or []) }}</textarea>
      </div>
    </div>
    <span class="help-block">
      One value per line. A label for a group of options is denoted
      by a leading dash '-'; this is just a group label, and not an
      option in itself.
    </span>
  </div>

  {% elif field['type'] == constants.BOOLEAN %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="checkbox">Checkbox</label>
	<div class="checkbox">
	  {% set checked = field.get('checkbox') and 'checked' or '' %}
	  <label>
	    <input type="checkbox" value="yes"
		   id="checkbox" name="checkbox" {{ checked }}>
	    Display the field as a checkbox: Otherwise a selection menu
	    with the choices of '-----' (= none), 'True' or 'False' is shown.
	  </label>
	</div>
      </div>
    </div>
  </div>

  {% elif field['type'] == constants.TABLE %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
	<label class="control-label" for="table">Table column headers</label>
	<textarea class="form-control" name="table" rows="4"
		  >{{ '\n'.join(field.get('table') or []) }}</textarea>
      </div>
    </div>
    <span class="help-block">
      One identifier per row to specify one column in the resulting table.
      May be edited later.
    </span>
  </div>
  {% end %} {# if field['type'] == ... #}

  {% if field['type'] != constants.GROUP %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="required">Required</label>
	<div class="checkbox">
	  {% set checked = field['required'] and 'checked' or '' %}
	  <label>
	    <input type="checkbox" value="yes"
		   id="required" name="required" {{ checked }}>
	    Require the field to have a defined value for the order to
	    be submittable.
	  </label>
	</div>
      </div>
    </div>
  </div>
  {% end %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="restrict_read">
	  Restricted read
	</label>
	<div class="checkbox">
	  {% set checked = field['restrict_read'] and 'checked' or ''%}
	  <label>
	    <input type="checkbox"
		   id="restrict_read"
		   name="restrict_read"
		   value="yes"
		   {{ checked }}>
	    The field in the form is visible only to admin and staff,
	    not the user.
	  </label>
	</div>
      </div>
    </div>
  </div>

  {% if field['type'] != constants.GROUP %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="restrict_write">
	  Restricted write
	</label>
	<div class="checkbox">
	  {% set checked = field['restrict_write'] and 'checked' or ''%}
	  <label>
	    <input type="checkbox"
		   id="restrict_write"
		   name="restrict_write"
		   value="yes"
		   {{ checked }}>
	    The field is visible to all, but can be edited only
	    by admin and staff.
	  </label>
	</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="erase_on_clone">
	  Erase on clone
	</label>
	<div class="checkbox">
	  {% set checked = field.get('erase_on_clone') and 'checked' or ''%}
	  <label>
	    <input type="checkbox"
		   name="erase_on_clone"
		   id="erase_on_clone"
		   value="true"
		   {{ checked }}>
	    Erase the value of the field in a new order when cloning.
	  </label>
	</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="processor">
	  Field value processor
	</label>
	<select class="form-control" name="processor" id="processor">
	  {% set sel = not field.get('processor') and 'selected' or '' %}
	  <option value="" {{ sel }}>[none]</option>
	  {% for name in sorted(settings['PROCESSORS']) %}
	  {% set sel = field.get('processor') == name and 'selected' or '' %}
	  <option {{ sel }}>{{ name }}</option>
	  {% end %}
	</select>
      </div>
    </div>
    <span class="help-block">
      The named processor is called when the field value is changed.
    </span>
  </div>
  {% end %} {# if field['type'] != constants.GROUP #}

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="description">Description</label>
	<textarea class="form-control"
		  id="description" name="description"
		  >{{ field.get('description') or '' }}</textarea>
      </div>
    </div>
    <span class="help-block">
      Description to display in the order to help the user fill in the
      field correctly, using
      <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>
      format.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Save
    </button>
  </div>

</form>

<br>
<form action="{{ reverse_url('form', form['_id']) }}"
      role="form"
      method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</form>

<br>
<form action="{{ reverse_url('field_edit', form['_id'], field['identifier']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <label class="control-label"></label>
    <input type="hidden" name="_http_method" value="delete">
    <button type="submit" class="btn btn-danger"
	    onclick="return confirm('Cannot be undone! Really delete?');">
      <span class="glyphicon glyphicon-trash"></span>
      Delete
    </button>
  </div>
</form>
{% end %} {# block main_content #}

{% block javascript_autofocus %}
<script>
  $(document).ready(function(){
    $("#parent").focus();
  });
</script>
{% end %}
