{# Field create page. #}

{% extends "base.html" %}

{% block head_title %}Create field in form '{{ form['title'] }}'{% end %}
{% block body_title %}Create field in form '{{ form['title'] }}'{% end %}

{% block main_content %}

<form action="{{ reverse_url('field_create', form['_id']) }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-xs-4">
	<label class="control-label" for="group">Group</label>
	<select class="form-control" name="group" id="group">
	  <option value="__none__">[top level]</option>
	  {% for field in fields %}
	    {% if field['type'] == constants.GROUP['value'] %}
	      <option>{{ field['identifier'] }}</option>
	    {% end %}
	  {% end %}
	</select>
	<span style="color:red; margin-right: 2em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <p class="text-muted">
      Parent group of the field.
    </p>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-xs-4">
	<label class="control-label" for="identifier">Identifier</label>
	<input type="text" class="form-control"
	       name="identifier" id="identifier">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <p class="text-muted">
      Unique identifier of the field. Cannot be changed once defined.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="label">Label</label>
	<input type="text" class="form-control" name="label" id="label">
      </div>
    </div>
    <p class="text-muted">
      Label to display for the field in the order form. The identifier
      will be used if this is not provided.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-3">
	<label class="control-label" for="type">Type</label>
	<select class="form-control" name="type" id="type">
	  {% for type in constants.TYPES %}
	  <option value="{{ type['value'] }}">{{ type['label'] }}</option>
	  {% end %}
	</select>
      </div>
    </div>
    <p class="text-muted">
      Data type of the field. Cannot be changed once defined.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="required">Required</label>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="required" id="required" value="yes">Yes
	  </label>
	</div>
      </div>
    </div>
    <p class="text-muted">
      Require that the field must have a value specified in the order.
      If no value, then the order is incomplete, and cannot be
      submitted.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="restrict_read">Restricted read</label>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="restrict_read" id="restrict_read" value="yes">Yes
	  </label>
	</div>
      </div>
    </div>
    <p class="text-muted">
      The field is restricted to be visible only to staff, not the user.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="restrict_write">Restricted write</label>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="restrict_write" id="restrict_write" value="yes">Yes
	  </label>
	</div>
      </div>
    </div>
    <p class="text-muted">
      The field is restricted to be editable only by staff, not the user.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-8">
	<label class="control-label" for="description">Description</label>
	<textarea class="form-control" name="description" id="description"></textarea>
      </div>
    </div>
    <p class="text-muted">
      Description to display for the field in the order as information
      to the user.
    </p>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-primary glyphicon glyphicon-save">
      Save
    </button>
  </div>

</form>

<br>
<form action="{{ reverse_url('form', form['_id']) }}"
      role="form" method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-default btn-sm glyphicon glyphicon-remove">
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}
