{# Field page. #}
{% extends "base.html" %}

{% block content %}

<table class="fields">
  <tr>
    <th>Identifier</th>
    <td>{% module Icon('required') %}</td>
    <td>{{ field['identifier'] }}</td>
    <td class="description">
      Unique identifier for the field. Cannot be changed.
    </td>
  </tr>

  <tr>
    <th>Label</th>
    <td></td>
    <td>{{ field.get('label') or '[none]' }}</td>
    <td class="description">
      Label to show for the field in the order form. May be edited.
    </td>
  </tr>

  <tr>
    <th>Type</th>
    <td>{% module Icon('required') %}</td>
    <td>{{ field['type'] }}</td>
    <td class="description">
      Data type of the field. Cannot be changed.
    </td>
  </tr>

    {% if field['type'] == 'select' %}
    <tr>
      <th>Options</th>
      <td></td>
      <td class="text">{{ '\n'.join(field.get('options') or []) }}</td>
      <td class="description">
	Option values for the select field. One value per line.
	If none are given, then no value can be selected for this field,
	which is probably an error.
      </td>
    </tr>

    {% end %}

  <tr>
    <th>Required</th>
    <td></td>
    <td>{{ field['required'] and 'Yes' or 'No' }}</td>
    <td class="description">
      Require that the field must have a value specified in the order.
      If no value, then the order is incomplete, and cannot be submitted.
    </td>
  </tr>

  <tr>
    <th>Parent</th>
    <td></td>
    <td>
      {% set parent = field.get('parent') %}
      {% if parent is None %}
      -
      {% else %}
      <a href="{{ reverse_url('field', parent) }}">{{ parent }}</a>
      {% end %}
    </td>
    <td class="description">
      The field which this field is grouped under. May be edited.
    </td>
  </tr>

  <tr>
    <th>Position</th>
    <td></td>
    <td>{{ field['position'] }}</td>
    <td class="description">
      Position of field relative to other fields with the same parent.
      May be edited.
    </td>
  </tr>

  <tr>
    <th>Description</th>
    <td></td>
    <td>{{ field.get('description') or '[none]' }}</td>
    <td class="description">
      Description to display in the order as information to the
      user. May be edited.
    </td>
  </tr>

</table>

<p>

<table class="log">
  <tr>
    <th>Log entry</th>
    <th>User</th>
    <th>Changed</th>
  </tr>
  {% for log in logs %}
  <tr>
    <td class="localtime">{{ log['modified'] }}</td>
    <td>{{ log['user'] }}</td>
    <td>
      <table>
	{% for key in sorted(log['changed']) %}
	<tr>
	  <th class="key">{{ key }}</th>
	  <td>{{ log['changed'][key] }}</td>
	</tr>
	{% end %}
      </table>
    </td>
  </tr>
  {% end %}
</table>

<p>

<form action="{{ reverse_url('field_edit', field['identifier']) }}"
      method='GET'>
  {% module Submit('edit', title='Edit field') %}
</form>
{% end %}
