{# File edit page. #}

{% extends "base.html" %}

{% block head_title %}Edit {{ file['name'] }}{% end %}
{% block body_title %}Edit {% module Icon('file') %} {{ file['name'] }}{% end %}

{% block main_content %}

<form action="{{ reverse_url('file_edit', file['name']) }}"
      role="form"
      enctype="multipart/form-data"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label for="name">Name</label>
	<input type="text" class="form-control"
	       id="name" name="name"
	       value="{{ file.get('name') or '' }}">
      </div>
    </div>
    <span class="help-block">
      Name to display for the file page.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
	<label class="control-label" for="hidden">Hidden</label>
	<div class="checkbox">
	  {% set checked = file.get('hidden') and 'checked' or '' %}
	  <label>
	    <input type="checkbox" value="yes"
		   id="hidden" name="hidden" {{ checked }}>
	    Hide the document from users; it is not shown in the
	    list. However, it is still accessible to all users who
	    have the link.
	  </label>
	</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label for="text">File upload</label>
	<input type="file" name="file" class="form-control">
	<span class="help-block">
	  Provide a file to overwrite the current data. If none given,
	  then no change.
	</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="description">Description</label>
    <textarea class="form-control" rows="4"
	      name="description" id="description"
	      >{{ file.get('description') or '' }}</textarea>
    <span class="help-block">
      Use <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>
      if you want fancy display of this text data.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Save
    </button>
  </div>
</form>

<br>
<form action="{{ reverse_url('files') }}"
      role="form"
      method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}

{% block javascript_autofocus %}
<script>
  $(document).ready(function(){
    $("#name").focus();
  });
</script>
{% end %}
