{# Form page. #}
{% extends "base.html" %}

{% block content %}
<table class="fields">
  <tr>
    <th>Description</th>
    <td>{{ form.get('description') or '' }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% module Icon(form['status'], label=True) %}</td>
  </tr>
  <tr>
    <th>Fields</th>
    <td>
      <table class="formfields">
	<tr>
	  <th>Identifier</th>
	  <th>Label</th>
	  <th>Type</th>
	  <th></th>
	  <th>Restricted read</th>
	  <th>Restricted write</th>
	  <th>Description</th>
	</tr>
	{% for field in fields %}
	<tr>
	  <td>{% raw '-&nbsp;'*field['depth'] %}
	    <a href="{{ reverse_url('field_edit', form['_id'], field['identifier']) }}">{{ field['identifier'] }}</a></td>
	  <td>{{ field.get('label') or '-' }}</td>
	  <td>{{ field['type'] }}</td>
	  <td>
	    {% if field['required'] %}{% module Icon('required') %}{% end %}
	  </td>
	  <td>{{ field['restrict_read'] }}</td>
	  <td>{{ field['restrict_write'] }}</td>
	  <td>{{ field.get('description') or '-' }}</td>
	</tr>
	{% end %}
      </table>
      <form action="{{ reverse_url('field_create', form['_id']) }}"
	    method='GET'>
	{% module Submit('create', title='Create field') %}
      </form>
    </td>
  </tr>
</table>
<p>

<form action="{{ reverse_url('form_edit', form['_id']) }}"
      method='GET'>
  {% module Submit('edit', title='Edit form') %}
</form>

<p>

{% include 'log_table.html' %}

{% end %}
