{# Form page. #}
{% extends "base.html" %}

{% block content %}
<table class="fields">
  <tr>
    <th>Description</th>
    <td>{{ form.get('description') or '' }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% module Icon(form['status'], label=True) %}</td>
  </tr>
  <tr>
    <th>Fields</th>
    <td>
      <form action="{{ reverse_url('form_field_create', form['_id']) }}"
	    method='GET'>
	{% module Submit('create', title='Create form field') %}
      </form>
      {% module FormFieldsDisplay(form['fields']) %}
    </td>
  </tr>
</table>
<p>

<form action="{{ reverse_url('form_edit', form['_id']) }}"
      method='GET'>
  {% module Submit('edit', title='Edit form') %}
</form>

<p>

{% include 'log_table.html' %}

{% end %}
