{# Forms list page. #}
{% extends "base.html" %}

{#
{% block subheader %}
<form action="{{ reverse_url('form_create') }}" method='GET'>
  {% module Submit('create', title='Create new form') %}
</form>
<p>
{% end %}
#}

{% block content %}
<form action="{{ reverse_url('form_create') }}" method='GET'>
  {% module Submit('create', title='Create new form') %}
</form>
<p>
<table class="listing">
  <tr>
    <th>Form</th>
    <th>Status</th>
    <th>Owner</th>
    <th>Modified</th>
  </tr>
{% for form in forms %}
  <tr>
    <td>
      <a href="{{ reverse_url('form', form['iuid']) }}">
	{{ form['title'] }}
      </a>
    </td>
    <td>{% module Icon(form['status'], label=True) %}</td>
    <td>
      <a href="{{ reverse_url('user', form['owner']) }}">{{ form['owner'] }}</a>
    </td>
    <td class="localtime">{{ form['modified'] }}</td>
  </tr>
{% end %}
</table>
{% end %}
