{# List of all orders for a given form. #}

{% extends "base.html" %}

{% block head_title %}Orders Form: {{ form['_id'] }}{% end %}

{% block body_title %}
{% module Icon('order', title='Orders', label=True) %}
Form: {% module Entity(form) %}
{% end %}

{% block content %}
{% import functools %}

<div class="row">
  <div class="col-md-12">
    {% set url_func = functools.partial(reverse_url, 'form_orders', form['_id'], **params) %}
    {% include 'paging.html' %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
	<th width="45%">Order</th>
	<th width="20%">Owner</th>
	<th width="15%">Status</th>
	<th width="20%">Modified</th>
      </tr>
      {% for order in orders %}
      <tr>
	<td>
	  <a href="{{ reverse_url('order', order['_id']) }}">{{ order.get('title', order['_id']) }}</a>
	</td>
	<td>
	  <a href="{{ reverse_url('account', order['owner']) }}">
	    {% module Icon('account') %}
	    {{ account_names.get(order['owner'], order['owner']) }}
	  </a>
	</td>
	<td>{% module Icon(order['status'], label=True) %}</td>
	<td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
</div>
{% end %}

{% block javascript_code %}
<script>
$(document).ready(function() {
    $('.refresh').change(function () {
	$('#refresh').submit();
    });
});
</script>
{% end %}
