{# Group create page. #}

{% extends "base.html" %}

{% block head_title %}Create a group{% end %}

{% block body_title %}Create a group{% end %}

{% block main_content %}
<div class="well">
  A member of a group may read <strong>any</strong> order of another
  member of that group. This feature is therefore suitable for true
  working groups, but <strong>not</strong> for the occasional
  collaboration.
</div>

<form action="{{ reverse_url('group_create') }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="owner">Owner</label>
	<p class="form-control-static">{{ current_user['email'] }}</p>
      </div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="name">Name</label>
	<input type="text" class="form-control" name="name" id="name">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true">
	</span>
      </div>
    </div>
    <span class="help-block">
      Name of group. It is not required to be unique, but it is a good
      idea to make it so anyway. May be edited later.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="invited">Member invitations</label>
	<textarea class="form-control" name="invited" id="invited"></textarea>
      </div>
    </div>
    <span class="help-block">
      Invite accounts in this site to be members of this group. Give
      the email address for each account, one per line. Email
      addresses that do not correspond to an account in the system
      will be ignored. May be edited later.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Create
    </button>
  </div>

</form>

{% end %} {# block main_content #}

{% block javascript-autofocus %}
<script>
  $(document).ready(function(){
    $("#name").focus();
  });
</script>
{% end %}
