{# Group page. #}

{% block head_title %}Group: {{ group['name'] }}{% end %}

{% block body_title %}
{% module Icon('group', label=True) %}:
{{ group['name'] }}
{% end %}

{% extends "base.html" %}

{% block meta_content %}

{% if is_editable %}
<br>
<form action="{{ reverse_url('group_edit', group['_id']) }}"
      role="form"
      method="GET">
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-edit"></span>
    Edit
  </button>
</form>

<br>
<form action="{{ reverse_url('group', group['_id']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}
  <input type="hidden" name="_http_method" value="delete">
  <button type="submit" class="btn btn-danger"
	  onclick="return confirm('Cannot be undone! Really delete?');">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </button>
</form>
{% end %} {# if is_editable #}

{% if is_editable %}
{#
<br>
<form action="{{ reverse_url('group', group['_id']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}
  <input type="hidden" name="_http_method" value="delete">
  <button type="submit" class="btn btn-danger"
	  onclick="return confirm('Cannot be undone! Really delete?');">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </button>
</form>
#}
{% end %} {# if is_editable #}

{% end %} {# block meta_content #}

{% block main_content %}
<div class="well">
  A member of a group may read <strong>any</strong> order of another
  member of that group. This feature is therefore suitable for true
  working groups, but <strong>not</strong> for granting access to the
  occasional collaborative project.
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-condensed table-fields table-noborder">
      <tr>
	<th>Owner</th>
	<td>
	  <a href="{{ reverse_url('account', group['owner']) }}">
	    {% module Icon('account') %}
	    {{ group['owner'] }}
	  </a>
	</td>
      </tr>
      <tr>
	<th>Members</th>
	<td>
	  {% for email in group['members'] %}
	  <a href="{{ reverse_url('account', email) }}">
	    {% module Icon('account') %}
	    {{ email }}
	  </a>
	  <br>
	  {% end %}
	</td>
      </tr>
      <tr>
	<th>Invited</th>
	<td>
	  {% for email in group['invited'] %}
	    {% if is_staff %}
	    <a href="{{ reverse_url('account', email) }}">
	      {% module Icon('account') %}
	      {{ email }}
	    </a>
	    {% else %}
	    {{ email }}
	    {% end %}
	    <br>
	  {% end %}
	</td>
      </tr>
      <tr>
	<th>Modified</th>
	<td>
	  <span class="localtime">{{ group['modified'] }}</span>
	  <a href="{{ reverse_url('group_logs', group['_id']) }}">
	    {% module Icon('logs', label=True) %}
	  </a>
	</td>
      </tr>
      <tr>
	<th>Created</th>
	<td class="localtime">{{ group['created'] }}</td>
      </tr>
      <tr>
	<th>IUID</th>
	<td>{{ group['_id'] }}</td>
      </tr>
    </table>
  </div>
</div>
{% end %} {# block main_content #}
