{# Group create page. #}

{% extends "base.html" %}

{% block head_title %}Create a group{% end %}

{% block body_title %}Create a group{% end %}

{% block main_content %}
<form action="{{ reverse_url('group_create') }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="owner">Owner</label>
	<p class="form-control-static">{{ current_user['email'] }}</p>
      </div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="name">Name</label>
	<input type="text" class="form-control" name="name" id="name">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true">
	</span>
      </div>
    </div>
    <span class="help-block">
      Name of group. It is not required to be unique, but it is a good
      idea to make it so anyway. May be edited later.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="members">Members</label>
	<textarea class="form-control" name="members" id="members"></textarea>
      </div>
    </div>
    <span class="help-block">
      Email addresses of members, which must have accounts in the
      system.  One per line. May be edited later.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-primary glyphicon glyphicon-plus">
      Create
    </button>
  </div>

</form>

{% end %} {# block main_content #}
