{# Group page. #}

{% block head_title %}Group {{ group['name'] }}{% end %}

{% block body_title %}
{% module Icon('group', label=True) %}
{{ group['name'] }}
{% end %}

{% extends "base.html" %}

{% block meta_content %}

{% if is_editable %}
<br>
<form action="{{ reverse_url('group_edit', group['_id']) }}"
      role="form"
      method="GET">
  <button type="submit"
	  class="btn btn-primary glyphicon glyphicon-edit">
    Edit
  </button>
</form>
{% end %} {# if is_editable #}

{% if is_editable %}
{#
<br>
<form action="{{ reverse_url('group', group['_id']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}
  <input type="hidden" name="_http_method" value="delete">
  <button type="submit"
	  class="btn btn-danger glyphicon glyphicon-trash"
	  onclick="return confirm('Cannot be undone! Really delete?');">
    Delete
  </button>
</form>
#}
{% end %} {# if is_editable #}

{% end %} {# block meta_content #}

{% block main_content %}
<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-condensed table-fields table-noborder">
      <tr>
	<th>Owner</th>
	<td>
	  <a href="{{ reverse_url('account', group['owner']) }}">
	    {% module Icon('account') %}
	    {{ group['owner'] }}
	  </a>
	</td>
      </tr>

      <tr>
	<th>Members</th>
	<td>
	  {% if is_staff %}
	    {% for member in group['members'] %}
	      <a href="{{ reverse_url('account', member) }}">
		{% module Icon('account') %}
		{{ member }}
	      </a>
	    <br>
	    {% end %}
	  {% else %}
	    {% for member in group['members'] %}
	      {{ member }}
	    <br>
	    {% end %}
	  {% end %}
	</td>
      </tr>

      <tr>
	<th>Modified</th>
	<td>
	  <span class="localtime">{{ group['modified'] }}</span>
	  <a href="{{ reverse_url('group_logs', group['_id']) }}">
	    {% module Icon('logs', label=True) %}
	  </a>
	</td>
      </tr>

    </table>

  </div>
</div>
{% end %} {# block main_content #}
