{# Home page for a logged in user having role 'staff'. #}

{% extends "home.html" %}

{% block content_left %}
<div class="panel panel-default">
  <div class="panel-heading">
    Recently accepted orders
  </div>
  <div class="panel-body">
    <table class="table-condensed">
      {% for order in orders %}
      <tr>
	<th>
	  {% if order.get('identifier') %}
	  <a href="{{ reverse_url('order_id', order['identifier']) }}">
	    {{ order['title'] }}
	  </a>
	  {% else %}
	  <a href="{{ reverse_url('order', order['_id']) }}">
	    {{ order['title'] }}
	  </a>
	  {% end %}
	</th>
	<td>{% module Icon(order['status'], label=True) %}</td>
	<td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
</div>
{% end %} {# block content_left #}
