{# Login variant of home page. #}
{% extends "base.html" %}

{% block subheader %}
<p class="subheader">
This portal is used to create orders (a.k.a. requests, project
applications) for the {{ settings['FACILITY_NAME'] }} facility.
</p>
{% end %}

{% block content %}
<h2>Login to your existing user account</h2>
<form action="{{ reverse_url('login') }}" method="POST">
  {% module xsrf_form_html() %}
  <table class="fields">
    <tr>
      <th>Email address</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="email" name="email">
      </td>
      <td class="description">
	Your email address is your user name in this portal.
      </td>
    </tr>
    <tr>
      <th>Password</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="password" name="password">
      </td>
      <td class="description">
	Forgot your password?
	<a href="{{ reverse_url('reset') }}">Go to this page to reset it.</a>
      </td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td>
	{% module Submit('login') %}
      </td>
    </tr>
  </table>
</form>

<br>
<br>
<br>

<h2>Register a new user account</h2>
<ul>
  <li> Your registration of a new user account will be processed
    manually by the portal administrators.
  <li> This may take one or two working days.
  <li> Invalid or suspect applications will be silently ignored.
  <li> You will receive an email with instructions on how to login
  once your account has been approved.
</ul>
<form action="{{ reverse_url('register') }}" method="POST">
  {% module xsrf_form_html() %}
  <table class="fields">
    <tr>
      <th>Email address</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="email" name="email">
      </td>
      <td class="description">
	Your email address is your user name in this portal.
      </td>
    </tr>
    <tr>
      <th>First name</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="text" name="first_name">
      </td>
      <td class="description">
      </td>
    </tr>
    <tr>
      <th>Last name</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="text" name="last_name">
      </td>
      <td class="description">
      </td>
    </tr>
    <tr>
      <th>University</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="text" name="university">
      </td>
      <td class="description">
	Your main affiliation; university, institute, company, or similar.
      </td>
    </tr>
    <tr>
      <th>Department</th>
      <td></td>
      <td>
	<input type="text" name="department">
      </td>
      <td class="description">
	Your department at the university; section, group, or similar.
      </td>
    </tr>
    <tr>
      <th>Address</th>
      <td></td>
      <td>
	<textarea class="thin" name="address"></textarea>
      </td>
      <td class="description">
	Postal address for delivery of paper documents, return samples, etc.
      </td>
    </tr>
    <tr>
      <th>Phone</th>
      <td></td>
      <td>
	<input type="text" name="phone">
      </td>
      <td class="description">
	Phone number, including the country prefix (e.g. +46 for Sweden).
      </td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td>
	{% module Submit('register') %}
      </td>
    </tr>
  </table>
</form>
{% end %} {# block content #}
