{# Home page for admin. #}

{% extends "home.html" %}

{% block content-header %}
{% end %} {# block content-header #}

{% block content-left %}
<div class="col-md-5">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-user">
	Pending user accounts
      </span>
    </div>

    <div class="panel-body">
      <table class="table table-condensed">
	<tr>
	  <th>User</th>
	  <th>Role</th>
	  <th>Created</th>
	</tr>
	{% if pending %}
	{% for user in pending %}
	<tr>
	  <td>
	    <a href="{{ reverse_url('user', user['email']) }}">
	      {{ user['email'] }}
	    </a>
	  </td>
	  <td>{% module Icon(user['role'], label=True) %}</td>
	  <td class="localtime">{{ user['created'] }}</td>
	</tr>
	{% end %}
	{% else %}
	<tr>
	  <td colspan="4"><i>Currently none.</i></td>
	</tr>
	{% end %}
      </table>
    </div>
  </div>

  {% set orders_url = reverse_url('orders') %}
  {% include 'orders_mod_panel.html' %}
</div>
{% end %} {# block content-left #}

{% block content-footer %}
{% end %} {# block content-footer #}
