{# Home page for any logged in user; intermediate inheritance template. #}

{% extends "home.html" %}

{% block body_header_middle %}

{% if global_modes['allow_order_creation'] %}
<div class="panel-group">
  {% for form in forms[0::2] %}
  <div class="panel panel-primary">
    <div class="panel-heading">{{ form['title'] }}</div>
    <div class="panel-body">
      <form action="{{ reverse_url('order_create') }}"
	    role="form"
	    method="GET">
	<input type="hidden" name="form" value="{{ form['_id'] }}">
	<button type="submit" class="btn btn-primary btn-sm pull-right">
	  <span class="glyphicon glyphicon-plus"></span>
	  Create order
	</button>
      </form>
      {% module Markdown(form.get('description')) %}
    </div>
  </div>
  {% end %} {# for form in forms[0::2] #}
</div>
{% else %}
<div class="well text-danger">
  Order creation is currently disabled. Try again later.
</div>
{% end %} {# if global_modes['allow_order_creation'] #}

{% end %} {# block body_header_middle #}


{% block body_header_right %}

{% if global_modes['allow_order_creation'] %}
<div class="panel-group">
  {% for form in forms[1::2] %}
  <div class="panel panel-primary">
    <div class="panel-heading">{{ form['title'] }}</div>
    <div class="panel-body">
      <form action="{{ reverse_url('order_create') }}"
	    role="form"
	    method="GET">
	<input type="hidden" name="form" value="{{ form['_id'] }}">
	<button type="submit" class="btn btn-primary btn-sm pull-right">
	  <span class="glyphicon glyphicon-plus"></span>
	  Create order
	</button>
      </form>
      {% module Markdown(form.get('description')) %}
    </div>
  </div>
  {% end %} {# for form in forms[1::2] #}
</div>
{% end %} {# if global_modes['allow_order_creation'] #}

{% end %} {# block body_header_right #}
