{# Home page when not logged in; base for other home page variants. #}

{% extends "base.html" %}

{% block head_title %}{{ settings['SITE_NAME'] }}{% end %}

{% block body_header %}

{% try %}
  {% set url = reverse_url('site', settings['SITE_HOME_ICON']) %}
{% except KeyError %}
  {% set url = static_url('orderportal_144.png') %}
{% end %}
<div class="row">

  <div class="col-md-4">
    <img class="img-responsive"
	 src="{{ url }}"
	 title="{{ settings['SITE_NAME'] }}"
	 alt="{{ settings['SITE_NAME'] }}">
  </div>

  <div class="col-md-8">
    <h2>{{ settings['SITE_NAME'] }}</h2>
    {% if is_admin %}
    <a href="{{ reverse_url('text', 'header') }}"
       class="btn btn-primary btn-xs pull-right" role="button">
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    </a>
    {% end %}
    {% module Text('header') %}
  </div>

</div>

<br>

{% end %} {# block body_header #}

{% block content %}

<div class="row">

  <div class="col-md-6">
    {% block content_left %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
	Login
      </div>
      <div class="panel-body">
	{% if not global_modes['allow_login'] %}
	<div class="alert alert-danger" role="alert">
          <strong>Login is currently disabled (except for administrators).</strong>
	  Please try again later.
	</div>
	{% end %}
	<form action="{{ reverse_url('login') }}" role="form" method="POST">
	  {% module xsrf_form_html() %}
	  <div class="form-group">
	    <label for="email">Email</label>
	    <input type="text" class="form-control" name="email" id="email"
		   placeholder="Email address of account">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" name="password">
	  </div>
	  <div class="form-group"> 
	    <button type="submit" class="btn btn-info btn-block">
	      <span class="glyphicon glyphicon-log-in"></span>
	      Login
	    </button>
	  </div>
	</form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
	<div>
	  {% if global_modes['allow_registration'] %}
	  <a href="{{ reverse_url('register') }}" role="button"
	     class="btn btn-success btn-block">
	    <span class="glyphicon glyphicon-user"></span>
	    Register account
	  </a>
	  {% else %}
	  <div class="alert alert-danger" role="alert">
            <strong>Registration is currently disabled.</strong>
	    Please try again later.
	  </div>
	  {% end %} {# if global_modes['allow_registration'] #}
	</div>
	<br>
	<div>
	  <a href="{{ reverse_url('reset') }}" ole="button"
	     class="btn btn-warning btn-block">
	    <span class="glyphicon glyphicon-step-backward"></span>
	    Reset password
	  </a>
	</div>
	<br>
	<div>
	  <a href="{{ reverse_url('password') }}" role="button"
	     class="btn btn-danger btn-block">
	    <span class="glyphicon glyphicon-lock"></span>
	    Set password
	  </a>
	</div>
      </div>
    </div>
    {% end %} {# block content_left #}
  </div>

  <div class="col-md-6">
    {% block content_right %}

    {% if global_modes['allow_order_creation'] %}
    <div class="panel-group">
      {% if forms %}
      {% for form in forms %}
      <div class="panel panel-primary">
	<div class="panel-heading">
	  {{ form['title'] }}
	  <div class="form-group pull-right">
	    <form action="{{ reverse_url('order_create') }}"
		  role="form"
		  method="GET">
	      <button type="submit" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-plus"></span>
		Create order
	      </button>
	      <input type="hidden" name="form" value="{{ form['_id'] }}">
	    </form>
	  </div>
	</div>
	<div class="panel-body">
	  {% module Markdown(form.get('description')) %}
	</div>
      </div>
      {% end %} {# for form in forms[0::2] #}
      {% else %}
      <i>No order forms have been defined.</i>
      {% end %}
    </div>
    {% else %}
    <div class="alert alert-danger">
      <strong>Order creation is currently disabled.</strong>
      Please try again later.
    </div>
    {% end %} {# if global_modes['allow_order_creation'] #}

    {% end %} {# block content_right #}
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
	<span class="glyphicon glyphicon-info-sign"></span>
	News
	{% if is_admin %}
	<button type="button" class="btn btn-info btn-xs pull-right"
		data-toggle="modal" data-target="#news_create">
	  <span class="glyphicon glyphicon-plus"></span>
	  Create
	</button>
	{% end %}{# if is_admin #}
      </div>
      <div class="panel-body">
	{% if news_items %}
	<table class="table table-condensed">
	  {% for news in news_items %}
	  <tr>
	    {% if is_admin %}
	    <td>
	      <button type="button" class="btn btn-primary btn-xs"
		      data-toggle="modal" data-target="#{{ news['_id'] }}">
		<span class="glyphicon glyphicon-edit"></span>
		Edit
	      </button>
	      <p></p>
	      <form action="{{ reverse_url('news', news['_id']) }}"
		    role="form"
		    method="POST">
		{% module xsrf_form_html() %}
		<input type="hidden" name="_http_method" value="delete">
		<button type="submit" class="btn btn-danger btn-xs"
			onclick="return confirm('Cannot be undone! Really delete?');">
		  <span class="glyphicon glyphicon-trash"></span>
		  Delete
		</button>
	      </form>
	    </td>
	    {% end %}{# if is_admin #}
	    <td>
	      <strong>{{ news.get('title') or '[no title]' }}</strong>
	      ({{ news['date'] }})
	      {% module Markdown(news.get('text')) %}
	    </td>
	  </tr>
	  {% end %}
	</table>
	{% else %}
	<i>Currently none. Check again later.</i>
	{% end %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
	<span class="glyphicon glyphicon-calendar"></span>
	Events
	{% if is_admin %}
	<button type="button"
		class="btn btn-success btn-xs pull-right"
		data-toggle="modal" data-target="#event_create">
	  <span class="glyphicon glyphicon-plus"></span>
	  Create
	</button>
	{% end %}{# if is_admin #}
      </div>
      <div class="panel-body">
	{% if events %}
	<table class="table table-condensed">
	  {% for event in events %}
	  <tr>
	    {% if is_admin %}
	    <td>
	      <button type="button"
		      class="btn btn-primary btn-xs"
		      data-toggle="modal" data-target="#{{ event['_id'] }}">
		<span class="glyphicon glyphicon-edit"></span>
		Edit
	      </button>
	      <p></p>
	      <form action="{{ reverse_url('event', event['_id']) }}"
		    role="form"
		    method="POST">
		{% module xsrf_form_html() %}
		<input type="hidden" name="_http_method" value="delete">
		<button type="submit"
			class="btn btn-danger btn-xs"
			onclick="return confirm('Cannot be undone! Really delete?');">
		  <span class="glyphicon glyphicon-trash"></span>
		  Delete
		</button>
	      </form>
	    </td>
	    {% end %}{# if is_admin #}
	    <th class="nobr">{{ event['date'] }}</th>
	    <td>
	      <strong>{{ event.get('title') or '[no title]' }}</strong>
	      {% module Markdown(event.get('text')) %}
	    </td>
	  </tr>
	  {% end %}
	</table>
	{% else %}
	<em>Currently none. Check again later.</em>
	{% end %}
      </div>
    </div>
  </div>

</div>

{% if is_admin %}
{# Modals for editing news items. #}
{% for pos, news in enumerate(news_items) %}
<div id="{{ news['_id'] }}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close"
		data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title">Edit news item</h4>
      </div>
      <div class="modal-body">
	<form action="{{ reverse_url('news', news['_id']) }}"
	      role="form"
	      method="POST">
	  {% module xsrf_form_html() %}
	  <div class="form-group has-feedback">
	    <div class="row">
	      <div class="col-md-8">
		<label class="control-label"
		       for="news_title_edit_{{ pos }}">Title</label>
		<input type="text" class="form-control"
		       name="title" id="news_title_edit_{{ pos }}"
		       value="{{ news.get('title') or '' }}">
		<span style="color:red; margin-right: 1em;"
		      class="glyphicon glyphicon-star form-control-feedback"
		      aria-hidden="true"></span>
	      </div>
	    </div>
	    <span class="help-block">
	      Title for the news item.
	    </span>
	  </div>

	  <div class="form-group">
	    <label for="news_text_edit_{{ pos }}">Text</label>
	    <textarea class="form-control" rows="4"
		      name="text" id="news_text_edit_{{ pos }}"
		      >{{ news.get('text') or '' }}</textarea>
	    <span class="help-block">
	      Text for the news item, which will be formatted using
	      <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>.
	    </span>
	  </div>
	  
	  <div class="form-group">
	    <div class="row">
	      <div class="col-md-4">
		<label class="control-label"
		       for="news_date_edit_{{ pos }}">Date</label>
		<input type="text" class="datepicker form-control"
		       name="date" id="news_date_edit_{{ pos }}"
		       value="{{ news['date'] or '' }}">
	      </div>
	    </div>
	    <span class="help-block">
	      Date of publication for the news item.
	    </span>
	  </div>

	  <div class="form-group">
	    <label class="control-label"></label>
	    <button type="submit" class="btn btn-success">
	      <span class="glyphicon glyphicon-floppy-disk"></span>
	      Save
	    </button>
	  </div>
	</form>
      </div>
    </div>

  </div>
</div>
{% end %}{# for news in news_items #}

{# Modals for editing event items. #}
{% for pos, event in enumerate(events) %}
<div id="{{ event['_id'] }}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
		data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title">Edit event item</h4>
      </div>
      <div class="modal-body">
	<form action="{{ reverse_url('event', event['_id']) }}"
	      role="form"
	      method="POST">
	  {% module xsrf_form_html() %}
	  <div class="form-group has-feedback">
	    <div class="row">
	      <div class="col-md-4">
		<label class="control-label"
		       for="event_date_edit_{{ pos }}">Date</label>
		<input type="text" class="datepicker form-control"
		       name="date" id="event_date_edit_{{ pos }}"
		       value="{{ event['date'] }}">
		<span style="color:red; margin-right: 1em;"
		      class="glyphicon glyphicon-star form-control-feedback"
		      aria-hidden="true"></span>
	      </div>
	    </div>
	    <span class="help-block">
	      Date for the event; start date if multi-day event.
	    </span>
	  </div>

	  <div class="form-group has-feedback">
	    <div class="row">
	      <div class="col-md-8">
		<label class="control-label"
		       for="event_title_edit_{{ pos }}">Title</label>
		<input type="text" class="form-control"
		       name="title" id="event_title_edit_{{ pos }}"
		       value="{{ event['title'] }}">
		<span style="color:red; margin-right: 1em;"
		      class="glyphicon glyphicon-star form-control-feedback"
		      aria-hidden="true"></span>
	      </div>
	    </div>
	    <span class="help-block">
	      Title for the event.
	    </span>
	  </div>

	  <div class="form-group">
	    <div class="row">
	      <div class="col-md-10">
		<label class="control-label"
		       for="event_text_edit_{{ pos }}">Text</label>
		<textarea class="form-control" rows="4"
			  name="text" id="event_text_edit_{{ pos }}"
			  >{{ event.get('text') or '' }}</textarea>
	      </div>
	    </div>
	    <span class="help-block">
	      Text for the event, which will be formatted using
	      <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>.
	    </span>
	  </div>

	  <div class="form-group">
	    <label class="control-label"></label>
	    <button type="submit" class="btn btn-success">
	      <span class="glyphicon glyphicon-floppy-disk"></span>
	      Save
	    </button>
	  </div>
	</form>
      </div>
    </div>

  </div>
</div>
{% end %} {# for pos, event in enum(events) #}

{# Modal for creating a news item. #}
<div id="news_create" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
		data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title">Create a news item</h4>
      </div>
      <div class="modal-body">
	<form action="{{ reverse_url('news_create') }}"
	      role="form"
	      method="POST">
	  {% module xsrf_form_html() %}
	  <div class="form-group has-feedback">
	    <div class="row">
	      <div class="col-md-8">
		<label class="control-label"
		       for="news_title_create">Title</label>
		<input type="text" class="form-control"
		       name="title" id="news_title_create">
		<span style="color:red; margin-right: 1em;"
		      class="glyphicon glyphicon-star form-control-feedback"
		      aria-hidden="true"></span>
	      </div>
	    </div>
	    <span class="help-block">
	      Title for the news item.
	    </span>
	  </div>

	  <div class="form-group">
	    <label for="news_text_create">Text</label>
	    <textarea class="form-control" rows="4"
		      name="text" id="news_text_create"></textarea>
	    <span class="help-block">
	      Text for the news item, which will be formatted using
	      <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>.
	    </span>
	  </div>
	  
	  <div class="form-group">
	    <label class="control-label"></label>
	    <button type="submit" class="btn btn-success">
	      <span class="glyphicon glyphicon-floppy-disk"></span>
	      Save
	    </button>
	  </div>
	</form>
      </div>
    </div>

  </div>
</div>

{# Modal for creating an event item. #}
<div id="event_create" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
		data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title">Create an event item</h4>
      </div>
      <div class="modal-body">
	<form action="{{ reverse_url('event_create') }}"
	      role="form"
	      method="POST">
	  {% module xsrf_form_html() %}
	  <div class="form-group has-feedback">
	    <div class="row">
	      <div class="col-md-4">
		<label class="control-label"
		       for="event_date_create">Date</label>
		<input type="text" class="datepicker form-control"
		       name="date" id="event_date_create">
		<span style="color:red; margin-right: 1em;"
		      class="glyphicon glyphicon-star form-control-feedback"
		      aria-hidden="true"></span>
	      </div>
	    </div>
	    <span class="help-block">
	      Date for the event; start date if multi-day event.
	    </span>
	  </div>

	  <div class="form-group has-feedback">
	    <div class="row">
	      <div class="col-md-8">
		<label class="control-label"
		       for="event_title_create">Title</label>
		<input type="text" class="form-control"
		       name="title" id="event_title_create">
		<span style="color:red; margin-right: 1em;"
		      class="glyphicon glyphicon-star form-control-feedback"
		      aria-hidden="true"></span>
	      </div>
	    </div>
	    <span class="help-block">
	      Title for the event.
	    </span>
	  </div>

	  <div class="form-group">
	    <div class="row">
	      <div class="col-md-10">
		<label class="control-label"
		       for="event_text_create">Text</label>
		<textarea class="form-control" rows="4"
			  name="text" id="event_text_create"></textarea>
	      </div>
	    </div>
	    <span class="help-block">
	      Text for the event, which will be formatted using
	      <a href="{{ settings['MARKDOWN_URL'] }}" target="_blank">Markdown</a>.
	    </span>
	  </div>

	  <div class="form-group">
	    <label class="control-label"></label>
	    <button type="submit" class="btn btn-success">
	      <span class="glyphicon glyphicon-floppy-disk"></span>
	      Save
	    </button>
	  </div>
	</form>
      </div>
    </div>

  </div>
</div>
{% end %} {# if is_admin #}

{% block content-footer %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
	{% if is_admin %}
	<a href="{{ reverse_url('text', 'general') }}"
	   class="btn btn-primary btn-xs pull-right" role="button">
	  <span class="glyphicon glyphicon-edit"></span>
	  Edit
	</a>
	{% end %}
	{% module Text('general') %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      This site is based on the <b>OrderPortal version {{ version }}</b>,
      which is Open Source software.
      Technical information and links can be found
      <a href="{{ reverse_url('techinfo') }}">here</a>.
    </div>
  </div>
</div>
{% end %} {# block content-footer #}

{% end %} {# block content #}

{% block javascript_autofocus %}
<script>
  $(document).ready(function(){
    $("#email").focus();
  });
</script>
{% end %}
