{# Home page for user. #}

{% extends "home.html" %}

{% block content-left %}
<div class="col-md-5">
  
  <div class="panel-group">
    {% for form in forms %}
    <div class="panel panel-warning">
      <div class="panel-heading">
	{{ form['title'] }}
	<form action="{{ reverse_url('order_create') }}"
	      role="form" class="pull-right" method="GET">
	  <input type="hidden" name="form" value="{{ form['iuid'] }}">
	  <button type="submit"
		  class="btn btn-xs btn-warning glyphicon glyphicon-plus">
	    Create order
	  </button>
	</form>
      </div>
      <div class="panel-body">
	  {{ form['description'] }}
      </div>
    </div>
    {% end %}
  </div>

  {% set orders_url = reverse_url('orders_user', current_user['email']) %}
  {% include 'orders_mod_panel.html' %}

</div>
{% end %} {# block content-left #}
