{# Information edit page. #}

{% extends "base.html" %}

{% block head_title %}Edit {{ info['name'] }}{% end %}

{% block body_title %}
Edit
{% module Icon('info') %}
{{ info['name'] }}
{% end %}

{% block main_content %}

<form action="{{ reverse_url('info_edit', info['name']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-10">
	<label for="title">Title</label>
	<input type="text" class="form-control"
	       id="title" name="title"
	       value="{{ info.get('title') or ''}}">
      </div>
    </div>
    <span class="help-block">
      Title to display for the information page.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
	<label for="menu">Menu</label>
	<input type="number" class="form-control"
	       id="menu" name="menu"
	       value="{{ info.get('menu') or ''}}">
      </div>
    </div>
    <span class="help-block">
      Relative position in 'Information' dropdown menu; an
      integer. All items with a number will be shown in the dropdown
      menu after sorting. If blank, the information page will not
      appear in the menu. It must then be linked to explicitly from
      elsewhere, or it will be hard for the user to find it.
    </span>
  </div>

  <div class="form-group">
    <label for="text">Text</label>
    <textarea rows="16" class="form-control"
	      id="text" name="text"
	      >{% raw info.get('text') or '' %}</textarea>
    <span class="help-block">
      This text will be formatted using
      <a href="{{ settings['MARKDOWN_URL'] }}">Markdown</a>.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Save
    </button>
  </div>
</form>

<br>
<form action="{{ reverse_url('info', info['name']) }}"
      role="form"
      method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}
