{# Information page. #}

{% extends "base.html" %}

{% block head_title %}{{ info.get('title') or 'No title' }}{% end %}
{% block body_title %}{{ info.get('title') or 'No title' }}{% end %}

{% block main_content %}

{% if is_admin %}
<form action="{{ reverse_url('info_edit', info['name']) }}"
      role="form" class="pull-right" method="GET">
  <button type="submit"
	  class="btn btn-sm btn-primary glyphicon glyphicon-edit">
    Edit
  </button>
</form>
{% end %}

{% module Markdown(info.get('text')) %}

{% end %} {# block main_content #}
