{# Log entries table page. #}
<table class="log">
  <tr>
    <th>Log entry</th>
    <th>User</th>
    <th>Changed</th>
  </tr>
  {% for log in logs %}
  <tr>
    <td>
      <a href="{{ reverse_url('log', log['iuid']) }}">
	<span class="localtime">{{ log['modified'] }}</span>
      </a>
    </td>
    <td>{{ log.get('user') or '-' }}</td>
    <td>
      <table>
	{% for key, value in sorted(log['changed'].items()) %}
	<tr>
	  <th class="key">{{ key }}</th>
	  <td>
	    {% if key == 'fields' %}
	      {% for k, v in sorted(value.items()) %}
	        {{ k }} = {{ repr(v) }}<br>
	      {% end %}
	    {% elif key == 'copied from' %}
	      <a href="{{ reverse_url('entity', value) }}">{{ value }}</a>
	    {% else %}
	      {{ value }}
	    {% end %}
	  </td>
	</tr>
	{% end %}
      </table>
    </td>
  </tr>
  {% end %}
</table>
