{# News items edit page. #}

{% extends "base.html" %}

{% block head_title %}News{% end %}
{% block body_title %}News{% end %}

{% block content %}

{% if is_admin %}
<div class="panel panel-default">
  <div class="panel-heading">Add a news item</div>
  <div class="panel-body">
    <form action="{{ reverse_url('news') }}"
	  role="form" method="POST">
      {% module xsrf_form_html() %}
      <div class="form-group">
	<label for="markdown">Text for a new item</label>
	<textarea class="form-control" rows="5"
		  name="markdown" id="markdown"></textarea>
	<p class="text-muted">
	  Text in
	  <a href="http://daringfireball.net/projects/markdown/">Markdown</a>
	  format.
	</p>
      </div>

      <div class="form-group">
	<label class="control-label"></label>
	<button type="submit"
		class="btn btn-primary glyphicon glyphicon-save">
	  Save
	</button>
      </div>
    </form>
  </div>
</div>
<br>
{% end %} {# if is_admin #}

<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Modified</th>
    <th>Created</th>
  </tr>

  {% for new in news %}
  <tr>
    <td>
      {% module Markdown(new) %}
    </td>
    <td class="localtime">{{ new['modified'] }}</td>
    <td class="localtime">{{ new['created'] }}</td>
    {% if is_admin %}
    <td>
      <form action="{{ reverse_url('new', new['_id']) }}"
	    role="form" method="POST">
	{% module xsrf_form_html() %}
	<input type="hidden" name="_http_method" value="delete">
	<div class="form-group">
	  <label class="control-label"></label>
	  <button type="submit"
		  class="btn btn-primary glyphicon glyphicon-remove"
		  onclick="return confirm('Cannot be undone! Really delete?');">
	    Delete
	  </button>
	</div>
      </form>
    </td>
    {% end %} {# if is_admin #}
  </tr>
  {% end %}
</table>
{% end %} {# block content #}
