{# Order edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit {{ terminology('order') }} '{{ order['title'] or '[no title]'}}'
{% end %}

{% block body_title %}
Edit {{ terminology('order') }} '{{ order['title'] or '[no title]'}}'
{% end %}

{% block content %}
<div class="row">
  <div class="col-md-10">
    {% module Markdown(form.get('instruction')) %}
  </div>
  <div class="col-md-2">
    <form action="{{ reverse_url('order', order['_id']) }}"
	  class="allow_leaving_without_question"
	  role="form"
	  method="GET">
      <div class="form-group">
	<button type="submit" class="btn btn-default btn-block">
	  <span class="glyphicon glyphicon-remove"></span>
	  Cancel
	</button>
      </div>
    </form>
  </div>
</div>

<form action="{{ reverse_url('order_edit', order['_id']) }}"
      id="__order_edit__"
      class="allow_leaving_without_question"
      role="form"
      enctype="multipart/form-data"
      method="POST">
  {% module xsrf_form_html() %}

  {% include 'order_edit_save.html' %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
	<label class="control-label" for="__title__">Title</label>
	<input type="text" class="form-control"
	       name="__title__" id="__title__"
	       value="{{ order['title'] or '' }}">
      </div>
    </div>
    <span class="help-block">
      Brief, descriptive title for the {{ terminology('order') }},
      which will be displayed in your list of {{ terminology('orders') }}.
      It is not required to be unique, but it is a good idea to make
      it so anyway.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
	<label class="control-label" for="__form__">
          {{ terminology('Order') }} form
        </label>
	<p id="__form__" class="form-control-static">
	  {{ form['title'] }} {% module Version(form) %}
        </p>
      </div>
    </div>
  </div>

  {% if settings['ORDER_TAGS'] and (is_staff or settings['ORDER_USER_TAGS']) %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
	<label class="control-label" for="__tags__">Keywords (tags)</label>
	{# Terminology in display: keyword; in code: tag #}
	<textarea class="form-control"
		  name="__tags__" id="__tags__" rows="2"
		  >{{ ', '.join(tags) }}</textarea>
      </div>
    </div>
    <span class="help-block">
      Optional keywords (tags) characterizing the {{ terminology('order') }},
      which are used in searches.
      <br>
      A keyword must look like an identifier: It begins with a letter and
      continues with letters, digits and/or underscore '_'. Blank or comma
      ',' separates keywords from one another.
      {% if is_staff %}
      <br>
      Staff may use namespace prefixes, e.g. "project_id:P12345".
      {% end %}
    </span>
  </div>
  {% end %} {# if settings['ORDER_TAGS'] and ... #}

  {% if settings.get('ORDER_LINKS') %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
	<label class="control-label" for="__links__">Links</label>
	<textarea class="form-control"
		  name="__links__" id="__links__" rows="2"
		  >{{ '\n'.join(links) }}</textarea>
      </div>
    </div>
    <span class="help-block">
      Optional links to external resources for the {{ terminology('order') }}.
      <br>
      One line per link, with the URL as the first item. The
      URL is <b>not</b> checked for validity. Any words after the
      URL are shown as the label for the link.
    </span>
  </div>
  {% end %} {#if settings.get('ORDER_LINKS') #}

  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
	<label class="control-label" for="__owner__">Owner</label>
	{% if is_admin %}
	<input type="text" class="form-control"
	       name="__owner__" id="__owner__"
	       value="{{ order['owner'] }}">
	{% elif is_staff %}
	<p id="__owner__" class="form-control-static">{{ order['owner'] }}</p>
	{% elif colleagues %}
	<select class="form-control" name="__owner__" id="__owner__">
	  {% for colleague in colleagues %}
	    <option {{ colleague == current_user['email'] and 'selected' or '' }}>{{ colleague }}</option>
	  {% end %}
	</select>
        {% else %}
	<p id="__owner__" class="form-control-static">{{ order['owner'] }}</p>
	{% end %}
      </div>
    </div>
    <span class="help-block">
      {% if is_admin %}
      The {{ terminology('order') }}'s owner specified by email address.
      May be changed to another account.
      {% elif colleagues %}
      The {{ terminology('order') }}'s owner may be changed to an account
      in your groups, if any.
      <strong>NOTE:</strong>
      You will then no longer be able to edit the {{ terminology('order') }}.
      {% end %}
    </span>
  </div>

  {# Recursion: 'include' cannot be used! #}
  {% module Template('order_edit_fields.html', fields=fields, order=order, is_staff=is_staff, hidden_fields=hidden_fields, tableinputs=tableinputs) %}

  <div>
    {# Fields must be allowed to influence others, even when hidden. #}
    {% for f in hidden_fields %}
    <input type="hidden" class="visible-if-source"
	   name="{{ f }}" id="{{ f }}" 
	   value="{% module NoneStr(order['fields'].get(f)) %}">
    {% end %}
  </div>

  {% include 'order_edit_save.html' %}
</form>
{% end %} {# block content #}

{% block javascript_autofocus %}
<script>
  $(function(){ $("#__title__").focus(); });
</script>
{% end %}

{% block javascript_code %}
<script src="{{ static_url('field_visible_if.js') }}"></script>
<script src="{{ static_url('quit_through_submit.js') }}"></script>
<script src="{{ static_url('table_edit.js') }}"></script>
<script>
  $("#__order_edit__").find("a").attr("target", "_blank");
</script>
{% for tableid in tableinputs %}
<script>
  $("#_table_{{ tableid }}_add_button").click({tableid: "{{ tableid }}", tableinput: "{% raw tableinputs[tableid] %}"}, table_add_row);
</script>
{% end %}
{% end %}
