{# Order edit fields recursive display. #}

{% for field in fields %}

{# Check if field may not be read or edited. #}
{% if (field['restrict_read'] or field['restrict_write']) and not is_staff %}
{% continue %}
{% end %}

{# Update hidden fields set; remaining will be output by order_edit.html. #}
{% set garbage = hidden_fields.remove(field['identifier']) %}

{% set label = field.get('label') or field['identifier'].capitalize().replace('_', ' ') %}

{# Is there a visibility condition? #}
{% set visible_if_field = field.get('visible_if_field') %}

{% if visible_if_field %}
<div class="row visible-if"
     data-if-id="{{ visible_if_field }}"
     data-if-val="{{ field.get('visible_if_value') or '' }}">
{% else %}
<div class="row">
{% end %} {# if visible_if_field #}

{% if field['type'] == constants.GROUP %}

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
	{{ label }}
	{% if field['restrict_read'] %}
	&nbsp;
	<span class="glyphicon glyphicon-eye-open"
	      title="Readable by staff only.">
	</span>
	{% end %}
	{% if field['restrict_write'] %}
	&nbsp;
	<span class="glyphicon glyphicon-pencil"
	      title="Writeable by admin only.">
	</span>
	{% end %}
	<div class="pull-right">
	  {% if field['identifier'] in order['invalid'] %}
	  <span class="text-danger">
	    <span class="glyphicon glyphicon-remove"></span>
	    {{ order['invalid'][field['identifier']] }}
	  </span>
	  {% else %}
	  <span class="text-success">
	    <span class="glyphicon glyphicon-ok"></span>
	    OK
	  </span>
	  {% end %}
	</div>
      </h4>
      <div>
	{% module Markdown(field.get('description')) %}
      </div>
    </div>
    <div class="panel-body">
      {# Recursion: 'include' cannot be used! #}
      {% module Template('order_edit_fields.html', order=order, fields=field['fields'], is_staff=is_staff, hidden_fields=hidden_fields) %}
    </div>
  </div>
</div>

{% else %} {# if field['type'] == constants.GROUP #}

<div class="col-md-10">
  <div class="form-group has-feedback">

    {% set value = order['fields'][field['identifier']] %}
    <label class="control-label" for="{{ field['identifier'] }}">
      {{ label }}
      {% if field['restrict_read'] %}
      &nbsp;
      <span class="glyphicon glyphicon-eye-open"
	    title="Readable by staff only.">
      </span>
      {% end %}
      {% if field['restrict_write'] %}
      &nbsp;
      <span class="glyphicon glyphicon-pencil"
	    title="Writeable by admin only.">
      </span>
      {% end %}
    </label>

    {% if field['type'] == constants.BOOLEAN %}
    {% if field.get('checkbox') %}
    <div class="checkbox">
      <label>
        <input type="checkbox"
	       class="visible-if-source"
	       id="{{ field['identifier'] }}"
	       name="{{ field['identifier'] }}"
	       {{ value == True and 'checked' or '' }}
	       value="true">
	Check box if "true".
      </label>
    </div>
    {% else %}
    {# Simplifies a lot to use a Select element rather than Radio. #}
    <select class="form-control visible-if-source"
	    id="{{ field['identifier'] }}"
	    name="{{ field['identifier'] }}">
      <option value="false"
	      {{ bool(value) and 'selected' or '' }}>False</option>
      <option value="true"
	      {{ bool(value) and 'selected' or '' }}>True</option>
    </select>
    {% end %} {# if field.get('checkbox') #}

    {% elif field['type'] == constants.SELECT %}
    {% if field.get('display') == 'radio' %}
    <div>
      {% for v in field['select'] %}
      {% set checked = v == value and 'checked' or '' %}
      <label class="radio-inline">
	<input type="radio" class="visible-if-source"
	       name="{{ field['identifier'] }}"
	       {# XXX This is not proper HTML. But it works... #}
	       id="{{ field['identifier'] }}"
	       value="{{ v }}" {{ checked }}>{{ v }}
      </label>
      {% end %}
    </div>
        
    {% else %} {# default 'menu' #}
    <select class="form-control visible-if-source"
	    name="{{ field['identifier'] }}"
	    id="{{ field['identifier'] }}">
      {% if value is None %}
      <option selected value="">[none]</option>
      {% else %}
      <option value="">[none]</option>
      {% end %}
      {% set in_optgroup = False %}
      {% for v in field['select'] %}
      {% if v == value %}
      <option selected>{{ v }}</option>
      {% elif v.startswith('-') %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      <optgroup label="{{ v.lstrip('-').lstrip() }}">
      {% else %}
      <option>{{ v }}</option>
      {% end %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      {% end %}
    </select>
    {% end %} {# if field.get('display') == 'radio' #}

    {% elif field['type'] == constants.MULTISELECT %}
    <select class="form-control visible-if-source"
	    multiple size="{{ min(8, len(field['multiselect']) + 1) }}"
	    name="{{ field['identifier'] }}"
	    id="{{ field['identifier'] }}">
      {% set in_optgroup = False %}
      {% set value = value or [] %}
      {% for v in field['multiselect'] %}
      {% if v in value %}
      <option selected>{{ v }}</option>
      {% elif v.startswith('-') %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      <optgroup label="{{ v.lstrip('-').lstrip() }}">
      {% else %}
      <option>{{ v }}</option>
      {% end %}
      {% if in_optgroup %}
      </optgroup>
      {% end %}
      {% end %}
    </select>

    {% elif field['type'] == constants.TEXT %}
    <textarea class="form-control"
	      name="{{ field['identifier'] }}"
	      id="{{ field['identifier'] }}"
	      >{{ value or '' }}</textarea>

    {% elif field['type'] == constants.DATE %}
    {# This requires jQuery datepicker! Loaded in calling HTML template. #}
    <input type="text"
	   class="datepicker form-control visible-if-source"
	   name="{{ field['identifier'] }}"
	   id="{{ field['identifier'] }}"
	   value="{{ value }}">

    {% elif field['type'] == constants.TABLE %}
    <table class="table table-bordered table-condensed">
      <tr>
	<th></th>
	{% for identifier in field['table'] %}
	<th>{{ identifier }}</th>
	{% end %}
      </tr>
      {% if value %}
      {% for i, row in enumerate(value) %}
      <tr>
	<td class="number">{{ i + 1 }}</td>
	{% for j, item in enumerate(row) %}
	<td>
	  <input type="text"
		 class="form-control"
		 name="cell_{{ i }}_{{ j }}"
		 value="{{ item }}">
	</td>
	{% end %}
      </tr>
      {% end %}
      {% set offset = i + 1 %}
      {% else %}
      {% set offset = 0 %}
      {% end %}
      {% for i in xrange(offset, offset + settings['ORDER_TABLE_NEW_ROWS']) %}
      <tr>
	<td class="number">{{ i + 1 }}</td>
	{% for j, item in enumerate(field['table']) %}
	<td>
	  <input type="text"
		 class="form-control"
		 name="cell_{{ i }}_{{ j }}">
	</td>
	{% end %}
      </tr>

      {% end %}
    </table>

    {% elif field['type'] == constants.FILE %}
    <input type="file"
	   class="form-control"
	   name="{{ field['identifier'] }}"
	   id="{{ field['identifier'] }}">
      {% if value %}
      Currently loaded file: {{ value }}
      {% end %}

    {% else %} {# All other field types: string, integer, float, url #}
    {% if value is None %}
    {% set value = '' %}
    {% end %}
    <input type="{{ constants.TYPE_HTML.get(field['type'], 'text') }}"
	   class="form-control visible-if-source"
	   name="{{ field['identifier'] }}"
	   id="{{ field['identifier'] }}"
	   value="{{ value }}">
    {% end %} {# elif field['type'] == #}
    
    {% if field['required'] %}
    {% if field.get('display') == 'menu' %} {# field type SELECT #}
    <span style="color:red; margin-right: 2em;"
	  class="glyphicon glyphicon-star form-control-feedback"
	  title="Required"
	  aria-hidden="true">
    </span>
    {% else %}
    <span style="color:red; margin-right: 1em;"
	  class="glyphicon glyphicon-star form-control-feedback"
	  title="Required"
	  aria-hidden="true">
    </span>
    {% end %}
    {% end %} {# if field['required'] #}

    <span style="margin-right: -3em;"
	  class="form-control-feedback nobr">
      {% if field['identifier'] in order['invalid'] %}
      <span class="text-danger">
	<span class="glyphicon glyphicon-remove"></span>
	{{ order['invalid'][field['identifier']] }}
      </span>
      {% elif value in (None, '') %}
      <span class="text-warning">
	<span class="glyphicon glyphicon-question-sign"></span>
	no value OK
      </span>
      {% else %}
      <span class="text-success">
	<span class="glyphicon glyphicon-ok"></span>
	OK
      </span>
      {% end %}
    </span>

    <span class="help-block">
      {% module Markdown(field.get('description')) %}
    </span>
  </div>
</div>

{% end %} {# if field['type'] == constants.GROUP #}

</div> {# if visible_if_field #}

{% end %} {# for field in fields #}
