{# Order fields recursive display. #}

{% for field in fields %}

{# Check if field may not be seen. #}
{% if field['restrict_read'] and not is_staff %}
{% continue %}
{% end %}

{# Is there a visibility condition? If so, check it. #}
{% set fid = field.get('visible_if_select_field') %}
{% if fid and order['fields'].get(fid)!=field.get('visible_if_select_value') %}
{% continue %}
{% end %}

{% set label = field.get('label') or field['identifier'].capitalize().replace('_', ' ') %}

{% if field['type'] == constants.GROUP %}
<tr>
  <th>{% module Indent(field['depth']) %}{{ label }}</th>
  <td></td>
  <td>
    {% if field['restrict_read'] %}
    [Staff only]
    {% end %}
    {{ field.get('description') or '' }}
  </td>
  <td>
    {% if field['identifier'] in order['invalid'] %}
    <span class="text-danger glyphicon glyphicon-remove">
      {{ order['invalid'][field['identifier']] }}
    </span>
    {% else %}
    <span class="text-success glyphicon glyphicon-ok">
    </span>
    {% end %}
  </td>
</tr>

{# Recursion: 'include' cannot be used! #}
{% module Template('order_fields.html', order=order, fields=field['fields'], is_staff=is_staff) %}

{% else %}
<tr>
  <th>{% module Indent(field['depth']) %}{{ label }}</th>
  <td>
    {% if field['type'] == constants.TEXT %}
    {% module Markdown(order['fields'][field['identifier']] or '-') %}
    {% else %}
    {{ order['fields'][field['identifier']] or '-' }}
    {% end %}
  </td>
  <td>
    {% if field['restrict_read'] %}
    [Staff only]
    {% end %}
    {{ field.get('description') or '-' }}
  </td>
  <td>
    {% if field['identifier'] in order['invalid'] %}
    <span class="text-danger glyphicon glyphicon-remove">
      {{ order['invalid'][field['identifier']] }}
    </span>
    {% else %}
    <span class="text-success glyphicon glyphicon-ok">
    </span>
    {% end %}
  </td>
</tr>

{% end %}
{% end %} {# for field in fields #}
