{# Order status display page. #}

{% extends "base.html" %}

{% block head_title %}{{ terminology('Order') }} statuses{% end %}

{% block body_title %}
{{ terminology('Order') }} statuses
<small>An order has one and only one status at all times.</small>
{% end %}

{% block main_content %}

<div class="well">
  <p>
    The order statuses are defined in the YAML file 
    <code>{{ settings.get('ORDER_STATUSES_FILEPATH') }}</code> 
    which is read on startup of the OrderPortal server.
  </p>
  <p>
    To change the set of statuses, the YAML file must be edited and
    the OrderPortal server restarted. Only the sysadmin for the server
    machine can do this. A status can be added, <bold>but must never
    be removed</bold>, since orders with that deleted status will
    become undefined.
  </p>
  <p>
    The possible transitions between statuses are defined in the YAML file 
    <code>{{ settings.get('ORDER_TRANSITIONS_FILEPATH') }}</code> 
    which is read on startup of the OrderPortal server.
  </p>
  <p>
    To change the possible transitions, the YAML file must be edited and
    the OrderPortal server restarted. Only the sysadmin for the server
    machine can do this. There are no hard restrictions on changing
    transitions.
  </p>
</div>

<div class="row">
  <div class="col-md-10">
    <table class="table table-condensed">
      {% for status in settings['ORDER_STATUSES'] %}
      <tr>
	<th>{% module Icon(status['identifier'], label=True) %}</th>
	<td>
	  {{ status['description'] }}
	  <table>
	    {% if status.get('initial') %}
	    <tr>
	      <td>Initial status.</td>
	    </tr>
	    {% end %}
	    <tr>
	      {% set editable = ['admin'] %}
	      {% set editable.extend(status.get('edit', [])) %}
	      <td>
		{{ terminology('Order') }} editable by
		{{ ', '.join(editable) or 'none' }}.
	      </td>
	    </tr>
	    <tr>
	      {% set attachable = ['admin'] %}
	      {% set attachable.extend(status.get('attach', [])) %}
	      <td>
		{{ terminology('Order') }} attachable by
		{{ ', '.join(attachable) or 'none' }}.
	      </td>
	    </tr>
	    <tr>
	      <td>From
		{% set none = '[none]' %}
		{% set first = True %}
		{% for trans in settings['ORDER_TRANSITIONS'] %}
		{% if status['identifier'] in trans['targets'] %}
		{% if first %}
		{% set first = False %}
		{% else %}
		,
		{% end %}
		{% set none = '' %}
		<strong>{{ trans['source'] }}</strong>
		(by {{', '.join(trans['permission']) }})
		{% end %}
		{% end %}
		{{ none }}
	      </td>
	    </tr>
	    <tr>
	      <td>To
		{% set none = '[none]' %}
		{% set first = True %}
		{% for trans in settings['ORDER_TRANSITIONS'] %}
		{% if status['identifier'] == trans['source'] %}
		{% for target in trans['targets'] %}
		{% if first %}
		{% set first = False %}
		{% else %}
		,
		{% end %}
		{% set none = '' %}
		<strong>{{ target }}</strong>
		(by {{', '.join(trans['permission']) }})
		{% end %}
		{% end %}
		{% end %}
		{{ none }}
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>

{% end %} {# block main_content #}
