{# List of all orders for an account. #}

{% extends "base.html" %}

{% block head_title %}Orders {{ account['email'] }}{% end %}
{% block body_title %}
{% module Icon('order') %}
Orders
{% module Entity(account) %}
{% end %}

{% block content %}
<form action="{{ reverse_url('orders_account', account['email']) }}"
      id="refresh"
      role="form"
      class="form-inline"
      method="GET">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
      <label class="glyphicon glyphicon-filter"></label>
      <div class="form-group">
	<label for="status">Filter by</label>
	<select name="status" id="status" class="form-control refresh">
	  <option value="">[any status]</option>
	  {% for status in settings['ORDER_STATUSES'] %}
	  {% set sid = status['identifier'] %}
	  {% set sel = sid == params.get('status') and 'selected' or '' %}
	  <option {{ sel }} value="{{ sid }}">{{ sid.capitalize() }}</option>
	  {% end %}
	</select>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</form>
<br>

{% set url_func = functools.partial(reverse_url, 'orders_account', account['email']) %}
{% include 'paging.html' %}

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <table class="table table-striped">
      <tr>
	<th>Order</th>
	<th>Status</th>
	<th>Modified</th>
      </tr>
      {% for order in orders %}
      <tr>
	<td>
	  <a href="{{ reverse_url('order', order['_id']) }}">{{ order.get('title', order['_id']) }}</a>
	</td>
	<td>{% module Icon(order['status'], label=True) %}</td>
	<td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>
{% end %}

{% block javascript_code %}
<script src="{{ static_url('refresh_on_change.js') }}"></script>
{% end %}
