{# Order page. #}
{% extends "base.html" %}

{% block content %}
{% if is_editable %}
  <form action="{{ reverse_url('order_edit', order['_id']) }}"
        method='GET'>
    {% module Submit('edit', title='Edit order') %}
  </form>
{% end %}

<p>

<table class="order">

  <tr>
    <th>Status</th>
    <td>{% module Icon('required') %}</td>
    <td>{% module Icon(order['status'], label=True) %}</td>
    <td>{{ status['description'] }}</td>
  </tr>

  {% if targets %}
  <tr>
    <th></th>
    <td></td>
    <td colspan="2">
      {% for target in targets %}
        <form action="{{ reverse_url('order_transition', order['_id'], target['identifier']) }}"
              method='POST'>
	  {% module Submit(target['identifier'], title=target.get('label', target['identifier'].capitalize())) %}
	</form>
      {% end %}
    </td>
  </tr>
  {% end %}

  <tr>
    <th>Owner</th>
    <td>{% module Icon('required') %}</td>
    <td>
      <a href="{{ reverse_url('user', order['owner']) }}">
	{{ order['owner'] }}
      </a>
    </td>
    <td></td>
  </tr>

  {% for field in fields %}
  <tr>
    {% if field['type'] == 'group' %}
    <th class="group depth{{ field['depth'] }}" colspan="3">
      {{ field.get('label') or field['identifier'] }}
    </th>
    {% else %}
    <th>{{ field.get('label') or field['identifier'] }}</th>
    <td>{% if field['required'] %}{% module Icon('required') %}{% end %}</td>
    <td>{{ order['fields'][field['identifier']] or '-' }}</td>
    <td>{{ field.get('description') or '-' }}</td>
    {% end %}
  </tr>
  {% end %}

</table>

<p>

{% include 'log_table.html' %}

{% end %}
