{# Order edit fields recursive display. #}

{% for field in fields %}

  {# Check if field may not be seen or edited. #}
  {% if (field['restrict_write'] or field['restrict_read']) and not is_staff %}
  {% continue %}
  {% end %}

{% if field['type'] == constants.GROUP %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      {{ field.get('label') or field['identifier'].capitalize() }}
      <small>
	{% if field['identifier'] in order['invalid'] %}
	<span class="text-danger glyphicon glyphicon-remove">
	  ({{ order['invalid'][field['identifier']] }})
	</span>
	{% else %}
	<span class="text-success glyphicon glyphicon-ok">
	</span>
	{% end %}
	{% if field['restrict_read'] %}
	[Read: Staff only]
	{% end %}
	{% if field['restrict_write'] %}
	[Write: Staff only]
	{% end %}
	{{ field.get('description') or '' }}
      </small>
    </h4>
  </div>
  <div class="panel-body">
    {# Recursion: 'include' cannot be used! #}
    {% module Template('order_edit_fields.html', order=order, fields=field['fields'], is_staff=is_staff) %}
  </div>
</div>

{% else %}

<div class="form-group has-feedback">
  <div class="row">
    <div class="col-md-8">
      <label class="control-label" for="{{ field['identifier'] }}">
	{{ field.get('label') or field['identifier'].capitalize() }}
	{% if field['identifier'] in order['invalid'] %}
	<span class="text-danger glyphicon glyphicon-remove">
	  ({{ order['invalid'][field['identifier']] }})
	</span>
	{% else %}
	<span class="text-success glyphicon glyphicon-ok">
	</span>
	{% end %}
      </label>
      {% if field['type'] == constants.SELECT %}
      <select class="form-control"
	      name="{{ field['identifier'] }}"
	      id="{{ field['identifier'] }}">
	{% set value = order['fields'][field['identifier']] %}
	{% if not field['required'] %}
	  {% if value is None %}
	  <option selected value="">[no value]</option>
	  {% else %}
	  <option value="">[no value]</option>
	  {% end %}
	{% end %}
	{% for v in field['select'] %}
	  {% if v == value %}
	  <option selected>{{ v }}</option>
	  {% else %}
	  <option>{{ v }}</option>
	  {% end %}
	{% end %}
      </select>
      {% else %}
      <input type="text" class="form-control"
	     name="{{ field['identifier'] }}"
	     id="{{ field['identifier'] }}"
	     value="{{ order['fields'][field['identifier']] or '' }}">
      {% if field['required'] %}
      <span style="color:red; margin-right: 1em;"
	    class="glyphicon glyphicon-star form-control-feedback"
	    aria-hidden="true">
      </span>
      {% end %}
      {% end %}
    </div>
  </div>
  <span class="help-block">
    {{ field.get('description') or '' }}
  </span>
</div>
{% end %} {# if field['type'] == constants.GROUP #}
{% end %} {# for field in fields #}
