{# Order create page. #}

{% extends "base.html" %}

{% block head_title %}Create '{{ form['title'] }}'{% end %}
{% block body_title %}Create '{{ form['title'] }}'{% end %}

{% block main_content %}
<form action="{{ reverse_url('order_create') }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <input type="hidden" name="form" value="{{ form['_id'] }}">

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="title">Title</label>
	<input type="text" class="form-control" name="title" id="title">
      </div>
    </div>
    <span class="help-block">
      Brief descriptive title. May be edited later.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Create
    </button>
  </div>
</form>

{% end %} {# block main_content #}

{% block javascript_autofocus %}
<script>
  $(function(){ $("#title").focus(); });
</script>
{% end %}
