{# Order list page. #}
{% extends "base.html" %}

{% block subheader %}
<form action="{{ reverse_url('order_create') }}" method='GET'>
  {% module Submit('create', title='Create new order') %}
</form>
<p>
{% end %}

{% block content %}
<table class="listing">
  <tr>
    <th>Link</th>
    <th>Owner</th>
  </tr>
{% for order in orders %}
  <tr>
    <td>
      <a href="{{ reverse_url('order', order['iuid']) }}">
	{{ order['iuid'] }}
      </a>
    </td>
    <td>{{ order['owner'] }}</td>
  </tr>
{% end %}
</table>
{% end %}
