{# List of all orders for an account. #}

{% extends "base.html" %}

{% block head_title %}Orders for {{ account['email'] }}{% end %}
{% block body_title %}
{% module Icon('order') %}
Orders for
<a href="{{ reverse_url('account', account['email']) }}">{{ account['email'] }}</a>
{% end %}

{% block content %}
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <table class="table table-striped">
      <tr>
	<th>Order</th>
	<th>Status</th>
	<th>Modified</th>
      </tr>
      {% for order in orders %}
      <tr>
	<td>
	  <a href="{{ reverse_url('order', order['iuid']) }}">{{ order.get('title', order['iuid']) }}</a>
	</td>
	<td>{% module Icon(order['status'], label=True) %}</td>
	<td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
</div>
{% end %}
