{# Order edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit order
'{{ order.get('title') or order['_id'] }}'
{% end %}

{% block body_title %}
Edit order
'{{ order.get('title') or order['_id'] }}'
{% end %}

{% block main_content %}
<form action="{{ reverse_url('order_edit', order['_id']) }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="__title__">Title</label>
	<input type="text" class="form-control"
	       name="__title__" id="__title__"
	       value="{{ order.get('title') or '' }}">
      </div>
    </div>
    <span class="help-block">
	Brief, descriptive title for the order. It is not required to
	be unique, but it is a good idea to make it so anyway.
    </span>
  </div>

  {# Recursion: 'include' cannot be used! #}
  {% module Template('order_edit_fields.html', fields=fields, order=order, is_staff=is_staff) %}

{#
  {% set stack = [0] %}
  {% for field in fields %}
    {% while field['depth'] < stack[-1] %}
      {% set stack.pop() %}
		</div>
              </div>
	    </td>
	  </tr>
    {% end %}
    {% if field['restrict_read'] and not is_staff %}
    {% continue %}
    {% end %}
    {% if field['type'] == constants.GROUP %}
      {% set stack.append(field['depth'] + 1) %}
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>
	    {{ field.get('label') or field['identifier'].capitalize() }}
	    <small>
	      {% if field['identifier'] in order['invalid'] %}
	      <span class="text-danger glyphicon glyphicon-remove">
		({{ order['invalid'][field['identifier']] }})
	      </span>
	      {% else %}
	      <span class="text-success glyphicon glyphicon-ok">
	      </span>
	      {% end %}
	      {{ field.get('description') or '' }}
	    </small>
	  </h4>
	</div>
	<div class="panel-body">
    {% else %}
      <div class="form-group has-feedback">
	<div class="row">
	  <div class="col-md-8">
	    <label class="control-label" for="{{ field['identifier'] }}">
	      {{ field.get('label') or field['identifier'].capitalize() }}
	      {% if field['identifier'] in order['invalid'] %}
	      <span class="text-danger glyphicon glyphicon-remove">
		({{ order['invalid'][field['identifier']] }})
	      </span>
	      {% else %}
	      <span class="text-success glyphicon glyphicon-ok">
	      </span>
	      {% end %}
	    </label>
	    <input type="text" class="form-control"
		   name="{{ field['identifier'] }}"
		   id="{{ field['identifier'] }}"
		   value="{{ order['fields'][field['identifier']] or '' }}">
	    {% if field['required'] %}
	    <span style="color:red; margin-right: 1em;"
		  class="glyphicon glyphicon-star form-control-feedback"
		  aria-hidden="true">
	    </span>
	    {% end %}
	  </div>
	</div>
	<span class="help-block">
	  {{ field.get('description') or '' }}
	</span>
      </div>
    {% end %}
    {% end %}

    {% while stack.pop() %}
	</div>
      </div>
    {% end %}
#}

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
	<label class="control-label"></label>
	<button type="submit" name="save" value="continue"
		class="btn btn-primary glyphicon glyphicon-save">
	  Save and continue
	</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
	<label class="control-label"></label>
	<button type="submit"
		class="btn btn-primary glyphicon glyphicon-ok">
	  Save and quit
	</button>
      </div>
    </div>
  </div>

</form>

<br>
<form action="{{ reverse_url('order', order['_id']) }}"
      role="form" method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-default glyphicon glyphicon-remove">
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}

{% block javascript_code %}
<script src="{{ static_url('field_visible_if_select.js') }}"></script>
{% end %}
