{# Order report edit page. #}

{% block head_title %}
Edit {{ terminology('order') }} report: {{ order['title'] }}
{% end %}

{% block body_title %}
Edit {% module Icon('order') %}
{{ terminology('order') }} report: {{ order['title'] }}
{% end %}

{% extends "base.html" %}

{% block main_content %}
<form action="{{ reverse_url('order_report_edit', order['_id']) }}"
      role="form"
      enctype="multipart/form-data"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label for="report">File</label>
    <input type="file" name="report" id="report" class="form-control">
    <span class="help-block">
      The report file to upload. An HTML file will be displayed in-line;
      other content types will be downloaded as a file.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Save
    </button>
  </div>

</form>
{% end %} {# block main_content #}

{% block action_content %}
<form action="{{ reverse_url('order', order['_id']) }}"
      role="form"
      method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</form>
{% end %} {# block action_content #}
