{# Pages list page. #}

{% extends "base.html" %}

{% block head_title %}Pages{% end %}
{% block body_title %}{% module Icon('page') %} Pages{% end %}

{% block content %}
<form action="{{ reverse_url('page_create') }}"
      role="form" class="pull-right" method="GET">
  <button type="submit"
	  class="btn btn-sm btn-warning glyphicon glyphicon-plus">
    Create
  </button>
</form>

<div class="row">
  <div class="col-sm-9 col-sm-offset-1">
    <table class="table table-striped">
      <tr>
	<th>Page</th>
	<th>Modified</th>
	<th>Created</th>
      </tr>
      {% for page in pages %}
      <tr>
	<td>
	  {% module Entity(page) %}
	</td>
	<td class="localtime">{{ page['modified'] }}</td>
	<td class="localtime">{{ page['created'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% end %}
