{# Set password page. #}
{% extends "base.html" %}

{% block subheader %}
<p class="subheader">
Set the password for your account in the {{ settings['FACILITY_NAME'] }}
portal. You need a code which has been sent to you by email.
</p>
<p class="subheader">
The email is sent either when your account registration has been
approved by the portal administrator, or when you have reset the
password yourself.
</p>
<p class="subheader">
If required, you may obtain a new code
<a href="{{ reverse_url('reset') }}">by resetting your password again</a>.
</p>
{% end %}

{% block content %}
<form action="{{ reverse_url('password') }}" method="POST">
  {% module xsrf_form_html() %}
  <table class="fields">
    <tr>
      <th>Email address</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="text" name="email" value="{{ email }}">
      </td>
      <td class="description">
	Your email address is your user name in this portal.
      </td>
    </tr>
    <tr>
      <th>Code</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="text" name="code" value="{{ code }}">
      </td>
      <td class="description">
	The code required to set your password.
      </td>
    </tr>
    <tr>
      <th>Password</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="password" name="password">
      </td>
      <td class="description">
	Provide your new password.
      </td>
    </tr>
    <tr>
      <th>Confirm password</th>
      <td>{% module Icon('required') %}</td>
      <td>
	<input type="password" name="confirm_password">
      </td>
      <td class="description">
	Provide your new password again, to avoid mistakes.
      </td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td>
	{% module Submit('login', title='Set and login') %}
      </td>
    </tr>
  </table>
</form>
{% end %}
