{# Set password page. #}
{% extends "base.html" %}

{% block head_title %}Set password{% end %}
{% block body_title %}Set password{% end %}

{% block main_content %}

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      Set the password for your account in this portal. You need a
      code which has been sent to you by email.
    </p>
    <p>
      The email is sent either when your account registration has been
      approved by the portal administrator, or when you have reset the
      password yourself.
    </p>
    <p>
      If required, you may obtain a new code
      <a href="{{ reverse_url('reset') }}">
	by resetting your password again
      </a>.
    </p>
  </div>
</div>

<form action="{{ reverse_url('password') }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="email">Email</label>
	<input type="email" class="form-control"
	       name="email" id="email"
	       value="{{ email }}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <p class="text-muted">
      Your email address is your user account name in this portal.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="code">Code</label>
	<input type="text" class="form-control"
	       name="code" id="code"
	       value="{{ code }}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <p class="text-muted">
      The code required to set your password, which has been sent
      to you by email. You may request a new one
      <a href="{{ reverse_url('reset') }}">by resetting your password again</a>.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="password">Password</label>
	<input type="password" class="form-control"
	       name="password" id="password">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <p class="text-muted">
      Provide your new password, at least {{ constants.PASSWORD_LEN }}
      characters long.
    </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="confirm password">Confirm password</label>
	<input type="password" class="form-control"
	       name="confirm_password" id="confirm_password">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <p class="text-muted">
      Provide your new password again, to avoid typos.
    </p>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
      <button type="submit"
	      class="btn btn-primary glyphicon glyphicon-save">
	Save and login
      </button>
    </div>
  </div>

</form>

{% end %} {# block main_content #}
