{# Set password page. #}
{% extends "base.html" %}

{% block head_title %}Set password{% end %}

{% block body_title %}Set password{% end %}

{% block main_content %}

<div class="well">
  {% module Text('password') %}
</div>

<form action="{{ reverse_url('password') }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="email">Email</label>
	<input type="email" class="form-control"
	       name="email" id="email"
	       value="{{ email }}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <span class="help-block">
      Your email address is your account name in this portal.
    </span>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="code">Code for setting password</label>
	<input type="text" class="form-control"
	       name="code" id="code"
	       value="{{ code }}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <span class="help-block">
      The code required to set your password, which has been
      sent to you by email. You may request a new reset code by
      <a href="{{ reverse_url('reset') }}">resetting your password again</a>.
    </span>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="password">Password</label>
	<input type="password" class="form-control"
	       name="password" id="password">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <span class="help-block">
      Provide your new password, at least {{ constants.MIN_PASSWORD_LENGTH }}
      characters long.
    </span>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="confirm password">Confirm password</label>
	<input type="password" class="form-control"
	       name="confirm_password" id="confirm_password">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <span class="help-block">
      Provide your new password again, to avoid typos.
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
      <button type="submit"
	      class="btn btn-primary glyphicon glyphicon-save">
	Save and login
      </button>
    </div>
  </div>

</form>

{% end %} {# block main_content #}
