{# Register new user page. #}

{% extends "base.html" %}

{% block head_title %}Register new user{% end %}

{% block body_title %}Register new user{% end %}

{% block main_content %}

<div class="panel panel-default">
  <div class="panel-body">
    {% module Text('register', origin=absolute_reverse_url('register')) %}
  </div>
</div>

<form action="{{ reverse_url('register') }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="email">Email</label>
	<input type="email" class="form-control"
	       name="email" id="email">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <span class="help-block">
      Your email address is your user account name in this portal.
    </span>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="first_name">First name</label>
	<input type="text" class="form-control"
	       name="first_name" id="first_name">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="last_name">Last name</label>
	<input type="text" class="form-control"
	       name="last_name" id="last_name">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label" for="university">University</label>
    <div class="row">
      <div class="col-md-6">
	<select class="form-control" name="university" id="university">
	  {% for abbrev, name in sorted(settings['UNIVERSITY_LIST'].items()) %}
	    <option value="{{ abbrev }}">{{ abbrev }} ({{ name }})</option>
	  {% end %}
	  <option value="undefined">[not available in list]</option>
	</select>
	<span style="color:red; margin-right: 2em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
	<input type="text" class="form-control"
	       name="university_other" id="university_other"
	       placeholder="Provide full name if not available in the list.">
      </div>
    </div>
    <span class="help-block">
      Main affiliation: University, college, company, organization, or
      similar.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="department">Department</label>
	<input type="text" class="form-control"
	       name="department" id="department">
      </div>
    </div>
    <span class="help-block">
      University department, company section, group, or similar.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
	<label class="control-label" for="address">Address</label>
	<textarea rows="4" class="form-control"
		  id="address" name="address"></textarea>
      </div>
    </div>
    <span class="help-block">
      Postal address; for delivery of paper documents, returned
      samples, etc.
    </span>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
	<label class="control-label" for="phone">Phone</label>
	<input type="text" class="form-control"
	       name="phone" id="phone">
      </div>
    </div>
    <span class="help-block">
      One or more telephone numbers, separated by comma (,).
    </span>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-primary glyphicon glyphicon-save">
      Register
    </button>
  </div>

</form>

<br>
<form action="{{ reverse_url('home') }}"
      role="form" method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-default glyphicon glyphicon-remove">
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}
