{# Reset password page. #}

{% extends "base.html" %}

{% block head_title %}Reset password{% end %}
{% block body_title %}Reset password{% end %}

{% block main_content %}

<div class="panel panel-default">
  <div class="panel-body">
    {% if is_admin %}
    <form action="{{ reverse_url('text', 'reset') }}"
	  role="form" class="pull-right" method="GET">
      <input type="hidden" name="origin"
	     value="{{ absolute_reverse_url('reset') }}">
      <button type="submit"
	      class="btn btn-sm btn-default glyphicon glyphicon-edit">
	Edit
      </button>
    </form>
    {% end %} {# if is_admin #}
    {% module Text('reset', default='The current password will be invalidated. Instructions on how to set a new one will be sent to the email address.') %}
  </div>
</div>

<form action="{{ reverse_url('reset') }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
	<label class="control-label" for="email">Email</label>
	<input type="email" class="form-control"
	       name="email" id="email"
	       value="{{ email or ''}}">
	<span style="color:red; margin-right: 1em;"
	      class="glyphicon glyphicon-star form-control-feedback"
	      aria-hidden="true"></span>
      </div>
    </div>
    <p class="text-muted">
      Your email address is your user account name in this portal.
    </p>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-primary glyphicon glyphicon-step-backward">
      Reset
    </button>
  </div>

</form>

<br>
<form action="{{ reverse_url('home') }}"
      role="form" method="GET">
  <div class="form-group">
    <label class="control-label"></label>
    <button type="submit"
	    class="btn btn-default glyphicon glyphicon-remove">
      Cancel
    </button>
  </div>
</form>

{% end %} {# block main_content #}
