{# Settings display page. #}

{% extends "base.html" %}

{% block head_title %}Settings{% end %}
{% block body_title %}Settings{% end %}

{% block main_content %}

<div class="row">
  <div class="col-md-8 well">
    <p>
      The values of various system settings. This helps keeping track
      of which files are actually used during server startup. The
      default values are set in the <code>__init__.py</code> file which
      should not be changed.
    </p>
    <p>
      The proper way of changing the settings is by specifying the new
      values in the site-specific YAML settings file. The OrderPortal
      server must be restarted for the changes to take effect.  Only
      the IT responsible for the server system is allowed to do this.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <table class="table">
      {% for key, value in params %}
      <tr>
	<th>{{ key }}</th>
	<td>{{ value }}</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <caption>Order messages</caption>
      <tr>
	<th>Event</th>
	<th>Recipients</th>
	<th>Subject</th>
	<th>Text</th>
      </tr>
      {% for key, value in settings['ORDER_MESSAGES'].iteritems() %}
      <tr>
	<td>{{ key }}</td>
	<td>{{ ', '.join(value['recipients']) }}</td>
	<td>{{ value['subject'] }}</td>
	<td class="pre">{{ value['text'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>
{% end %} {# block main_content #}
