{# Settings display page. #}

{% extends "base.html" %}

{% block head_title %}Settings{% end %}

{% block body_title %}
Settings
<small>Site-specific values for some configuration variables.</small>
{% end %}

{% block main_content %}

<div class="well">
  <p>
    The settings are defined in the YAML settings file given by
    SETTINGS_FILEPATH (see below), which is read on startup of the
    OrderPortal server.
  </p>
  <p>
    To change the settings, the YAML file must be edited and the
    OrderPortal server restarted. Only the sysadmin for the server
    machine can do this.
  </p>
  <p>
    The full list of configuration variables is in
    the <code>__init__.py</code> file.
  </p>
</div>

<table class="table">
  {% for param in params %}
  <tr>
    <th>{{ param }}</th>
    <td>{{ settings.get(param) }}</td>
  </tr>
  {% end %}
</table>
{% end %} {# block main_content #}
