{# Software info page. #}

{% extends "base.html" %}

{% block head_title %}Software information{% end %}
{% block body_title %}Software information{% end %}

{% block main_content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
	<strong>OrderPortal version {{ version }}</strong>
      </div>
      <div class="panel-body">
	<p>
	  The system is written in
	  <a href="https://www.python.org/">Python</a> (versions 2.6 and
	  2.7) and is built on top of
	  the <a href="http://www.tornadoweb.org/en/stable/">Tornado</a>
	  web server and template system using
	  <a href="http://getbootstrap.com/docs/3.3/">bootstrap</a> for display.
	  The <a href="http://couchdb.apache.org/">CouchDB</a>
	  database system is the back-end storage.
	</p>
	<p>
	  The Python code is available in the GitHub repo
	  <a href="https://github.com/pekrau/OrderPortal">pekrau/OrderPortal</a>.
	</p>
	<p>
	  The technical documentation is in the GitHub
	  <a href="https://github.com/pekrau/OrderPortal/wiki">wiki</a>.
	</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Software and systems used in this instance.
      </div>
      <div class="panel-body">
	<table class="table table-noborder">
	  {% for label, url, ver, rem in info %}
	  <tr>
	    <th width="50%">
              <a href="{{ url }}">{{ label }}</a>
            </th>
	    <td width="25%">{{ ver }}</td>
	    <td width="25%">{{ rem }}</td>
	  </tr>
	  {% end %}
	</table>
      </div>
    </div>
  </div>
</div>
{% end %} {# block main_content #}
