{# Statistics page. #}

{% extends "base.html" %}

{% block head_title %}Summary statistics{% end %}
{% block body_title %}Summary statistics{% end %}

{% block body_header_meta %}
<a href="{{ reverse_url('statistics_api') }}">
  {% module Icon('json') %} JSON
</a>
{% end %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">{{ term('Order') }} counts</div>
      <div class="panel-body">
	<table class="table">
	  <tr>
	    <th>Total number</th>
	    <td class="number">{{ orders['count'] }}</td>
	  </tr>
	  {% for status in settings['ORDER_STATUSES'] %}
	  <tr>
	    <th>{% module Icon(status['identifier'], label=True) %} </th>
	    <td class="number">
	      {{ orders['status'].get(status['identifier'], 0) }}
	    </td>
	  </tr>
	  {% end %}
	</table>
      </div>
    </div>
  </div>
</div>
{% end %} {# block content #}
