{# Tech info page. #}

{% extends "base.html" %}

{% block head_title %}Technical information{% end %}

{% block body_title %}Technical information{% end %}

{% block main_content %}

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
	The OrderPortal system version {{ version }} is written in
	<a href="https://www.python.org/download/releases/2.7/">Python
	2.7</a> and is built on top of the Tornado web server and
	template system using bootstrap. The CouchDB database
	system is the back-end storage.
      </div>
      <div class="panel-body">
	<p>
	  The Python code is available at
	  <a href="https://github.com/pekrau/OrderPortal">
	    GitHub pekrau/OrderPortal
	  </a>.
	</p>
	<p>
	  The technical documentation is at the
	  <a href="https://github.com/pekrau/OrderPortal/wiki">
	    GithHub wiki
	  </a>.
	</p>
      </div>
    </div>
      <div class="panel panel-default">
	<div class="panel-heading">
	  The system uses a number of Python packages available from
	  <a href="https://pypi.python.org/pypi">PyPi</a>:
	</div>
	<div class="panel-body">
	  <table class="table table-noborder">
	    {% for key, value in versions['python'] %}
	    <tr>
	      <th width="60%">{{ key }}</th>
	      <td width="40%">{{ value }}</td>
	    </tr>
	    {% end %}
	  </table>
	</div>
      </div>
      <div class="panel panel-default">
	<div class="panel-heading">
	  The system uses the following non-Python software:
	</div>
	<div class="panel-body">
	  <table class="table table-noborder">
	    {% for key, value in versions['other'] %}
	    <tr>
	      <th width="60%">{% raw key %}</th>
	      <td width="40%">{{ value }}</td>
	    </tr>
	    {% end %}
	  </table>
	</div>
      </div>
  </div>
</div>

{% end %} {# block main_content #}
