{# User page. #}

{% extends "base.html" %}

{% block head_title %}User {{ user['email'] }}{% end %}
{% block body_title %}
{% module Icon('user', label=True) %}
{{ user['email'] }}
{% end %}

{% block meta_content %}

{% if is_admin or current_user['email'] == user['email'] %}
<div>
  <a href="{{ reverse_url('user_edit', user['email']) }}"
     class="btn btn-primary glyphicon glyphicon-edit" role="button">
    Edit
  </a>
</div>
<br>
<div>
  <a href="{{ reverse_url('reset') }}"
     class="btn btn-warning glyphicon glyphicon-envelope" role="button">
    Reset password
  </a>
</div>
{% end %} {# if is_admin #}

{% if is_admin and current_user['email'] != user['email'] %}

<br>
{% if user['status'] in (constants.PENDING, constants.DISABLED) %}
<form action="{{ reverse_url('user_enable', user['email']) }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <button type="submit"
	    class="btn btn-success glyphicon glyphicon-ok">
      Enable
    </button>
  </div>
</form>

{% else %}
<form action="{{ reverse_url('user_disable', user['email']) }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <button type="submit"
	    class="btn btn-danger glyphicon glyphicon-remove">
      Disable
    </button>
  </div>
</form>
{% end %} {# if user['status'] #}

{% if deletable %}
<form action="{{ reverse_url('user', user['email']) }}"
      role="form" method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <input type="hidden" name="_http_method" value="delete">
    <button type="submit"
	    class="btn btn-danger glyphicon glyphicon-minus"
	    onclick="return confirm('Cannot be undone! Really delete?');">
      Delete
    </button>
  </div>
</form>
{% end %} {# if user['status'] #}

{% end %} {# if is_admin #}

{% end %} {# block meta_content #}

{% block main_content %}
<table class="table-condensed table-fields">
  {% if is_staff %}
  <tr>
    <th>Orders</th>
    <td>
      <a href="{{ reverse_url('orders_user', user['email']) }}">
	{% module Icon('order') %} Orders
      </a>
    </td>
  </tr>
  {% end %}
  <tr>
    <th>Role</th>
    <td>{% module Icon(user['role'], label=True) %}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% module Icon(user['status'], label=True) %}</td>
  </tr>
  <tr>
    <th>First name</th>
    <td>{{ user.get('first_name') or '-' }}</td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>{{ user.get('last_name') or '-' }}</td>
  </tr>
  <tr>
    <th>University</th>
    <td>{{ user.get('university') or '-' }}</td>
  </tr>
  <tr>
    <th>Department</th>
    <td>{{ user.get('department') or '-' }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td class="pre">{{ user.get('address') or '-' }}</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{ user.get('phone') or '-' }}</td>
  </tr>
  <tr>
    <th>Other data</th>
    <td class="pre">{{ user.get('other') or '-' }}</td>
  </tr>
  <tr>
    <th>Modified</th>
    <td>
      <span class="localtime">{{ user['modified'] }}</span>
      <a href="{{ reverse_url('user_logs', user['email']) }}">
	{% module Icon('logs', label=True) %}
      </a>
    </td>
  </tr>
  <tr>
    <th>Created</th>
    <td class="localtime">{{ user['created'] }}</td>
  </tr>
</table>
{% end %} {# block content #}
