{# Users list page. #}

{% extends "base.html" %}

{% block head_title %}Users{% end %}
{% block body_title %}Users{% end %}

{% block content %}
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <table class="table table-striped">
      <tr>
	<th>User</th>
	<th>Role</th>
	<th>Status</th>
	<th>Latest login</th>
	<th>Modified</th>
	<th>Created</th>
      </tr>
      {% for user in users %}
      <tr>
	<td>
	  <a href="{{ reverse_url('user', user['email']) }}">
	    {{ user['email'] }}
	  </a>
	</td>
	<td>{% module Icon(user['role'], label=True) %}</td>
	<td>{% module Icon(user['status'], label=True) %}</td>
	{% if user.get('login') %}
	<td class="localtime">{{ user['login'] }}</td>
	{% else %}
	<td>-</td>
	{% end %}
	<td class="localtime">{{ user['modified'] }}</td>
	<td class="localtime">{{ user['created'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
  <div class="col-md-2">
  </div>
</div>
{% end %}
