{# User page. #}

{% extends "base.html" %}

{% block head_title %}User {{ user['email'] }}{% end %}
{% block body_title %}
{% module Icon('user', label=True) %}
{{ user['email'] }}
{% end %}

{% block main_content %}
<table class="table-condensed table-fields">
  {% if is_staff %}
  <tr>
    <th>Orders</th>
    <td>
      <a href="{{ reverse_url('orders_user', user['email']) }}">
	{% module Icon('order') %} Orders
      </a>
    </td>
  </tr>
  {% end %}
  <tr>
    <th>Email</th>
    <td>{{ user['email'] }}</td>
  </tr>
  <tr>
    <th>Role</th>
    <td>{% module Icon(user['role'], label=True) %}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% module Icon(user['status'], label=True) %}</td>
  </tr>
  <tr>
    <th>First name</th>
    <td>{{ user.get('first_name') or '-' }}</td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>{{ user.get('last_name') or '-' }}</td>
  </tr>
  <tr>
    <th>University</th>
    <td>{{ user.get('university') or '-' }}</td>
  </tr>
  <tr>
    <th>Department</th>
    <td>{{ user.get('department') or '-' }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td class="pre">{{ user.get('address') or '-' }}</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{ user.get('phone') or '-' }}</td>
  </tr>

  {% if is_admin or current_user['email'] == user['email'] %}
  <tr>
    <th></th>
    <td>
      <form action="{{ reverse_url('user_edit', user['email']) }}"
	    role="form" method="GET">
	<div class="form-group">
	  <button type="submit" class="btn btn-primary glyphicon glyphicon-edit">
	    Edit
	  </button>
	</div>
      </form>
    </td>
  </tr>
  {% end %} {# if is_admin #}

  {% if is_admin and current_user['email'] != user['email'] %}
  {% if user['status'] in (constants.PENDING, constants.DISABLED) %}
  <tr>
    <th></th>
    <td>
      <form action="{{ reverse_url('user_enable', user['email']) }}"
	    role="form" method='POST'>
	{% module xsrf_form_html() %}
	<button class="btn btn-success glyphicon glyphicon-ok">
	  Enable
	</button>
      </form>
    </td>
  </tr>
  {% else %}
  <tr>
    <th></th>
    <td>
      <form action="{{ reverse_url('user_disable', user['email']) }}"
	    role="form" method='POST'>
	{% module xsrf_form_html() %}
	<button class="btn btn-danger glyphicon glyphicon-remove">
	  Disable
	</button>
      </form>
    </td>
  </tr>
  {% end %} {# if user['status'] #}
  {% if user['status'] == constants.PENDING %}
  <tr>
    <th></th>
    <td>
      <form action="{{ reverse_url('user', user['email']) }}"
	    role="form" method='POST'>
	{% module xsrf_form_html() %}
	<input type="hidden" name="_http_method" value="delete">
	<button class="btn btn-default glyphicon glyphicon-minus">
	  {% module Icon('delete', label=True) %}
	</button>
      </form>
    </td>
  </tr>
  {% end %}
  {% end %} {# if is_admin #}
  <tr>
    <th>Modified</th>
    <td>
      <span class="localtime">{{ user['modified'] }}</span>
      <a href="{{ reverse_url('user_logs', user['email']) }}">
	{% module Icon('logs', label=True) %}
      </a>
    </td>
  </tr>
  <tr>
    <th>Created</th>
    <td class="localtime">{{ user['created'] }}</td>
  </tr>
</table>
{% end %} {# block content #}
