{# File edit page. #}

{% extends "../base.html" %}

{% block head_title %}Edit {{ file['name'] }}{% end %}
{% block body_title %}Edit {% module Icon('file') %} {{ file['name'] }}{% end %}

{% block action_content %}
{% module CancelButton(reverse_url('files')) %}
{% end %} {# block action_content #}

{% block main_content %}
<form action="{{ reverse_url('file_edit', file['name']) }}"
      method="POST" role="form" enctype="multipart/form-data">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
        <label for="name">Title</label>
        <input type="text" class="form-control"
               id="title" name="title"
               value="{{ file.get('title') or '' }}">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="help-block">
          Title to display in the list of documents.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-10">
        <label class="control-label" for="hidden">Hidden</label>
        <div class="checkbox">
          {% set checked = file.get('hidden') and 'checked' or '' %}
          <label>
            <input type="checkbox" value="yes"
                   id="hidden" name="hidden" {{ checked }}>
            Do not show the document in the list for an ordinary user. 
            The file is still accessible to all users using an explicit link,
            meaning that it can be referenced from other pages.
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <label for="text">File upload</label>
        <input type="file" name="file" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="help-block">
          Provide a file to overwrite the current data. If none given,
          then no change.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label class="control-label" for="description">Description</label>
        <textarea class="form-control" rows="4"
                  name="description" id="description"
                  >{{ file.get('description') or '' }}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="help-block">
          (Optional: 
          <a href="{{ constants.MARKDOWN_URL }}" target="_blank">Markdown</a>
          notation may be used to format the text.)
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label class="control-label"></label>
        <button type="submit" class="btn btn-success btn-block">
          <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
      </div>
    </div>
  </div>
</form>
{% end %} {# block main_content #}

{% block javascript_autofocus %}
<script>
  $(function(){ $("#name").focus(); });
</script>
{% end %}
