{# Files list page. #}

{% extends "../base.html" %}

{% block head_title %}Documents{% end %}
{% block body_title %}Documents{% end %}

{% block container %}
<div class="container-fluid">
{% end %}

{% block content %}
{% if am_admin %}
<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <a href="{{ reverse_url('file_create') }}"
       role="button" class="btn btn-primary btn-block">
      <span class="glyphicon glyphicon-plus"></span> Create
    </a>
  </div>
</div>
<br>
{% end %} {# if am_admin #}

<div class="row">
  <div class="col-md-12">
    <table id="files" class="table table-striped">
      <thead>
        <tr>
          <th>Document</th>
          <th></th>
          <th>Description</th>
          <th>Modified</th>
          <th></th>
          {% if am_admin %}
          <th></th>
          <th></th>
          <th></th>
          {% end %} {# if am_admin #}
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        {% if am_admin or not file.get('hidden') %}
        <tr>
          <td>
            <a href="{{ reverse_url('file', file['name']) }}">
              {% module ContentType(file['content_type']) %}
              {{ file.get('title') or file['name'] }}
            </a>
          </td>
          <td>
            <a href="{{ reverse_url('file_download', file['name']) }}"
               role="button" class="btn btn-xs btn-primary">
              <span class="glyphicon glyphicon-download-alt"></span>
              Download
            </a>
          </td>

          <td>
            {% module Markdown(file.get('description')) %}
          </td>

          <td class="localtime nobr">{{ file['modified'] }}</td>

          {% if am_admin %}
          <td>
            {% if file.get('hidden') %}
            <span class="glyphicon glyphicon-eye-close"></span>
            Hidden
            {% end %}
          </td>

          <td>
            <a href="{{ reverse_url('file_edit', file['name']) }}"
               role="button" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            </a>
          </td>

          <td>
            <form action="{{ reverse_url('file_edit', file['name']) }}"
                  method="POST" role="form">
              {% module xsrf_form_html() %}
              <input type="hidden" name="_http_method" value="delete">
              <button type="submit" class="btn btn-danger btn-xs"
                      onclick="return confirm('Cannot be undone! Really delete?');">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              </button>
            </form>
          </td>

          <td>
            <a href="{{ reverse_url('file_logs', file['_id']) }}">
              {% module Icon('logs', label=True) %}
            </a>
          </td>
          {% end %} {# if am_admin #}

        </tr>
        {% end %} {# if am_admin or not file.get('hidden') #}
        {% end %} {# for file in files #}
      </tbody>
    </table>    
  </div>
</div>
{% end %} {# block content #}

{% block javascript_code %}
<script>
  $(function() {
    $("#files").DataTable( {
        pagingType: "full_numbers",
        order: [[2, "desc"]],
        columnDefs: [
          {
              targets  : 1,
              orderable: false,
          },
          {
              targets  : 3,
              orderable: false,
          }
            {% if am_admin %}
            ,{
                targets  : 5,
                orderable: false,
            },
            {
                targets  : 6,
                orderable: false,
            },
            {
                targets  : 7,
                orderable: false,
            }
            {% end %}
        ]
    });
  });
</script>
{#
#}
{% end %}
