{# About us information. #}

{% extends "../base.html" %}

{% block head_title %}About us{% end %}
{% block body_title %}About us{% end %}

{% block main_content %}
{% module Text('about') %}
{% end %}

{% block action_content %}
{% if am_admin %}
<form action="{{ reverse_url('text_edit', 'about') }}"
      method="GET" role="form">
  <input type="hidden" name="origin" value="{{ reverse_url('about') }}">
  <button type="submit" class="btn btn-primary btn-block">
    <span class="glyphicon glyphicon-edit"></span> Edit
  </button>
</form>
{% end %} {# if am_admin #}
{% end %} {# block action_content #}
