{# Home page for a logged in user having role 'staff'. #}

{% extends "base.html" %}

{% block content_left %}
<div class="panel panel-default">
  <div class="panel-heading">
    Recently submitted {{ terminology('orders') }}
    <a href="{{ reverse_url('orders', status='submitted') }}"
       class="btn btn-default btn-xs pull-right" role="button">
      <span class="glyphicon glyphicon-list-alt"></span>
      All submitted
    </a>
  </div>
  <div class="panel-body">
    <table class="table-condensed">
      {% for order in orders %}
      <tr>
        <th>{% module OrderLink(order, title=True) %}</th>
        <td>{% module Status(order['status']) %}</td>
        <td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
</div>
{% end %} {# block content_left #}
