{# Home page for a logged in user having role 'staff'. #}

{% extends "base.html" %}

{% block content_left %}
<div class="panel panel-default">
  <div class="panel-heading">
    Recently accepted {{ terminology('orders') }}
  </div>
  <div class="panel-body">
    <table class="table-condensed">
      {% for order in orders %}
      <tr>
        <th>
          <a href="{{ order_reverse_url(order) }}">{{ order['title'] }}</a>
        </th>
        <td>{% module Icon(order['status'], label=True) %}</td>
        <td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
</div>
{% end %} {# block content_left #}
