{# Home page for a logged in user having role 'user'. #}

{% extends "base.html" %}

{% block content_left %}
<div class="panel panel-default">
  <div class="panel-heading">
    My recently modified {{ terminology('orders') }}
  </div>
  <div class="panel-body">
    <table class="table-condensed">
      {% for order in orders %}
      <tr>
        <th>{% module OrderLink(order, title=True) %}</th>
        <td>{% module Status(order['status']) %}</td>
        <td class="localtime">{{ order['modified'] }}</td>
      </tr>
      {% end %}
    </table>
  </div>
</div>
{% end %} {# block content_left #}
